Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Change access modifier
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
Due: unit

Extract method
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
Due: unit

Rename event
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/MeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/ConsumptionMeteringPointCreatedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/OnConsumptionMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Exchange/OnExchangeMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Production/OnProductionMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Exchange/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Production/CreationTests.cs
Due: unit, integration

Move to new home
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Events/MeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/ConsumptionMeteringPointCreatedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/OnConsumptionMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Exchange/OnExchangeMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Production/OnProductionMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Exchange/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Production/CreationTests.cs
Due: unit, integration

Remove unused object
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPointException.cs
Due: unit

Restrict to consumption
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/OnConsumptionMeteringPointCreated.cs
Due: none

Remove unused imports
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/OnConsumptionMeteringPointCreated.cs
Due: none

Restrict to production
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Production/OnProductionMeteringPointCreated.cs
Due: none

Remove event
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/ProductionMeteringPointCreatedDispatcher.cs
Due: unit, integration

Remove event
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Exchange/ExchangeMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/ExchangeMeteringPointCreatedDispatcher.cs
Due: unit, integration

Remove details object
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Exchange/ExchangeMeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
Due: unit

Remove obsolete objects
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Special/SpecialMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Special/SpecialMeteringPointException.cs
Due: unit

Move command and handler to new home
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/ExchangeDetails.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Validation/ScheduledMeterReadingDateIsRequiredRuleError.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Authorization/AuthorizationRegistrationExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/Consumption/ScheduledMeterReadingDateIsRequiredRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ExchangeMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ProductionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/SpecialMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Scenarios.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

Cleanup factory
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
Due: unit

Init commit
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202112131115 Add GridCompany.sql
Due: integration

Refactor check for existing metering point
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
Due: unit

Refactor grid area validation check
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
Due: unit

Extract method
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
Due: unit

Cleanup handler
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ExchangeMeteringPointTests.cs
Due: unit

Add EF implementation of Grid Company
  source/Energinet.DataHub.MeteringPoints.Domain/GridCompanies/ActorType.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridCompanies/GridCompany.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridCompanies/GridCompanyId.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/GridCompanies/GridCompanyEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPointContext.cs
Due: unit

Add information about possible parent or child relationships in cim dto
  source/Energinet.DataHub.MeteringPoints.Application/Queries/MeteringPointDto.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/MeteringPointCimDto.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/MeteringPointSimpleCimDto.cs
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointByGsrnQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/BusinessDocumentFactory.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/AccountingPointCharacteristics/AccountingPointCharacteristicsSerializerTests.cs
Due: unit

Delete obsolete tables
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202112132025 Delete specific metering point tables.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202109232129 Clean database.sql
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPointContext.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: integration

update ack messages and tests
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Acknowledgements/AcknowledgementXmlSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Acknowledgements/ConfirmMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Acknowledgements/MarketActivityRecordWithReasons.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Acknowledgements/RejectMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/Confirm/ConfirmMessageBundleHandler.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/Confirm/ConfirmMessageXmlSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/Confirm/ConfirmRequestChangeOfAccountingPointCharacteristicsXmlDeclaration.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/ConfirmMessageSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/Reject/RejectMessageBundleHandler.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/Reject/RejectMessageXmlSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/Reject/RejectRequestChangeOfAccountingPointCharacteristicsXmlDeclaration.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/RejectMessageSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/Xml/XmlDeclaration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/Acknowledgements/AcknowledgementSerializerTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/Acknowledgements/Confirm.xml
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/Acknowledgements/Reject.xml
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/BundleCreatorTests.cs
Due: unit, integration

Rename object
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Exchange/ExchangeGridAreas.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Exchange/CreationTests.cs
Due: unit

Add hack for setting energy supplier details as when an Accounting point is created. This is done in order to support the upcoming test
  source/Energinet.DataHub.MeteringPoints.Application/Create/SetEnergySupplierHACK.cs
Due: unit

add dapper nodatime mapper
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Startup.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/WebApi/WebApiHost.cs
Due: none

Remove obsolete objects
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/CreateMeteringPointDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedNotificationHandler.cs
Due: unit, integration

update ci
  .github/workflows/ci.yml
Due: none

update cd
  .github/workflows/cd.yml
Due: none

Make UnitType nullable
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterData.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
Due: unit

Add product type as required field
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataFieldSelector.cs
Due: unit

Add test cases
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/ParentChildTests.cs
Due: unit

Test new .github version
  .github/workflows/ci.yml
Due: none

Added list of roles including serialize/deserialize
  source/Energinet.DataHub.MeteringPoints.Domain/GridCompanies/GridCompany.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/GridCompanies/GridCompanyEntityConfiguration.cs
Due: unit

Add method
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/ParentChildTests.cs
Due: unit

Use new version of .github package
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Add information about possible parent or child relationships in cim dto (#548)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  source/Energinet.DataHub.MeteringPoints.Application/Queries/MeteringPointDto.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/MeteringPointCimDto.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/MeteringPointSimpleCimDto.cs
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Startup.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointByGsrnQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/BusinessDocumentFactory.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/WebApi/WebApiHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/AccountingPointCharacteristics/AccountingPointCharacteristicsSerializerTests.cs
Due: unit

Renamed Grid Company to Actor
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202112131115 Add Actor table.sql
  source/Energinet.DataHub.MeteringPoints.Domain/Actors/Actor.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Actors/ActorId.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Actors/ActorType.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/Actors/ActorEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPointContext.cs
Due: unit, integration

Change return type
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/ParentChildTests.cs
Due: unit
