Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Fix indention of file
  Directory.Build.props
Due: none

Add dependency inject capabilities for registering CoR's
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions/ChainOfResponsibility/ChainOfResponsibilityBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions/ChainOfResponsibility/ChainOfResponsibilityExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions/ChainOfResponsibility/CoRDependencyInjectionException.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions/ChainOfResponsibility/EmptyChainException.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions/ChainOfResponsibility/MissingPublicConstructorException.cs
Due: none

Add message receiver for create metering point
  source/Energinet.DataHub.MeteringPoints.Application/Common/Messages/IMessageReceiver.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointMessageReceiver.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/QueueSubscriber.cs
Due: unit, integration

Fix bug
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions/ChainOfResponsibility/ChainOfResponsibilityBuilder.cs
Due: none

Add message receiver for connect metering point
  source/Energinet.DataHub.MeteringPoints.Application/Connect/ConnectMeteringPointMessageReceiver.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
Due: unit, integration

Fix docs for metering point client nuget package
  docs/metering-point-client/documentation.md
  docs/metering-point-client/release-notes/release-notes.md
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
Due: none

Add word to wordlist
  .github/utilities/md-spellcheck/wordlist.txt
Due: none

Change method signature
  source/Energinet.DataHub.MeteringPoints.Application/Common/Messages/IMessageReceiver.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/ConnectMeteringPointMessageReceiver.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointMessageReceiver.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/QueueSubscriber.cs
Due: unit, integration

Add process initiator for create consumption metering point
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/CreateConsumptionMeteringPointInitiator.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointMessageReceiver.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Exchange/CreateExchangeMeteringPointInitiator.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/ICreateMeteringPointInitiator.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
Due: unit, integration

Add process initiator for create exchange metering point
  source/Energinet.DataHub.MeteringPoints.Application/Create/Exchange/CreateExchangeMeteringPointInitiator.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
Due: unit, integration

Add process initiator for create production metering point
  source/Energinet.DataHub.MeteringPoints.Application/Create/Production/CreateProductionMeteringPointInitiator.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
Due: unit, integration

Add connect process logic
  source/Energinet.DataHub.MeteringPoints.Application/Connect/ConnectMeteringPointMessageReceiver.cs
Due: unit

Add message validation
  source/Energinet.DataHub.MeteringPoints.Application/Connect/ConnectMeteringPointMessageReceiver.cs
Due: unit

Handle 404 response from http client
  source/Energinet.DataHub.MeteringPoints.Client/MeteringPointClient.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Client/MeteringPointClientTests.cs
Due: none

Add message validation
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/CreateConsumptionMeteringPointInitiator.cs
Due: unit

Bump client version
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
Due: none

Add message validation
  source/Energinet.DataHub.MeteringPoints.Application/Create/Exchange/CreateExchangeMeteringPointInitiator.cs
Due: unit

Add message validation
  source/Energinet.DataHub.MeteringPoints.Application/Create/Production/CreateProductionMeteringPointInitiator.cs
Due: unit

Refactor handler to delegate to message receiver
  source/Energinet.DataHub.MeteringPoints.Application/Common/IInternalMarketDocument.cs
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/MasterDataDocumentHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit

Fix docs for metering point client nuget package (#448)
  .github/utilities/md-spellcheck/wordlist.txt
  docs/metering-point-client/documentation.md
  docs/metering-point-client/release-notes/release-notes.md
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
Due: none

Handle 404 response from http client (#449)
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
  source/Energinet.DataHub.MeteringPoints.Client/MeteringPointClient.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Client/MeteringPointClientTests.cs
Due: none

Fix test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/TestHost.cs
Due: none

Refactor tests to dispatch to message receiver
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/MasterDataDocumentReceiveTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Remove master data document handler
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/MasterDataDocumentHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/TestHost.cs
Due: unit

Remove interface implementation
  source/Energinet.DataHub.MeteringPoints.Application/Common/IInternalMarketDocument.cs
Due: unit

Change enum mapping to manual
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Helpers/EnumerationMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreatedIntegrationEventExtension.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreatedOutBoundMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Exchange/ExchangeMeteringPointCreatedIntegrationEventExtension.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Exchange/ExchangeMeteringPointCreatedOutBoundMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Production/ProductionMeteringPointCreatedIntegrationEventExtension.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Production/ProductionMeteringPointCreatedOutBoundMapper.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EnumerationMapperTests.cs
Due: unit

Extract common handler logic to base class
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessValidationContext.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/IBusinessProcessValidationContext.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/Messages/IMessageReceiver.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/Messages/MessageReceiver.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/ConnectMeteringPointMessageReceiver.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointMessageReceiver.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/QueueSubscriber.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/MasterDataDocumentReceiveTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

Change initiator to base use base class
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/CreateConsumptionMeteringPointInitiator.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointMessageReceiver.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Exchange/CreateExchangeMeteringPointInitiator.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/ICreateMeteringPointInitiator.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Production/CreateProductionMeteringPointInitiator.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

Fix merge conflicts
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/MasterDataDocumentReceiveTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/TestHost.cs
Due: none

Remove command factory
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/IBusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/TestBusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

Add cancellationtoken
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/IMeteringPointClient.cs
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
  source/Energinet.DataHub.MeteringPoints.Client/MeteringPointClient.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Client/MeteringPointClientTests.cs
Due: none

Add cancellationtoken (#453)
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/IMeteringPointClient.cs
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
  source/Energinet.DataHub.MeteringPoints.Client/MeteringPointClient.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Client/MeteringPointClientTests.cs
Due: none

Add default value for cancellation token
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/IMeteringPointClient.cs
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
  source/Energinet.DataHub.MeteringPoints.Client/MeteringPointClient.cs
Due: none

Add default value for cancellation token (#455)
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/IMeteringPointClient.cs
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
  source/Energinet.DataHub.MeteringPoints.Client/MeteringPointClient.cs
Due: none

Add address validator and process specific validator
  source/Energinet.DataHub.MeteringPoints.Application/Address.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/AddressValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMasterDataRequestValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Exchange/CreateExchangeMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MasterDataDetails.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit

Remove address properties
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMasterDataRequest.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeMasterDataTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Scenarios.cs
Due: unit

Move namespace
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataRequest.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataRequestValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ChangeMasterData/ChangeMasterDataResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeMasterDataTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

Provide default values
  source/Energinet.DataHub.MeteringPoints.Domain/Addresses/Address.cs
Due: unit

Path conditions:
  unit: any of: source/Energinet.DataHub.MeteringPoints.Application/, source/Energinet.DataHub.MeteringPoints.Domain/, source/Energinet.DataHub.MeteringPoints.Tests/
  integration: any of: source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/, source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/
