Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

works now
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Functions/MasterDataRequestListener.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
Due: integration

try something
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
Due: integration

remove
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
Due: none

Change references to keyvault lookups
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/func-localmessagehub.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
Due: none

Try register
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
Due: integration

Remove data entries no longer used
  build/infrastructure/main/kv-shared-resources.tf
Due: none

Protobuf
  source/IntegrationEvents/ChangeConnectionStatus/MeteringPointDisconnectedIntegrationEvent.cs
  source/IntegrationEvents/ChangeConnectionStatus/MeteringPointReconnectedIntegrationEvent.cs
  source/IntegrationEvents/ChangeMasterData/MasterDataUpdatedIntegrationEvent.cs
  source/IntegrationEvents/Connect/MeteringPointConnectedIntegrationEvent.cs
  source/IntegrationEvents/Contracts/IntegrationEventContract.cs
  source/IntegrationEvents/CreateMeteringPoint/ConsumptionMeteringPointCreated.cs
  source/IntegrationEvents/CreateMeteringPoint/ExchangeMeteringPointCreated.cs
  source/IntegrationEvents/CreateMeteringPoint/MeteringPointMessageDequeued.cs
  source/IntegrationEvents/CreateMeteringPoint/ProductionMeteringPointCreated.cs
  source/IntegrationEvents/IntegrationEvents.csproj
  source/IntegrationEvents/Notifications/EnergySupplierChanged/EnergySupplierChanged.cs
  source/IntegrationEvents/Notifications/FutureEnergySupplierChangeRegistered/FutureEnergySupplierChangeRegistered.cs
  source/RequestResponse/Contracts/Contract.cs
  source/RequestResponse/Contracts/Contract.proto
  source/RequestResponse/RequestResponse.csproj
Due: none

Add licenses
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/MessageDispatcher.cs
  source/IntegrationEvents/ChangeConnectionStatus/MeteringPointDisconnectedIntegrationEvent.cs
  source/IntegrationEvents/ChangeConnectionStatus/MeteringPointReconnectedIntegrationEvent.cs
  source/IntegrationEvents/ChangeMasterData/MasterDataUpdatedIntegrationEvent.cs
  source/IntegrationEvents/Connect/MeteringPointConnectedIntegrationEvent.cs
  source/IntegrationEvents/Contracts/IntegrationEventContract.cs
  source/IntegrationEvents/CreateMeteringPoint/ConsumptionMeteringPointCreated.cs
  source/IntegrationEvents/CreateMeteringPoint/ExchangeMeteringPointCreated.cs
  source/IntegrationEvents/CreateMeteringPoint/MeteringPointMessageDequeued.cs
  source/IntegrationEvents/CreateMeteringPoint/ProductionMeteringPointCreated.cs
  source/IntegrationEvents/Notifications/EnergySupplierChanged/EnergySupplierChanged.cs
  source/IntegrationEvents/Notifications/FutureEnergySupplierChangeRegistered/FutureEnergySupplierChangeRegistered.cs
  source/RequestResponse/Contracts/Contract.cs
Due: none

Move proto files and add workflow
  .github/workflows/integration-events-publish.yml
  source/IntegrationEvents/IntegrationEvents.csproj
  source/IntegrationEvents/IntegrationEvents.sln
  source/IntegrationEvents/documents/development.md
  source/IntegrationEvents/documents/release-notes/release-notes.md
  source/IntegrationEvents/source/IntegrationEvents/ChangeConnectionStatus/MeteringPointDisconnectedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/ChangeConnectionStatus/MeteringPointDisconnectedIntegrationEvent.proto
  source/IntegrationEvents/source/IntegrationEvents/ChangeConnectionStatus/MeteringPointReconnectedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/ChangeConnectionStatus/MeteringPointReconnectedIntegrationEvent.proto
  source/IntegrationEvents/source/IntegrationEvents/ChangeMasterData/MasterDataUpdatedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/ChangeMasterData/MasterDataUpdatedIntegrationEvent.proto
  source/IntegrationEvents/source/IntegrationEvents/Connect/MeteringPointConnectedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/Connect/MeteringPointConnectedIntegrationEvent.proto
  source/IntegrationEvents/source/IntegrationEvents/Contracts/IntegrationEventContract.cs
  source/IntegrationEvents/source/IntegrationEvents/Contracts/IntegrationEventContract.proto
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ConsumptionMeteringPointCreated.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ConsumptionMeteringPointCreated.proto
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ExchangeMeteringPointCreated.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ExchangeMeteringPointCreated.proto
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/MeteringPointMessageDequeued.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/MeteringPointMessageDequeued.proto
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ProductionMeteringPointCreated.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ProductionMeteringPointCreated.proto
  source/IntegrationEvents/source/IntegrationEvents/IntegrationEvents.csproj
  source/IntegrationEvents/source/IntegrationEvents/Notifications/EnergySupplierChanged/EnergySupplierChanged.cs
  source/IntegrationEvents/source/IntegrationEvents/Notifications/EnergySupplierChanged/EnergySupplierChanged.proto
  source/IntegrationEvents/source/IntegrationEvents/Notifications/FutureEnergySupplierChangeRegistered/FutureEnergySupplierChangeRegistered.cs
  source/IntegrationEvents/source/IntegrationEvents/Notifications/FutureEnergySupplierChangeRegistered/FutureEnergySupplierChangeRegistered.proto
Due: none

Replace references to KeyVault secrets with KeyVault references (#870)
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/func-localmessagehub.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/kv-shared-access-policies.tf
  build/infrastructure/main/kv-shared-resources.tf
Due: none

Move project
  source/Energinet.DataHub.MeteringPoints.sln
Due: none

Ignore compiled cs files
  .licenserc.json
Due: none

new path
  .licenserc.json
Due: none

Add wildcard
  .licenserc.json
Due: none

trying
  .licenserc.json
Due: none

Add license to project files
  source/IntegrationEvents/source/IntegrationEvents/IntegrationEvents.csproj
  source/RequestResponse/RequestResponse.csproj
Due: none

Fix comments
  source/IntegrationEvents/source/IntegrationEvents/IntegrationEvents.csproj
  source/RequestResponse/RequestResponse.csproj
Due: none

Add to wordlist
  source/IntegrationEvents/source/IntegrationEvents/IntegrationEvents.csproj
  source/RequestResponse/RequestResponse.csproj
  wordlist.txt
Due: none

Change csproj
  source/IntegrationEvents/source/IntegrationEvents/IntegrationEvents.csproj
Due: none

Add licenses
  source/IntegrationEvents/source/IntegrationEvents/ChangeConnectionStatus/MeteringPointDisconnectedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/ChangeConnectionStatus/MeteringPointReconnectedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/ChangeMasterData/MasterDataUpdatedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/Connect/MeteringPointConnectedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/Contracts/IntegrationEventContract.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ConsumptionMeteringPointCreated.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ExchangeMeteringPointCreated.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/MeteringPointMessageDequeued.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ProductionMeteringPointCreated.cs
  source/IntegrationEvents/source/IntegrationEvents/Notifications/EnergySupplierChanged/EnergySupplierChanged.cs
  source/IntegrationEvents/source/IntegrationEvents/Notifications/FutureEnergySupplierChangeRegistered/FutureEnergySupplierChangeRegistered.cs
  source/RequestResponse/Contracts/Contract.cs
Due: none

Rename namespace
  source/IntegrationEvents/source/IntegrationEvents/ChangeConnectionStatus/MeteringPointDisconnectedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/ChangeConnectionStatus/MeteringPointDisconnectedIntegrationEvent.proto
  source/IntegrationEvents/source/IntegrationEvents/ChangeConnectionStatus/MeteringPointReconnectedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/ChangeMasterData/MasterDataUpdatedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/ChangeMasterData/MasterDataUpdatedIntegrationEvent.proto
  source/IntegrationEvents/source/IntegrationEvents/Connect/MeteringPointConnectedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/Connect/MeteringPointConnectedIntegrationEvent.proto
  source/IntegrationEvents/source/IntegrationEvents/Contracts/IntegrationEventContract.cs
  source/IntegrationEvents/source/IntegrationEvents/Contracts/IntegrationEventContract.proto
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ConsumptionMeteringPointCreated.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ConsumptionMeteringPointCreated.proto
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ExchangeMeteringPointCreated.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ExchangeMeteringPointCreated.proto
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/MeteringPointMessageDequeued.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/MeteringPointMessageDequeued.proto
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ProductionMeteringPointCreated.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ProductionMeteringPointCreated.proto
  source/IntegrationEvents/source/IntegrationEvents/Notifications/EnergySupplierChanged/EnergySupplierChanged.proto
  source/IntegrationEvents/source/IntegrationEvents/Notifications/FutureEnergySupplierChangeRegistered/FutureEnergySupplierChangeRegistered.cs
  source/IntegrationEvents/source/IntegrationEvents/Notifications/FutureEnergySupplierChangeRegistered/FutureEnergySupplierChangeRegistered.proto
  source/RequestResponse/Contracts/Contract.cs
  source/RequestResponse/Contracts/Contract.proto
  source/RequestResponse/Requests/MasterData/MasterDataRequest.cs
  source/RequestResponse/Requests/MasterData/MasterDataRequest.proto
  source/RequestResponse/Requests/MasterData/MasterDataRequestResponse.cs
  source/RequestResponse/Requests/MasterData/MasterDataRequestResponse.proto
Due: none

license
  source/IntegrationEvents/source/IntegrationEvents/ChangeConnectionStatus/MeteringPointDisconnectedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/ChangeConnectionStatus/MeteringPointReconnectedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/ChangeMasterData/MasterDataUpdatedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/Connect/MeteringPointConnectedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/Contracts/IntegrationEventContract.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ConsumptionMeteringPointCreated.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ExchangeMeteringPointCreated.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/MeteringPointMessageDequeued.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ProductionMeteringPointCreated.cs
  source/IntegrationEvents/source/IntegrationEvents/Notifications/EnergySupplierChanged/EnergySupplierChanged.cs
  source/IntegrationEvents/source/IntegrationEvents/Notifications/FutureEnergySupplierChangeRegistered/FutureEnergySupplierChangeRegistered.cs
  source/RequestResponse/Contracts/Contract.cs
  source/RequestResponse/RequestResponse.csproj
  source/RequestResponse/Requests/MasterData/MasterDataRequest.cs
  source/RequestResponse/Requests/MasterData/MasterDataRequestResponse.cs
Due: none

Move project file
  .github/workflows/request-response-publish.yml
  source/Energinet.DataHub.MeteringPoints.sln
  source/IntegrationEvents/source/IntegrationEvents/ChangeConnectionStatus/MeteringPointDisconnectedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/ChangeConnectionStatus/MeteringPointReconnectedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/ChangeMasterData/MasterDataUpdatedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/Connect/MeteringPointConnectedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/Contracts/IntegrationEventContract.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ConsumptionMeteringPointCreated.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ExchangeMeteringPointCreated.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/MeteringPointMessageDequeued.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ProductionMeteringPointCreated.cs
  source/IntegrationEvents/source/IntegrationEvents/Notifications/EnergySupplierChanged/EnergySupplierChanged.cs
  source/IntegrationEvents/source/IntegrationEvents/Notifications/FutureEnergySupplierChangeRegistered/FutureEnergySupplierChangeRegistered.cs
  source/RequestResponse/RequestResponse.sln
  source/RequestResponse/documents/development.md
  source/RequestResponse/documents/release-notes/release-notes.md
  source/RequestResponse/source/RequestResponse/Contracts/Contract.cs
  source/RequestResponse/source/RequestResponse/Contracts/Contract.proto
  source/RequestResponse/source/RequestResponse/RequestResponse.csproj
  source/RequestResponse/source/RequestResponse/Requests/MasterData/MasterDataRequest.cs
  source/RequestResponse/source/RequestResponse/Requests/MasterData/MasterDataRequest.proto
  source/RequestResponse/source/RequestResponse/Requests/MasterData/MasterDataRequestResponse.cs
  source/RequestResponse/source/RequestResponse/Requests/MasterData/MasterDataRequestResponse.proto
Due: none

Licenses
  source/IntegrationEvents/source/IntegrationEvents/ChangeConnectionStatus/MeteringPointDisconnectedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/ChangeConnectionStatus/MeteringPointReconnectedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/ChangeMasterData/MasterDataUpdatedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/Connect/MeteringPointConnectedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/Contracts/IntegrationEventContract.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ConsumptionMeteringPointCreated.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ExchangeMeteringPointCreated.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/MeteringPointMessageDequeued.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ProductionMeteringPointCreated.cs
  source/IntegrationEvents/source/IntegrationEvents/Notifications/EnergySupplierChanged/EnergySupplierChanged.cs
  source/IntegrationEvents/source/IntegrationEvents/Notifications/FutureEnergySupplierChangeRegistered/FutureEnergySupplierChangeRegistered.cs
  source/RequestResponse/source/RequestResponse/Contracts/Contract.cs
  source/RequestResponse/source/RequestResponse/Requests/MasterData/MasterDataRequest.cs
  source/RequestResponse/source/RequestResponse/Requests/MasterData/MasterDataRequestResponse.cs
Due: none

Change project location
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Mappers/CreateDefaultChargeLinksMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
Due: none

add using
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
Due: integration

Use ProtobufOutboundFactory
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/ConsumptionMeteringPointCreatedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/CreateMeteringPointDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/ExchangeMeteringPointCreatedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/IntegrationEventDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MasterDataUpdatedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MeteringPointConnectedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MeteringPointDisconnectedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MeteringPointMessageDequeuedIntegrationEventDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MeteringPointReconnectedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/ProductionMeteringPointCreatedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Functions/MasterDataRequestListener.cs
Due: integration

Fix test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TransportTests.cs
Due: none

Added logging for SRE team
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Functions/MeteringPointHttpTrigger.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/LocalMessageHubDataAvailableClient.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/LocalMessageHubTests.cs
Due: unit, integration

Register protobuf mapper
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/Integration/SimpleInjectorSendProtobufExtensions.cs
Due: integration

Register protobuf mapper
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/Integration/SimpleInjectorSendProtobufExtensions.cs
Due: integration

register protobuf inbound mapper
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
Due: integration

reorder using
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
Due: integration

Change mappers to factory
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
Due: integration

Change protobuf stuff
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Pipeline/ProcessOverviewBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/Integration/SimpleInjectorReceiveProtobufExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/Integration/SimpleInjectorSendProtobufExtensions.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TransportTests.cs
Due: none

Try assembly scan
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
Due: integration

Add more assembly scan
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
Due: integration

Add assemblyscan for inbound mapper as well
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
Due: integration

More assembly scan
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Startup.cs
Due: none

Path conditions:
  unit: any of: source/Energinet.DataHub.MeteringPoints.Application/, source/Energinet.DataHub.MeteringPoints.Domain/, source/Energinet.DataHub.MeteringPoints.Tests/
  integration: any of: source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/, source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/
