Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Remove obsolete interface
  source/Energinet.DataHub.MeteringPoints.Application/ICommand.cs
Due: unit

Move correlation services to infrastructure layer
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/HttpCorrelationIdMiddleware.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/MeteringPointHttpTrigger.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/QueueSubscriber.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/ServiceBusCorrelationIdMiddleware.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Correlation/CorrelationContext.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Correlation/ICorrelationContext.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/InternalServiceBus.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/OutboxMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: integration

Move integration event dispatcher interfaces to infrastructure layer
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Dispatchers/IIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Dispatchers/IIntegrationEventDispatchOrchestrator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Messages/MeteringPointCreatedEventMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Services/IntegrationEventDispatchOrchestrator.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

TF update
  build/infrastructure/azfun-processing.tf
  build/infrastructure/sb-integration-event-shared.tf
Due: none

queue name update
  build/infrastructure/azfun-processing.tf
Due: none

Handling of Connect Metering Point Command
  source/Energinet.DataHub.MeteringPoints.Application/ConnectMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Extensions/StringExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ConnectMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPointConnected.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ConnectMeteringPoint/ConnectMeteringPointAccepted.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ConnectMeteringPoint/ConnectMeteringPointRejected.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ConnectMeteringPoint/ConnectMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointNullResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/IOutboxManager.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/OutboxManager.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/InMemoryOutbox.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeteringPointTests.cs
Due: unit, integration

Remove IsAddressWashable from Exchange MeteringPoint
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202105181215 Create MeteringPoints tables.sql
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
Due: unit, integration

Update ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
Due: unit

fix merge error
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeteringPointTests.cs
Due: unit

Update azfun-processing.tf
  build/infrastructure/azfun-processing.tf
Due: none

Variable added
  build/infrastructure/variables.tf
Due: none

Terraform update
  build/infrastructure/sb-integration-event-shared.tf
  build/infrastructure/variables.tf
Due: none

update editorconfig
  .editorconfig
Due: none

update props
  Directory.Build.props
Due: none

compare text with ordinal comparison
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Helpers/EnvironmentFilter.cs
Due: integration

Init commit
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/EventHandlers/CreateMeteringPointDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/EventHandlers/IntegrationEventDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/RequestHandlers/CreateMeteringPointEventHandler.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Channels/AzureEventHubChannel.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/ITopicSender.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedEventMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedEventMessageMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedNotificationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedTopic.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/IIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/IIntegrationEventDispatchOrchestrator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Services/IntegrationEventDispatchOrchestrator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Topic.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/TopicSender.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: integration

init commit
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedEventMessageMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedTopic.cs
Due: integration

Terraform update
  build/infrastructure/azfun-outbox.tf
  build/infrastructure/evh-meteringpoint.tf
Due: none

Remove eventhubs reference
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
Due: none

fix test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
Due: none

update packages
  source/Energinet.DataHub.MeteringPoints.Application/Energinet.DataHub.MeteringPoints.Application.csproj
  source/Energinet.DataHub.MeteringPoints.Domain/Energinet.DataHub.MeteringPoints.Domain.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/Energinet.DataHub.MeteringPoints.EntryPoints.Common.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
Due: unit, integration

use TimerInfo from package
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/ActorMessageDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/TimerTriggers/ScheduleStatus.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/TimerTriggers/TimerInfo.cs
Due: integration

utf-8-bom added
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/ITopicSender.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedTopic.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Topic.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/TopicSender.cs
Due: none

UTF-8-BOM
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/EventHandlers/IntegrationEventDispatcher.cs
Due: integration

Updates
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/EventDispatchers/CreateMeteringPointDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/EventDispatchers/IntegrationEventDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedNotificationHandler.cs
Due: integration

init commit
  build/infrastructure/azfun-ingestion.tf
  build/infrastructure/azfun-outbox.tf
  build/infrastructure/azfun-processing.tf
  build/infrastructure/kv-sharedresources.tf
  build/infrastructure/sb-meteringpoint.tf
  build/infrastructure/sqldb-meteringpoint.tf
  build/infrastructure/stor-postoffice.tf
Due: none

Test push to main
  source/Energinet.DataHub.MeteringPoints.Application/Address.cs
Due: unit

Update xml converter and tests
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/CreateMeteringPointXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/CreateMeteringPointCimXml.xml
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
Due: unit

update entrypoints to use entrypoint base class
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/Energinet.DataHub.MeteringPoints.EntryPoints.Common.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/EntryPoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
Due: integration

skip test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: none

added translator for net settlement group
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/CreateMeteringPointXmlMappingConfiguration.cs
Due: none

fix test
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
Due: unit

move settings from csprojs to common props
  Directory.Build.props
  source/Energinet.DataHub.MeteringPoints.Application/Energinet.DataHub.MeteringPoints.Application.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.Domain/Energinet.DataHub.MeteringPoints.Domain.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/Energinet.DataHub.MeteringPoints.EntryPoints.Common.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
Due: unit, integration

fix warnings
  source/Energinet.DataHub.MeteringPoints.Benchmarks/Program.cs
  source/Energinet.DataHub.MeteringPoints.Benchmarks/ReflectionStrategyBenchmarks.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/MessageQueueItem.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Send/InProcessChannel.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Application/UserIdentity/UserIdentityFactoryTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EnumerationTypeTest/ReflectionStrategyTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/ErrorValidationRegistrationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Send/InProcessChannel.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit, integration

change to nullable instead of forcing null
  source/Energinet.DataHub.MeteringPoints.Tests/SampleData.cs
Due: unit

change protobuf registrations to simplerinjector
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/Integration/ServiceCollectionReceiveProtobuf.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/Integration/ServiceCollectionSendProtobuf.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/Integration/SimpleInjectorReceiveProtobufExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/Integration/SimpleInjectorSendProtobufExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/ProtobufInboundMapperFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/ProtobufOutboundMapperFactory.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TransportTests.cs
Due: integration

BuildingNumberFormat RUle
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/BuildingNumberFormatMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/BuildingNumberWrongFormatValidationError.cs
Due: unit

.
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/BuildingNumberFormatMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/BuildingNumberFormatMustBeValidErrorConverter.cs
Due: unit

Street Code validation added
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/AddressMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/StreetCodeMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/StreetCodeValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/StreetCodeErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/CreateMeteringPointXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/Mappers/CreateMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Processing/Contracts/Contract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Processing/Mappers/CreateMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit
