Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Move to a new home
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/ValidationRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/BusinessProcessType.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/AssertBusinessProcess.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDownMeteringPoint/RequestCloseDownTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Scenarios.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/TestUtils.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit, integration

refactor client tests with(out) security
  source/MeteringPoints.EntryPoints.IntegrationTests/Client/MeteringPointClientSecurityTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Client/MeteringPointClientTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Mocks/JwtTokenValidatorMock.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Tooling/WebApi/Hosts/WebApiHost.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Tooling/WebApi/Hosts/WebApiHostWithSecurity.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Tooling/WebApi/Hosts/WebApiHostWithoutSecurity.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Tooling/WebApi/WebApiWithoutSecurityFactory.cs
Due: none

change 200 ok to 202 accepted
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Functions/MeteringPointHttpTrigger.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointHttpTriggerTests.cs
Due: integration

Rename
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/RequestCloseDownHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/BusinessProcess.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/BusinessProcesses/BusinessProcessTests.cs
Due: unit

Cannot accept request when stage is not applicable
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/BusinessProcess.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/BusinessProcessStatus.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/InvalidBusinessProcessStateException.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/BusinessProcesses/BusinessProcessTests.cs
Due: unit

Create factory method
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/BusinessProcesses/BusinessProcessTests.cs
Due: unit

Process status is changed to rejected
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/RequestCloseDownHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/BusinessProcess.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/RequestWasRejected.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/BusinessProcesses/BusinessProcessConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDownMeteringPoint/RequestCloseDownTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/BusinessProcesses/BusinessProcessTests.cs
Due: unit

Cannot reject request if process stage is not applicable
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/BusinessProcess.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/BusinessProcesses/BusinessProcessTests.cs
Due: unit

Use guid
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/BusinessProcesses/BusinessProcessTests.cs
Due: unit

Extract close down process and use enum for status
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/RequestCloseDownHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/BusinessProcess.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/BusinessProcessStatus.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/CloseDown/CloseDownProcess.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/RequestWasAccepted.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/RequestWasRejected.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Energinet.DataHub.MeteringPoints.Domain.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/BusinessProcesses/BusinessProcessConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/BusinessProcesses/CloseDownProcessConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPointContext.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/BusinessProcesses/BusinessProcessTests.cs
Due: unit

Specialize events
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/CloseDown/CloseDownProcess.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/CloseDown/CloseDownRequestWasAccepted.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/CloseDown/CloseDownRequestWasRejected.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Energinet.DataHub.MeteringPoints.Domain.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/BusinessProcesses/BusinessProcessTests.cs
Due: unit

refactor entrypoints composition root
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/MediatR/SimpleInjectorMediatorContainerExtensions.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Startup.cs
Due: integration

add mediator builder
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/MediatR/MediatorBuilder.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/MediatR/SimpleInjectorMediatorContainerExtensions.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: integration

refactor entrypoints composition root
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/MediatR/SimpleInjectorMediatorContainerExtensions.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/BundleCreatorTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/MeteringPoints.EntryPoints.IntegrationTests.csproj
Due: unit, integration

rename dtos
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/IMeteringPointClient.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/Process.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/ProcessDetail.cs
  source/Energinet.DataHub.MeteringPoints.Client/MeteringPointClient.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Controllers/MeteringPointController.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/MeteringPoints/Queries/MeteringPointProcessesByGsrnQuery.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/MeteringPoints/Queries/MeteringPointProcessesByGsrnQueryHandler.cs
Due: none

Add factory method
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDownMeteringPoint/RequestCloseDownTests.cs
Due: unit

Add request receiver
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/CloseDownRequestReceiver.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/IUnitOfWork.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Functions/BundleDequeuedQueueSubscriber.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Functions/RequestBundleQueueSubscriber.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/OutboxOrchestrator.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Pipeline/UnitOfWorkBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/UnitOfWork.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Notifications/NotificationReceiver.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/InternalCommandProcessor.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDownMeteringPoint/RequestCloseDownTests.cs
Due: unit, integration

Accept request
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/CloseDownRequestReceiver.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDownMeteringPoint/RequestCloseDownTests.cs
Due: unit

add data access config
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202202071500 Create process tables.sql
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/Process.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/ProcessDetailError.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/MeteringPoints/Queries/MeteringPointProcessesByGsrnQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPointContext.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/Processes/GridAreaRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/Processes/ProcessEntityConfiguration.cs
Due: integration

Extract methods
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/CloseDownRequestReceiver.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDownMeteringPoint/RequestCloseDownTests.cs
Due: unit

Change all tests to use request receiver
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/CloseDownRequestReceiver.cs
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/RequestCloseDownValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/EDI/ErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Application/EDI/ErrorMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Controllers/GridAreaController.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Startup.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions/SimpleInjectorExtensions.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDownMeteringPoint/RequestCloseDownTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/ErrorValidationRegistrationTests.cs
Due: unit, integration

introduce process overview behavior and extractors
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointProcessExtractor.cs
  source/Energinet.DataHub.MeteringPoints.Application/ProcessOverview/NullProcessExtractor.cs
  source/Energinet.DataHub.MeteringPoints.Application/ProcessOverview/ProcessExtractor.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202202071500 Create process tables.sql
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/ProcessStatus.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/Process.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/ProcessDetail.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/ProcessDetailError.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/MeteringPoints/Queries/MeteringPointProcessesByGsrnQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Startup.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Pipeline/ProcessOverviewBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/Processes/GridAreaRepository.cs
Due: unit, integration

Reject when metering point does not exist
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/CloseDownRequestReceiver.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/BusinessRulesValidationResult.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDownMeteringPoint/RequestCloseDownTests.cs
Due: unit

Extract method
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/CloseDownRequestReceiver.cs
Due: unit

Slide method
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/CloseDownRequestReceiver.cs
Due: unit

add gsrn to processes
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointProcessExtractor.cs
  source/Energinet.DataHub.MeteringPoints.Application/ProcessOverview/NullProcessExtractor.cs
  source/Energinet.DataHub.MeteringPoints.Application/ProcessOverview/ProcessExtractor.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202202071500 Create process tables.sql
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/Process.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/MeteringPoints/Queries/MeteringPointProcessesByGsrnQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Pipeline/ProcessOverviewBehavior.cs
Due: unit, integration

Add unit of work decorator
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/CloseDownRequestReceiver.cs
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/IRequestReceiver.cs
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/UnitOfWorkDecorator.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDownMeteringPoint/RequestCloseDownTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit

implement query handler
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202202071500 Create process tables.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202109232129 Clean database.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202202081200 Add process test data.sql
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/MeteringPoints/Queries/MeteringPointProcessesByGsrnQueryHandler.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Client/MeteringPointClientTests.cs
Due: integration

Initialize field
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/CloseDownRequestReceiver.cs
Due: unit

Metering point is closed down
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/CloseDownMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/CloseDownMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/CloseDownRequestReceiver.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Events/MeteringPointWasClosedDown.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDownMeteringPoint/RequestCloseDownTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/CloseDownTests.cs
Due: unit

Remove dead code
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
Due: unit

Add documentation
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/IRequestReceiver.cs
Due: unit

Add root request receiver (context class)
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/NoBusinessRequestReceiverFoundException.cs
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/RequestReceiver.cs
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/MasterDataDocumentHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDownMeteringPoint/RequestCloseDownTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit

Remove obsolete code
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/RequestCloseDown.cs
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/RequestCloseDownHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CloseDown/CloseDownResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit

update process name
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointProcessExtractor.cs
Due: unit

Move to new home
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/CloseDownRequestReceiver.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/ReceiveBusinessRequests/IRequestReceiver.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/ReceiveBusinessRequests/NoBusinessRequestReceiverFoundException.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/ReceiveBusinessRequests/RequestReceiver.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/ReceiveBusinessRequests/UnitOfWorkDecorator.cs
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/MasterDataDocumentHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDownMeteringPoint/RequestCloseDownTests.cs
Due: unit

Add extension for registering request receivers
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions/BusinessRequestReceiversExtensions.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: integration

Remove dead code
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: integration

add secrets to test environment variables
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/AuthorizationConfiguration.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Tooling/WebApi/Hosts/WebApiHost.cs
Due: none
