Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

update parser mapper
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/ProtobufMessageParserMap.cs
Due: none

Reverted changes to auto generated files
  source/IntegrationEvents/source/IntegrationEvents/ChangeConnectionStatus/MeteringPointDisconnectedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/ChangeConnectionStatus/MeteringPointReconnectedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/ChangeMasterData/MasterDataUpdatedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/Connect/MeteringPointConnectedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/Contracts/IntegrationEventContract.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ConsumptionMeteringPointCreated.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ExchangeMeteringPointCreated.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/MeteringPointMessageDequeued.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ProductionMeteringPointCreated.cs
  source/IntegrationEvents/source/IntegrationEvents/Notifications/EnergySupplierChanged/EnergySupplierChanged.cs
  source/IntegrationEvents/source/IntegrationEvents/Notifications/FutureEnergySupplierChangeRegistered/FutureEnergySupplierChangeRegistered.cs
  source/RequestResponse/source/RequestResponse/Contracts/Contract.cs
  source/RequestResponse/source/RequestResponse/Requests/MasterData/MasterDataRequest.cs
  source/RequestResponse/source/RequestResponse/Requests/MasterData/MasterDataRequestResponse.cs
Due: none

Applied different version of queued internal commands table
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202206231201 Consolidated models.sql
Due: integration

Remove project references
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.sln
Due: none

Added actor and grid area seed data
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202206231202 Actor seed data.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202206231203 Create grid area seed data.sql
Due: integration

Removed duplicate entry
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202206231202 Actor seed data.sql
Due: integration

Re-added test data
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202206231202 Actor seed data.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202206231203 Create grid area seed data.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202201181200 Fix actor ids.sql
Due: integration

Update Ci and actions
  .github/actions/dotnet-prepare-outputs/action.yml
  .github/actions/publish-release-contents/action.yml
  .github/workflows/ci.yml
Due: none

space removed
  .github/actions/dotnet-prepare-outputs/action.yml
Due: none

add eol '
  .github/actions/dotnet-prepare-outputs/action.yml
Due: none

add '
  .github/actions/dotnet-prepare-outputs/action.yml
Due: none

correct backlash
  .github/actions/dotnet-prepare-outputs/action.yml
Due: none

Bump versions
  .github/workflows/cd.yml
  .github/workflows/client-publish.yml
  .github/workflows/integration-events-publish.yml
  .github/workflows/request-response-publish.yml
Due: none

Bump versions
  .github/workflows/sonarcloud.yml
Due: none

bump version
  .github/workflows/sonarcloud.yml
Due: none

use oidc: ci+cd
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

use oidc: in client-publish
  .github/workflows/client-publish.yml
  docs/metering-point-client/release-notes/release-notes.md
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
Due: none

remove AZURE_SPN_SECRET
  .github/workflows/client-publish.yml
Due: none

-
  .github/workflows/client-publish.yml
Due: none

Use OIDC (#878)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/client-publish.yml
  docs/metering-point-client/release-notes/release-notes.md
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
Due: none

Updated scripts to use create table statements from SQL Server Management Studio instead of Rider
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202206231201 Consolidated models.sql
Due: integration

extract and reply with businessprocessId in meta
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/EventMetadata.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Functions/MasterDataRequestListener.cs
Due: integration

refactor
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Functions/MasterDataRequestListener.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/MasterDataRequestMetadata.cs
Due: integration

add to metadata
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Functions/MasterDataRequestListener.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/MasterDataRequestMetadata.cs
Due: integration

change throw message
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Functions/MasterDataRequestListener.cs
Due: integration

Extend masterdata with possible mp parent id
  source/Energinet.DataHub.MeteringPoints.Application/RequestMasterData/GetMasterDataQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/RequestMasterData/RequestMasterDataTests.cs
Due: unit

Add GridOperatorId to MasterData
  source/Energinet.DataHub.MeteringPoints.Application/RequestMasterData/GetMasterDataQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/RequestMasterData/RequestMasterDataTests.cs
Due: unit

Update contract
  source/RequestResponse/source/RequestResponse/Requests/MasterData/MasterDataRequestResponse.proto
Due: none

Update contract
  source/RequestResponse/source/RequestResponse/Requests/MasterData/MasterDataRequestResponse.cs
Due: none

Update documentation
  source/RequestResponse/documents/release-notes/release-notes.md
Due: none

bump version
  source/RequestResponse/source/RequestResponse/RequestResponse.csproj
Due: none

update md
  source/RequestResponse/documents/release-notes/release-notes.md
Due: none

Remove trailing spaces
  source/RequestResponse/documents/release-notes/release-notes.md
Due: none

Remove Dach as code owner
  .github/CODEOWNERS
Due: none

Update mapper
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Requests/MasterData/MasterDataRequestResponseOutBoundMapper.cs
  source/RequestResponse/source/RequestResponse/Contracts/Contract.cs
  source/RequestResponse/source/RequestResponse/Requests/MasterData/MasterDataRequest.cs
Due: none

Update compiled files location
  source/IntegrationEvents/documents/release-notes/release-notes.md
  source/IntegrationEvents/source/IntegrationEvents/AssemblyInfo.cs
  source/IntegrationEvents/source/IntegrationEvents/ChangeConnectionStatus/MeteringPointDisconnectedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/ChangeConnectionStatus/MeteringPointReconnectedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/ChangeMasterData/MasterDataUpdatedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/Connect/MeteringPointConnectedIntegrationEvent.cs
  source/IntegrationEvents/source/IntegrationEvents/Contracts/IntegrationEventContract.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ConsumptionMeteringPointCreated.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ExchangeMeteringPointCreated.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/MeteringPointMessageDequeued.cs
  source/IntegrationEvents/source/IntegrationEvents/CreateMeteringPoint/ProductionMeteringPointCreated.cs
  source/IntegrationEvents/source/IntegrationEvents/IntegrationEvents.csproj
  source/IntegrationEvents/source/IntegrationEvents/Notifications/EnergySupplierChanged/EnergySupplierChanged.cs
  source/IntegrationEvents/source/IntegrationEvents/Notifications/FutureEnergySupplierChangeRegistered/FutureEnergySupplierChangeRegistered.cs
  source/RequestResponse/documents/release-notes/release-notes.md
  source/RequestResponse/source/RequestResponse/AssemblyInfo.cs
  source/RequestResponse/source/RequestResponse/Contracts/Contract.cs
  source/RequestResponse/source/RequestResponse/RequestResponse.csproj
  source/RequestResponse/source/RequestResponse/Requests/MasterData/MasterDataRequest.cs
  source/RequestResponse/source/RequestResponse/Requests/MasterData/MasterDataRequestResponse.cs
Due: none

Update naming
  .github/workflows/request-response-publish.yml
Due: none

upgrade package
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
Due: none

Add correlation Id
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Functions/MeteringPointHttpTrigger.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/LocalMessageHubDataAvailableClient.cs
Due: integration
