Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Changed Roles column to contain a comma separated list instead of a JSON array
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/Actors/ActorEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPointContext.cs
Due: none

Ensure grid areas match
  source/Energinet.DataHub.MeteringPoints.Application/GridAreas/IGridAreaRepository.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/GridAreas/GridAreaRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/ParentChildTests.cs
Due: unit

Add metering point type to simple cim dto
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/MeteringPointSimpleCimDto.cs
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
Due: none

Ensure only metering points within group 1 or 2 can act as parent
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPointType.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/ParentChildTests.cs
Due: unit

Ensure only metering points in group 3 and 4 can act as child of group 1 metering points
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/ParentChildTests.cs
Due: unit

sql updates
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202109232130 Create Grid Area seed data.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202112141430 Actor seed data.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202112142130 Create Grid Area seed data.sql
Due: integration

Ensure only metering points in group 5 can be coupled to metering points in group 2
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPointType.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/ParentChildTests.cs
Due: unit

Add parent metering point setter method
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Events/CoupledToParent.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/ParentChildTests.cs
Due: unit

Add metering point type to simple cim dto (#555)
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/MeteringPointSimpleCimDto.cs
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
Due: none

Move object to new home
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Energinet.DataHub.MeteringPoints.Application.csproj
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/IGridAreaRepository.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ParentChild/ChildMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ParentChild/Exceptions/ParentCouplingException.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ParentChild/Rules/CannotActAsChild.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ParentChild/Rules/CannotActAsParent.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ParentChild/Rules/OnlySpecificGroupsCanActAsChildOfGroup1.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ParentChild/Rules/OnlySpecificGroupsCanActAsChildOfGroup2.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ParentChild/Rules/OnlySpecificGroupsCanActAsParentRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ParentChild/Rules/ParentAndChildGridAreasMustBeTheSame.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/GridAreas/Create/CreateGridAreaHandler.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Startup.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/GridAreas/GridAreaRepository.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/GridAreas/CreateGridAreaTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/ParentChildTests.cs
Due: unit, integration

Fix configuration
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
Due: none

Move to new home
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/GridAreaRepositoryStub.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/ParentChildTests.cs
Due: unit

Updates
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202109232130 Create Grid Area seed data.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202112142130 Create Grid Area seed data again.sql
  source/Energinet.DataHub.MeteringPoints.Domain/Actors/Actor.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Actors/ActorType.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/Actors/ActorEntityConfiguration.cs
Due: unit, integration

temp actor
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/ActorAccessor.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ChangeMasterData/ChangeMasterDataResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/IActorMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: integration

Fixed identification number / actor type mixup
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202112131115 Add Actor table.sql
  source/Energinet.DataHub.MeteringPoints.Domain/Actors/Actor.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Actors/IdentificationType.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/Actors/ActorEntityConfiguration.cs
Due: unit, integration

Fix type-o
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Exceptions/CannotAssignEnergySupplierExeception.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/SetEnergySupplierTests.cs
Due: unit

Fix type-o
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Exceptions/CannotAssignEnergySupplierException.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/SetEnergySupplierTests.cs
Due: unit

Reverted change to old db script
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202109232130 Create Grid Area seed data.sql
Due: integration

Fixed column name
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202112141430 Actor seed data.sql
Due: integration

Deleted old db seed data
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202109232130 Create Grid Area test data.sql
Due: integration

Updated test seed data
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202109232130 Create Grid Area seed data.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202112141430 Actor seed data.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202112142130 Create Grid Area seed data.sql
Due: integration

Updated seed data
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202112142130 Create Grid Area seed data.sql
Due: integration

Move to domain
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Energinet.DataHub.MeteringPoints.Application.csproj
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/IGridAreaRepository.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/GridAreas/Create/CreateGridAreaHandler.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Startup.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/GridAreas/GridAreaRepository.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/GridAreas/CreateGridAreaTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

Add handling of parent/child coupling
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/IGridAreaRepository.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataFieldSelector.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Events/CoupledToParent.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPointType.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ParentChild/ChildMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ParentChild/Exceptions/ParentCouplingException.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ParentChild/Rules/CannotActAsChild.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ParentChild/Rules/CannotActAsParent.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ParentChild/Rules/OnlySpecificGroupsCanActAsChildOfGroup1.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ParentChild/Rules/OnlySpecificGroupsCanActAsChildOfGroup2.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ParentChild/Rules/OnlySpecificGroupsCanActAsParentRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ParentChild/Rules/ParentAndChildGridAreasMustBeTheSame.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/GridAreaRepositoryStub.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/ParentChildTests.cs
Due: unit

Add hack for setting energy supplier details as when an Accounting point is created. This is done in order to support the upcoming test
  source/Energinet.DataHub.MeteringPoints.Application/Create/SetEnergySupplierHACK.cs
Due: unit

Added actor to test cleanup script
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202109232129 Clean database.sql
Due: integration

Only metering points in group 1 and 2 can act as parent metering point
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/ParentMeteringPointWasNotFound.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/GridAreas/GridAreaRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ParentChild/CannotActAsParentConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ParentChildTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Scenarios.cs
Due: unit

Clean up
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
Due: unit

Ensure parent metering point exists
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ParentChild/ParentMeteringPointWasNotFoundConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ParentChildTests.cs
Due: none

Working on implementing ActorId "Create"
  source/Energinet.DataHub.MeteringPoints.Domain/Actors/ActorId.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Actors/Rules/ActorIdFormatRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Actors/Rules/ActorIdFormatRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridArea.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/GridAreas/Create/CreateGridArea.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/GridAreas/Create/CreateGridAreaHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/GridAreas/CreateGridAreaTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/GridAreas/SampleData.cs
Due: unit

Rename test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ParentChildTests.cs
Due: none

Grid area of parent and child metering points must be same
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ParentChild/ParentAndChildGridAreasMustBeTheSameConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ParentChildTests.cs
Due: none

Only group 5 metering points can act as child of group 2 metering points
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ParentChild/ChildMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ParentChild/Rules/CannotActAsChildOfGroup1MeteringPoints.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ParentChild/Rules/CannotActAsChildOfGroup2MeteringPoints.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ParentChild/Rules/OnlyGroup3And4CanActAsChildOfGroup1.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ParentChild/CannotActAsChildOfGroup2MeteringPointsConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ParentChildTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/ParentChildTests.cs
Due: unit

Refactor test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ParentChildTests.cs
Due: none

Cannot couple group 5 metering points to group 1 metering points
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ParentChild/CannotActAsChildOfGroup1MeteringPointsConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ParentChildTests.cs
Due: none

Child is coupled to parent
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ParentChildTests.cs
Due: unit

update actor access
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202112141430 Actor seed data.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202112141430 Actor test data.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202112142130 Create Grid Area test data.sql
  source/Energinet.DataHub.MeteringPoints.Domain/Actors/ActorId.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Actors/Rules/ActorIdFormatRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/ActorAccessor.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/GridAreas/GridAreaEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ChangeMasterData/ChangeMasterDataResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/IActorMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/GridAreas/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/GridAreas/CreationTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
Due: unit, integration

Fix type-o
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ParentChildTests.cs
Due: none
