Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

added INTERNAL_SERVICEBUS_RETRY_COUNT to terraform settings
  build/infrastructure/azfun-ingestion.tf
Due: none

Update source/Energinet.DataHub.MeteringPoints.Tests/Repositories/IntegrationEventRepositoryTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Repositories/IntegrationEventRepositoryTests.cs
Due: unit

Added input validation with FluentValidation (#79)
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/AuthorizationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/AuthorizationHandlers/ExampleAuthorizationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/AuthorizationResult.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessResult.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/IBusinessRequest.cs
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Energinet.DataHub.MeteringPoints.Application.csproj
  source/Energinet.DataHub.MeteringPoints.Application/Validation/CreateMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/GsrnNumberMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Benchmarks/Program.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessRuleException.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GsrnNumber.cs
  source/Energinet.DataHub.MeteringPoints.Domain/InvalidMeteringPointIdRuleException.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/BusinessRulesValidationResult.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/IBusinessRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/Internals/EnumerationReflection.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/ValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/ValueObject.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/QueueSubscriber.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/ServiceBusUserContextMiddleware.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/AuthorizationBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IBusinessProcessResponder.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InputValidationBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Authorization/CreateMeteringPointInputValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/InputValidation/CreateMeteringPointInputValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit, integration

InternalServicebus retry decorator (#78)
  build/infrastructure/azfun-ingestion.tf
  source/Energinet.DataHub.MeteringPoints.Application/Transport/Channel.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/ChannelResilienceDecorator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/InternalServiceBus.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/Resilience/IChannelResiliencePolicy.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/Resilience/RetryNTimesPolicy.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Send/InProcessChannel.cs
Due: unit, integration

AzureEventHub channel implementation update
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Channels/AzureEventHubChannel.cs
Due: none

add error conversion concept
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessResult.cs
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/GsrnNumberMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/GsrnNumberMustBeValidValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/BusinessRulesValidationResult.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/ValidationError.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/IBusinessProcessResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Pipeline/AuthorizationBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Pipeline/BusinessProcessResultBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Pipeline/InputValidationBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Pipeline/IntegrationEventsDispatchBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Pipeline/UnitOfWorkBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Pipeline/ValidationReportsBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions/SimpleInjectorExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointNullResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/GsrnNumberMustBeValidErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Error.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/ErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/ErrorMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Tests/ErrorValidationRegistrationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit, integration

missing license
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/ErrorConverter.cs
Due: none

Reworked to use INotificationHandler
  source/Energinet.DataHub.MeteringPoints.Domain/Energinet.DataHub.MeteringPoints.Domain.csproj
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/PublishWhenMeteringPointIsCreated.cs
Due: unit, integration

Update
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPointCreated.cs
Due: unit

Update infrastructure-ci-destroy.yml
  .github/workflows/infrastructure-ci-destroy.yml
Due: none

Update infrastructure-ci.yml
  .github/workflows/infrastructure-ci.yml
Due: none

Add seed work
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/InvalidMeteringPointIdRuleException.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/BusinessRuleException.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/BusinessRulesValidationResult.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/IBusinessRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/ValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/ValueObject.cs
Due: unit

Add GSRN value object
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/GsrnNumber.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/GsrnNumberMustBeValidRule.cs
Due: unit

Add seed work for entities and aggregates
  source/Energinet.DataHub.MeteringPoints.Domain/Energinet.DataHub.MeteringPoints.Domain.csproj
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/AggregateRootBase.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/DomainEventBase.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/Entity.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/IDomainEvent.cs
Due: unit

publisher removed
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Services/EventPublisher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Services/IEventPublisher.cs
Due: integration

update
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Repository/IIntegrationEventRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Repository/IntegrationEventRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/PublishWhenMeteringPointIsCreated.cs
Due: none

Test updated
  source/Energinet.DataHub.MeteringPoints.Tests/Repositories/IntegrationEventRepositoryTests.cs
Due: unit

Updates basesd on PR feedback
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/MeteringPointCreatedNotificationHandler.cs
Due: unit, integration

Add metering point repository
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/IMeteringPointRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointRepository.cs
Due: unit

Add initial metering point model
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
Due: unit

Add initial test
  source/Energinet.DataHub.MeteringPoints.Application/Energinet.DataHub.MeteringPoints.Application.csproj
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit

Fix merge conflicts
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/GsrnNumberMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/GsrnNumberMustBeValidRuleError.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit

Update codecov-ci.yml
  .github/workflows/codecov-ci.yml
Due: none

Added input validation method for settlementmethod
  source/Energinet.DataHub.MeteringPoints.Application/Validation/CreateMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodMissingRequiredDomainValuesValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodNotAllowedValidationError.cs
Due: unit

use simpleinjector in integration tests
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Added test method for SettlementMethod input validation. Added ValidationError type for settlementmethod.
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodRequiredValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit

Added missing license lines
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodMissingRequiredDomainValuesValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodNotAllowedValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodRequiredValidationError.cs
Due: unit

Set lang version to 9.0 on all projects to avoid build errors (I.e. <Nullable>enable</Nullable> not working)
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.Benchmarks/Energinet.DataHub.MeteringPoints.Benchmarks.csproj
  source/Energinet.DataHub.MeteringPoints.Domain/Energinet.DataHub.MeteringPoints.Domain.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/Energinet.DataHub.MeteringPoints.EntryPoints.Common.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
Due: unit, integration

change CreateMeteringPoint to record
  source/Energinet.DataHub.MeteringPoints.Application/Address.cs
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/CreateMeteringPointHttpTrigger.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Processing/Mappers/CreateMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TransportTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit, integration

update
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointEventMessage.cs
  source/Energinet.DataHub.MeteringPoints.Application/IntegrationEvent/IIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/MeteringPointCreatedNotificationHandler.cs
Due: unit

Add value object for physical state
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/PhysicalState.cs
Due: unit

Add value object for metering point type
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPointType.cs
Due: unit

Add value object for metering point id
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPointId.cs
Due: unit

Add domain event for metering point created
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPointCreated.cs
Due: unit

Add value objects and temp. properties
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SampleData.cs
Due: unit

Fix merge conflict
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: none

add empty integration tests
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: none

Add grid area id
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridAreaId.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeteringPointTests.cs
Due: unit

Added DB scheme for MeteringPoints (Consumption, Production and Exchange)
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202118051215 Create MeteringPoints tables.sql
Due: integration

domain event stuff added
  source/Energinet.DataHub.MeteringPoints.Application/Common/DomainEvents/IDomainPublisher.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Events/CreateMeteringPointEventMessage.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Pipeline/DomainEventsDispatcherBehaviour.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Pipeline/IntegrationEventsDispatchBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DomainEventDispatching/DomainEventPublisher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DomainEventDispatching/DomainEventsAccessor.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DomainEventDispatching/DomainEventsDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DomainEventDispatching/IDomainEventsAccessor.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DomainEventDispatching/IDomainEventsDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Dispatchers/CreateMeteringPointEventMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Dispatchers/MeteringPointCreatedNotificationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Mappers/CreateMeteringPointEventMessageMapper.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Repositories/IntegrationEventRepositoryTests.cs
Due: unit, integration
