Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Missing tests in actor.cs?
  source/Energinet.DataHub.MeteringPoints.Domain/Actors/Actor.cs
Due: unit

Added latest version of actor registry
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202205311000 Updates from actor registry.sql
Due: integration

map d98 to asset type
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/MasterDataDocumentXmlMappingConfiguration.cs
Due: none

Added all B-001 and newest T-001 users + permissions
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202205311000 Updates from actor registry.sql
Due: integration

Updated with split of DDM and DDQ actors
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202205311000 Updates from actor registry.sql
Due: integration

Bumped MP client version to trigger new release containing latest changes
  docs/metering-point-client/release-notes/release-notes.md
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
  wordlist.txt
Due: none

Add new tests and fix wrong business reason codes
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Acknowledgements/ConfirmMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Acknowledgements/RejectMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageService.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDown/RequestCloseDownTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ExchangeMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ProductionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/DisconnectMeteringPoints/DisconnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ReconnectMeteringPoints/ReconnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/AddressTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/SettlementMethodTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/UpdateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/ConfirmMessageFactoryTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/RejectMessageFactoryTests.cs
Due: unit

init commit
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/.gitignore
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Energinet.DataHub.MeteringPoints.ActorRegistrySync.csproj
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/SyncActors.Actor.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/SyncActors.GridArea.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/SyncActors.GridAreaLink.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/SyncActors.UserActor.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/SyncActors.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/host.json
  source/Energinet.DataHub.MeteringPoints.sln
Due: none

Changed function to be a timer trigger
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/SyncActors.cs
Due: none

Refactoring
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Energinet.DataHub.MeteringPoints.ActorRegistrySync.csproj
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Entities/Actor.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Entities/GridArea.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Entities/GridAreaLink.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Entities/UserActor.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/SyncActors.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/local.settings.sample.json
Due: none

TF added
  .github/actions/publish-release-contents/action.yml
  .github/workflows/ci.yml
  build/infrastructure/main/func-actor-sync.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/locals.tf
Due: none

Add license
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Energinet.DataHub.MeteringPoints.ActorRegistrySync.csproj
Due: none

Update trigger to setting
  build/infrastructure/main/func-actor-sync.tf
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/SyncActors.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/local.settings.sample.json
Due: none

add correct folder
  .github/actions/publish-release-contents/action.yml
Due: none

Added language version and Program.cs host
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Energinet.DataHub.MeteringPoints.ActorRegistrySync.csproj
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Program.cs
Due: none

Started working on http endpoint
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Energinet.DataHub.MeteringPoints.ActorRegistrySync.csproj
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Program.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/SyncActors.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/UpsertUserActor.cs
Due: none

Working on fixing function startup
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Energinet.DataHub.MeteringPoints.ActorRegistrySync.csproj
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Energinet_DataHub_MeteringPoints_ActorRegistrySync.csproj
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Program.cs
Due: none

update TF and remove program
  build/infrastructure/main/func-actor-sync.tf
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Energinet.DataHub.MeteringPoints.ActorRegistrySync.csproj
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Program.cs
Due: none

Set up HTTP trigger to insert user object
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Entities/UserActorDto.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/GrantUserAccess.cs
Due: none

Update SyncActors
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/SyncActors.cs
Due: none

Minor cleanup
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/GrantUserAccess.cs
Due: none

Added property guards and removed Newtonsoft dependency.
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Entities/UserActorDto.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/GrantUserAccess.cs
Due: none

Added creation of new users and improved response to user
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/GrantUserAccess.cs
Due: none

Refactor step 1
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Services/ActorRegistryDBService.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Services/ActorSyncService.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Services/MeteringPointDbService.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/SyncActors.cs
Due: none

Refactoring
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Services/ActorRegistryDBService.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Services/ActorSyncService.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Services/MeteringPointDbService.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/SyncActors.cs
Due: none

Update licenses
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Entities/UserActorDto.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/GrantUserAccess.cs
Due: none

Implemented user access permission service
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Entities/CreateCountResponse.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/GrantUserAccess.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Services/AccessService.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Services/MeteringPointDbService.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/SyncActors.cs
Due: none

change functionlevel
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/GrantUserAccess.cs
Due: none

update sql with stringbuilders
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Services/MeteringPointDbService.cs
Due: none

Refactor to optimize insert statements
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Entities/UserActorDto.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/GrantUserAccess.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Services/AccessService.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Services/MeteringPointDbService.cs
Due: none

Remove obsolete code
  source/Energinet.DataHub.MeteringPoints.Application/Queries/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Queries/ProductionMeteringPoint.cs
Due: unit

Restrict pipeline behaviours to commands only
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/CloseDownMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/Commands/ICommand.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/Commands/ICommandHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/Commands/InternalCommand.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/IChangeMeteringPointRequest.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/AddEnergySupplierHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/ConnectMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/ConnectMeteringPointRequest.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SendAccountingPointCharacteristicsMessageHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SetEnergySupplierDetailsHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/GridAreas/Create/CreateGridArea.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/GridAreas/Create/CreateGridAreaHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Pipeline/DomainEventsDispatcherBehaviour.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Pipeline/UnitOfWorkBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Pipeline/ValidationReportsBehavior.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Infrastructure/InternalCommands/TestCommandHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit

Batching requests and refactored filters for existing users and userActors. Still need to fix insertUser query
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Entities/ActorRegistryActor.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Entities/MeteringPointActor.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/GrantUserAccess.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Services/AccessService.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Services/ActorRegistryDBService.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Services/ActorSyncService.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Services/MeteringPointDbService.cs
Due: none

Added listener for master data requests Added tf for queue name and url
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/kv-shared-resources.tf
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Functions/MasterDataRequestListener.cs
Due: integration

Added config to local settings
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/local.settings.sample.json
Due: integration

Move db connection factory interface to application layer
  source/Energinet.DataHub.MeteringPoints.Application/Common/IDbConnectionFactory.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/MeteringPoints/Queries/MeteringPointByGsrnQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/UserProvider.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ActorProvider.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/EnergySuppliers/Queries/EnergySuppliersByMeteringPointIdQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointByIdQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointGsrnExistsQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/SqlDbConnectionFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/DbGridAreaHelper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/InternalCommandProcessor.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Providers/MeteringPointOwnership/MeteringPointOwnershipProvider.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/AssertBusinessProcess.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/AssertPersistedMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/DisconnectMeteringPoints/DisconnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ReconnectMeteringPoints/ReconnectTests.cs
Due: unit, integration

Add master data query
  source/Energinet.DataHub.MeteringPoints.Application/Common/Queries/IQuery.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/Queries/IQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/RequestMasterData/GetMasterDataQuery.cs
  source/Energinet.DataHub.MeteringPoints.Application/RequestMasterData/GetMasterDataQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/RequestMasterData/RequestMasterDataTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

Batching requests and refactored filters for existing users and userActors. Still need to fix permission filter
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Entities/ActorRegistryActor.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Entities/MeteringPointActor.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/GrantUserAccess.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Services/AccessService.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Services/ActorRegistryDBService.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Services/ActorSyncService.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Services/MeteringPointDbService.cs
Due: none

Added commit transaction
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Services/AccessService.cs
Due: none

Upgrade TF provider
  .github/workflows/ci.yml
  build/infrastructure/main/.terraform-version
  build/infrastructure/main/providers.tf
Due: none
