Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Minor clean up
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MeteringPointConnectedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Outbox/OutboxTests.cs
Due: integration

remove double comment
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/OutboxOrchestrator.cs
Due: integration

Add MarketMeteringPoint superclass in order to be able to distinguish market facing metering point from metering point types, and thereby encapsulate business rules and logic
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202105181215 Create MeteringPoints tables.sql
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/IMarketMeteringPointRepository.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPointContext.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MarketMeteringPointRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

Add command for marking a market metering as having energy supplier assigned
  source/Energinet.DataHub.MeteringPoints.Application/Common/Commands/ICommandHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/MarkAsEnergySupplierAssigned.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SetEnergySupplierAssignedHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
Due: unit

Make connectMP xml converter conform to latest CIM xml
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/ConnectMeteringPointXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/ConnectMeteringPoint/ConnectMeteringPointCimXml.xml
Due: unit

license msg
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/ConnectMeteringPoint/ConnectMeteringPointCimXml.xml
Due: unit

Parameters for error were wrong, resulting in confusing error message
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/NetSettlementGroupRule.cs
Due: unit

Add command scheduler
  source/Energinet.DataHub.MeteringPoints.Application/Common/Commands/ICommandScheduler.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202108121231 Add QueuedInternalCommands.sql
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPointContext.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/CommandScheduler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/QueuedInternalCommand.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/QueuedInternalCommandEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

Add protobuf contract and mappers
  source/Energinet.DataHub.MeteringPoints.Application/Connect/MarkAsEnergySupplierAssigned.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/MarkAsEnergySupplierAssignedHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/Connect/MarkAsEnergySupplierAssigned.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/Connect/MarkAsEnergySupplierAssignedInbound.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/Connect/MarkAsEnergySupplierAssignedOutbound.cs
Due: unit

Include missing file
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
Due: integration

Implement notification handler logic
  source/Energinet.DataHub.MeteringPoints.Application/Common/Commands/ICommandScheduler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/EnergySupplierChangedHandler.cs
Due: unit

Register services
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
Due: integration

Add service for handling incoming notifications from other bounded contexts. The primary purpose is to ensure that UoW commits the transaction after the notification handler has been invoked
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/IntegrationEventReceiver.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Notifications/INotificationReceiver.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Notifications/NotificationReceiver.cs
Due: integration

Add cleanup statement
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Rename command
  source/Energinet.DataHub.MeteringPoints.Application/Connect/EnergySupplierChangedHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SetEnergySupplierInfo.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SetEnergySupplierInfoHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/Connect/SetEnergySupplierInfo.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/Connect/SetEnergySupplierInfoInbound.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/Connect/SetEnergySupplierInfoOutbound.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
Due: unit

remove double comments
  source/Energinet.DataHub.MeteringPoints.Application/Validation/CreateMeteringPointRulesHelper.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/BuildingNumberRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/CitySubDivisionNameRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/ConnectionTypeRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/DisconnectionRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/LocationDescriptionMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MunicipalityCodeRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/PowerPlantMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/BuildingNumberMustBeValidValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/CitySubDivisionNameMaximumLengthValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/ConnectionTypeMandatoryValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/ConnectionTypeNetSettlementGroupValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/ConnectionTypeWrongValueValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/DisconnectionTypeMandatoryValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/DisconnectionTypeWrongValueValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/LocationDescriptionMaximumLengthValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/MunicipalityCodeMustBeValidValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/PowerPlantGsrnEan18ValidValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/PowerPlantValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/Entity.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/BuildingNumberMustValidErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/CitySubDivisionNameMaximumValidErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ConnectionTypeMandatoryErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ConnectionTypeNetSettlementGroupErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ConnectionTypeWrongValueErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/DisconnectionTypeMandatoryErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/DisconnectionTypeWrongValueErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/LocationDescriptionMaximumLengthValidErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MunicipalityCodeMustBeValidErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/PowerPlantGsrnEan18ValidValidationErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/PowerPlantNotEmptyValidationErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Authorization/CreateMeteringPointInputValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/ConnectionRuleTypeTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRulesTest.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/DisconnectionRuleTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/LocalDescriptionRuleTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/MeteringPointSubTypeRuleTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/PhysicalStateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/PowerPlantRuleTests.cs
Due: unit

fix comment
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/Entity.cs
Due: unit

Add internal command dispatcher service
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/SimpleInjector/SimpleInjectorAddProtobufContractsContainerExtensions.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher/Dispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher/Infrastructure/TimerTriggers/ScheduleStatus.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher/Infrastructure/TimerTriggers/TimerInfo.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher/host.json
  source/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/DispatchResult.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/IInternalCommandAccessor.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/IInternalCommandDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/IInternalCommandProcessor.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/InternalCommandAccessor.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/InternalCommandProcessor.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/InternalCommandServiceBusDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.sln
Due: integration

Removed duplicate code
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/SimpleInjector/SimpleInjectorAddProtobufContractsContainerExtensions.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher/Program.cs
Due: integration

Add Internal Command Dispatcher to IaC
  build/infrastructure/main/azfun-internalcommanddispatcher.tf
Due: none

Storage update
  .github/actions/terraform-cd/action.yml
Due: none

Trigger always on branch CI
  .github/workflows/infrastructure-ci.yml
Due: none

action update
  .github/actions/terraform-cd/action.yml
Due: none

path updated
  .github/workflows/infrastructure-ci.yml
Due: none

env variable updates
  .github/workflows/infrastructure-ci.yml
Due: none

uses update
  .github/workflows/infrastructure-ci.yml
Due: none

add xml and db read
  source/Energinet.DataHub.MeteringPoints.Application/Energinet.DataHub.MeteringPoints.Application.csproj
  source/Energinet.DataHub.MeteringPoints.Application/Queries/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Queries/MeteringPointByGsrnQuery.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/OutboxMessageDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/IDbConnectionFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointByGsrnQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/SqlDbConnectionFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/AccountingPointCharacteristics/AccountingPointCharacteristicsMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/AccountingPointCharacteristics/AccountingPointCharacteristicsXmlSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/AccountingPointCharacteristics/ChildMarketEvaluationPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/AccountingPointCharacteristics/MarketActivityRecord.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/AccountingPointCharacteristics/MarketEvaluationPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/AccountingPointCharacteristics/ParentMarketEvaluationPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/AccountingPointCharacteristics/Series.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Acknowledgements/AcknowledgementXmlSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Acknowledgements/ConfirmMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Acknowledgements/MarketActivityRecord.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Acknowledgements/MarketActivityRecordWithReasons.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Acknowledgements/Reason.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Acknowledgements/RejectMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Common/Address/MainAddress.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Common/Address/Status.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Common/Address/StreetDetail.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Common/Address/TownDetail.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Common/MarketParticipant.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Common/MarketRoleParticipant.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Common/Mrid.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Common/UnitValue.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ConnectMeteringPoint/ConnectMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/OutboxMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Serialization/IJsonSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Serialization/JsonSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Serialization/Utf8StringWriter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

align
  .github/workflows/infrastructure-ci.yml
Due: none

.
  .github/workflows/infrastructure-ci.yml
Due: none

Update path
  .github/actions/terraform-cd/action.yml
Due: none

Add handling for setting energy supplier details
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/EnergySupplierDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/EnergySupplierDetailsChanged.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPointMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SystemDateTimeProviderStub.cs
Due: unit

d
  .github/workflows/infrastructure-ci.yml
Due: none

update ci-destroy
  .github/workflows/infrastructure-ci-destroy.yml
Due: none

path update
  .github/actions/terraform-cd/action.yml
Due: none

clean up
  .github/workflows/infrastructure-ci.yml
Due: none

Update tf vars
  .github/workflows/infrastructure-ci-destroy.yml
Due: none

.
  .github/workflows/infrastructure-ci-destroy.yml
Due: none

Include more specific energy supplier details
  source/Energinet.DataHub.MeteringPoints.Application/Connect/EnergySupplierChanged.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/EnergySupplierChangedHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SetEnergySupplierInfo.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SetEnergySupplierInfoHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Notifications/Protobuf/EnergySupplierChangedInboundMapper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
Due: unit
