Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Move test to new home
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/MeteringConfigurationTests.cs
Due: none

Move test to new home
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Scenarios.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/MeteringConfigurationTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/UpdateMasterDataTests.cs
Due: none

Updated GenericNotificationMessage actor to have the role "DDQ"
  source/Energinet.DataHub.MeteringPoints.Application/Create/SetEnergySupplierHACK.cs
  source/Energinet.DataHub.MeteringPoints.Application/EDI/IActorMessageService.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageService.cs
Due: unit

Remove duplicate test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
Due: none

Capacity must be correct format Superflous meter reading date test removed
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/PhysicalConnectionCapacityTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ScheduledMeterReadingDateTests.cs
Due: none

Capacity is mandatory when net settlement group is not zero
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/PhysicalConnectionCapacityTests.cs
Due: none

Reject if metering method value is invalid
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringMethodMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/InvalidMeteringMethodRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/InvalidMeteringMethodValueErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/MeteringConfigurationTests.cs
Due: unit

Reject if meter number value is invalid
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/MeteringConfigurationTests.cs
Due: none

Capacity test with alphanumeric value
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/PhysicalConnectionCapacityTests.cs
Due: none

Effective data tests moved to seperate class
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/EffectiveDateTests.cs
Due: none

Asset type tests moved to separate class
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/AssetTypeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
Due: none

Extract tests for total consumption metering points
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/SpecialMeteringPointValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/TotalComsumptionTests.cs
Due: unit

Extract validator for total consumption metering point
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/TotalConsumption/Validator.cs
Due: unit

Remove duplicate test
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/TotalComsumptionTests.cs
Due: unit

Fix spell error
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/TotalConsumptionTests.cs
Due: unit

Add metering method restriction rule for total consumption metering point
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Errors/MeteringMethodIsNotApplicable.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/TotalConsumption/Rules/MeteringMethodMustBeVirtualOrCalculated.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/TotalConsumption/Validator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringMethodIsNotApplicableErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Scenarios.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/MeteringConfigurationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/TotalConsumptionTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
Due: unit

Remove duplicate tests
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/SpecialMeteringPointValidationTests.cs
Due: unit

Fix error description
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringMethodIsNotApplicableErrorConverter.cs
Due: none

Reject if asset type value is invalid
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/InvalidAssetTypeValueValidationErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/AssetTypeTests.cs
Due: none

Move test to new home
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ProductTypeTests.cs
Due: none

Product type input value must be valid
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/InvalidProductTypeValueErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ProductTypeTests.cs
Due: none

Asset type cannot be removed if required
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/AssetTypeRule.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/AssetTypeTests.cs
Due: unit

Reject if product type configuration is invalid
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/InvalidProductTypeErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ProductTypeTests.cs
Due: none

Product type cannot be removed if field is required
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ProductTypeTests.cs
Due: none

Move test to new home
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/UnitTypeTests.cs
Due: none

Unit type value must be valid
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/InvalidUnitTypeValueErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/UnitTypeTests.cs
Due: none

Power limit reject tests implemented
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/PowerLimitTests.cs
Due: none

Unit type cannot be removed if field is required
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/UnitTypeTests.cs
Due: none

Unit type must be valid according to metering point type
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/UnitTypeTests.cs
Due: none

remove currentactor from internalcommands
  source/Energinet.DataHub.MeteringPoints.Application/Create/SetEnergySupplierHACK.cs
  source/Energinet.DataHub.MeteringPoints.Application/Energinet.DataHub.MeteringPoints.Application.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202201240945 Remove current actor from internal queue commands.sql
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/XmlSenderValidator.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageService.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/IMessageHubDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/MessageHubDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/InternalServiceBus.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/CommandScheduler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/InternalCommandServiceBusDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/QueuedInternalCommand.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/QueuedInternalCommandEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
Due: unit, integration

Change error code
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeasureUnitTypeIsRequiredErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/UnitTypeTests.cs
Due: none

Fix merge conflicts
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
Due: none

Move tests to new home
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/EffectiveDateTests.cs
Due: none

Move test to new home
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/MeterReadingPeriodicityTests.cs
Due: none

bump testcommon packages
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
  source/MeteringPoints.EntryPoints.IntegrationTests/MeteringPoints.EntryPoints.IntegrationTests.csproj
Due: unit

remove unused field
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/MessageHubDispatcher.cs
Due: none

Rename
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/MeterReadingPeriodicityTests.cs
Due: none

Added script to create user table and a many to many table between User and Actor
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202201241040 Create user table.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202201241235 Add user and user relation.sql
Due: integration

Meter reading periodicity value must be valid
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/InvalidReadingPeriodicityTypeErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/MeterReadingPeriodicityTests.cs
Due: none

Path conditions:
  unit: any of: source/Energinet.DataHub.MeteringPoints.Application/, source/Energinet.DataHub.MeteringPoints.Domain/, source/Energinet.DataHub.MeteringPoints.Tests/
  integration: any of: source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/, source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/
