Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Extract other consumption validator
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/OtherConsumption/OtherConsumptionValidator.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/OtherConsumptionTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/SpecialMeteringPointValidationTests.cs
Due: unit

Extract wholesale services validator
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/WholesaleServices/WholesaleServicesValidator.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/SpecialMeteringPointValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/WholesaleServicesTests.cs
Due: unit

Extract other production validator
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/OtherProduction/OtherProductionValidator.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/OtherProductionTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/SpecialMeteringPointValidationTests.cs
Due: unit

Extract own production validator
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/OwnProduction/OwnProductionValidator.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/OwnProductionTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/SpecialMeteringPointValidationTests.cs
Due: unit

Extract electrical heating validator
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/ElectricalHeating/ElectricalHeatingValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataValidator.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ElectricalHeatingTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/SpecialMeteringPointValidationTests.cs
Due: unit

Metering method can not be changed from "Calculated" on Surplus Production Group
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Errors/MeteringMethodMustRemainCalculatedRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/MeteringMethodMustRemainCalculatedRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/SurplusProductionGroupValidator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringMethodMustRemainCalculatedRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/SpecialMeteringPointValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/SurplusProductionGroupMeteringPointValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit

Extract Grid loss correction validator
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/GridLossCorrection/GridLossCorrectionValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataValidator.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/GridLossCorrectionTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/SpecialMeteringPointValidationTests.cs
Due: unit

Extract net from grid validator
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/NetFromGrid/NetFromGridValidator.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/NetFromGridTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/SpecialMeteringPointValidationTests.cs
Due: unit

Extract net to grid validator
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/NetToGrid/NetToGridValidator.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/NetToGridTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/SpecialMeteringPointValidationTests.cs
Due: unit

Extract Supply to grid validator
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/SupplyToGrid/SupplyToGridValidator.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/SpecialMeteringPointValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/SupplyToGridTests.cs
Due: unit

Disconnect only when physicalstate is connected
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Exceptions/MeteringPointDisconnectException.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Disconnect/PhysicalStateMustBeConnectedError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Disconnect/PhysicalStateMustBeConnectedRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Disconnect/PhysicalStateMustBeConnectedErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/DisconnectTests.cs
Due: unit

Extract consumption from grid validator
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/ConsumptionFromGrid/ConsumptionFromGridValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataValidator.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ConsumptionFromGridTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/SpecialMeteringPointValidationTests.cs
Due: unit

Fix merge conflicts
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/OtherConsumption/OtherConsumptionMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/OtherConsumption/OtherConsumptionValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/OtherProduction/OtherProductionMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/OtherProductionMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/OtherConsumptionTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/OtherProductionTests.cs
Due: unit

Remove dead code
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/SpecialMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/SpecialMeteringPointValidationTests.cs
Due: unit

Move to new home
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/SurplusProduction/SurplusProductionGroupValidator.cs
Due: unit

Rename
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/ConsumptionValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/OtherConsumption/OtherConsumptionValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/OtherProduction/OtherProductionValidator.cs
Due: unit

update packages
  build/infrastructure/main/app-webapi.tf
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/GridOperatorPolicies/CurrentActorIsGridOperatorPolicy.cs
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/GridOperatorPolicies/GridOperatorIsOwnerPolicy.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMeteringPointAuthorizer.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointAuthorizer.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/SetEnergySupplierHACK.cs
  source/Energinet.DataHub.MeteringPoints.Application/Energinet.DataHub.MeteringPoints.Application.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/XmlSenderValidator.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/NullUserProvider.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Startup.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ActorProvider.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageService.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/InternalServiceBus.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Client/MeteringPointClientTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Tooling/WebApi/WebApiHost.cs
Due: unit, integration

Fix merge conflicts
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/NetConsumption/NetConsumptionRules.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/NetConsumption/NetConsumptionValidator.cs
Due: unit

Add target property
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Analysis/AnalysisValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/ConsumptionValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/ConsumptionFromGrid/ConsumptionFromGridValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/ElectricalHeating/ElectricalHeatingValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Exchange/ExchangeMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/ExchangeReactiveEnergy/ExchangeReactiveEnergyValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/GridLossCorrection/GridLossCorrectionValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/IMasterDataValidatorStrategy.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/InternalUse/InternalUseValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/NetConsumption/NetConsumptionValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/NetFromGrid/NetFromGridValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/NetProduction/NetProductionValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/NetToGrid/NetToGridValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/OtherConsumption/OtherConsumptionValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/OtherProduction/OtherProductionValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/OwnProduction/OwnProductionValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Production/ProductionMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/SupplyToGrid/SupplyToGridValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/SurplusProduction/SurplusProductionGroupValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/TotalConsumption/TotalConsumptionValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/VEProduction/VEProductionMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/WholesaleServices/WholesaleServicesValidator.cs
Due: unit

undo actorprovider
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ActorProvider.cs
Due: none

Energy supplier Rule for accounting point
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/DisconnectTests.cs
Due: unit, integration

update versions
  source/Energinet.DataHub.MeteringPoints.Application/Energinet.DataHub.MeteringPoints.Application.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi.csproj
Due: unit, integration

Add constructor for injecting validator strategies
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/IMasterDataValidatorStrategy.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataValidator.cs
Due: unit

Change to internal since this method is used by metering point during update scenario only
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataValidator.cs
Due: unit

fix missing setting
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
Due: none

Use master data validator via DI
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/ConsumptionValidator.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions/MasterDataValidatorsRegistrationExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

Changed effective date to "23"
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/DateFormatMustBeUTCRule.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/EffectiveDateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/EffectiveDateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/Policies/EffectiveDatePolicyTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/ConnectMeteringPointRulesTest.cs
Due: unit

Remove constructor
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/NetConsumption/NetConsumptionValidator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions/MasterDataValidatorsRegistrationExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/AnalysisValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ConsumptionFromGridTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ConsumptionMeteringPointValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ElectricalHeatingTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ExchangeMeteringPointValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ExchangeReactiveEnergyValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/GridLossCorrectionTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/InternalUseValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/NetConsumptionTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/NetFromGridTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/NetProductionTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/NetToGridTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/OtherConsumptionMeteringPointValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/OtherProductionMeteringPointValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/OwnProductionTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ProductionMeteringPointValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/SupplyToGridTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/SurplusProductionGroupMeteringPointValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/TotalConsumptionTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/VEProductionMeteringPointValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/WholesaleServicesTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/UpdateMasterDataTests.cs
Due: unit

Update packages
  source/Energinet.DataHub.MeteringPoints.Application/Energinet.DataHub.MeteringPoints.Application.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi.csproj
Due: unit, integration

Change URL for retrieval of OpenID Configurations to hardcoded one until it exists as environment variable
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Startup.cs
Due: none

Temp hardcode settings
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Startup.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Client/MeteringPointClientTests.cs
Due: none

Move update logic to domain service
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataUpdateHandler.cs
Due: unit

First part of integration test success happy flow
  source/Energinet.DataHub.MeteringPoints.Application/Disconnect/DisconnectMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Disconnect/DisconnectMeteringPointRequest.cs
  source/Energinet.DataHub.MeteringPoints.Application/Disconnect/DisconnectMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Disconnect/DisconnectSettings.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/DisconnectMeteringPoint/DisconnectMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/DisconnectMeteringPoints/DisconnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit

Confirm/Reject message implemented
  source/Energinet.DataHub.MeteringPoints.Application/EDI/IActorMessageService.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/AccountingPointCharacteristics/BusinessReasonCodes.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Acknowledgements/ConfirmMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Acknowledgements/RejectMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageService.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/DisconnectMeteringPoint/DisconnectMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/DocumentType.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/DisconnectMeteringPoints/DisconnectTests.cs
Due: unit

Clean up
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataUpdateHandler.cs
Due: unit

Rename
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataUpdateHandler.cs
Due: unit

Integration event disconnect implemented
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MeteringPointDisconnectedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Contracts/IntegrationEventContract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Helpers/OutboxTypeFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Disconnect/MeteringPointDisconnectedIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Disconnect/MeteringPointDisconnectedIntegrationEvent.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Disconnect/MeteringPointDisconnectedMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Disconnect/MeteringPointDisconnectedTopic.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Disconnect/OnMeteringPointDisconnected.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/DisconnectMeteringPoints/DisconnectTests.cs
Due: integration

Rename class
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/ChildMeteringPoints/ParentChildCouplingHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

Change access modifier
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
Due: unit

Changed CIM XML files to use T23 format
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202110281315 Create Metering Point test data.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202201061300 Create Metering Point test data.sql
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/ConnectMeteringPoint/ConnectMeteringPointCimXml.xml
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/TestDataCreator.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/TestFiles/Cim/CreateMeteringPointConsumption.xml
  source/MeteringPoints.EntryPoints.IntegrationTests/TestFiles/Cim/CreateMeteringPointExchange.xml
  source/MeteringPoints.EntryPoints.IntegrationTests/TestFiles/Cim/CreateMeteringPointProduction.xml
Due: unit, integration
