Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

add missing license
  source/Energinet.DataHub.MeteringPoints.Application/EDI/IBusinessDocumentFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/BusinessDocumentFactory.cs
Due: unit

add empty line
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/AccountingPointCharacteristics/AccountingPointCharacteristics.xml
Due: unit

Add general check to ensure no changes can done when metering point is closed down
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
Due: unit

Add general check to ensure no changes can done when metering point is closed down
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPointClosedForChangesException.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
Due: unit

add RunnableInDebugOnly attribute
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/AccountingPointCharacteristics/AccountingPointCharacteristicsSerializerTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Tooling/RunnableInDebugOnlyAttribute.cs
Due: unit

Add authorization handling for change master data (#463)
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/AuthorizationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/GridOperatorPolicies/GridOperatorIsNotOwnerOfMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/GridOperatorPolicies/GridOperatorIsOwnerPolicy.cs
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/IAuthorizer.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Authorizer.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessResult.cs
  source/Energinet.DataHub.MeteringPoints.Application/Providers/MeteringPointOwnership/IMeteringPointOwnershipProvider.cs
  source/Energinet.DataHub.MeteringPoints.Application/Providers/MeteringPointOwnership/Owner.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Authorization/AuthorizationRegistrationExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Authorization/NullAuthorizer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Pipeline/AuthorizationBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions/SimpleInjectorExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Authorization/GridOperatorIsNotOwnerOfMeteringPointErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Providers/MeteringPointOwnership/MeteringPointOwnershipProvider.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UserContextStub.cs
Due: unit, integration

Add transaction id validation
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataRequestValidator.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeTests.cs
Due: unit

Refactor: Message input validations (#478)
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Exchange/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Production/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/ValidationRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/AssetTypeRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/CapacityRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/ConnectionTypeRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/DisconnectionTypeRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeterNumberMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringMethodMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/NetSettlementGroupRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/PowerPlantMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/ProductTypeRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/DisconnectionTypeWrongValueValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/NetSettlementGroupInvalidValueValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/ProductTypeInvalidValueValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/ProductTypeMandatoryValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/DisconnectionTypeWrongValueErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/NetSettlementGroupInvalidValueErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ProductTypeInvalidValueErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ProductTypeMandatoryErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ProductionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/MasterDataDocumentReceiveTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/TestBusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/TestBusinessRequest.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/TestBusinessRequestHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/TestBusinessRequestResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Scenarios.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/DisconnectionRuleTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/PowerPlantRuleTests.cs
Due: unit

remove comment
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
Due: unit

remove file
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/EnergySuppliers/EnergySuppliersTests.cs
Due: unit

minor updates
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Special/SpecialMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
Due: unit, integration

Update test host
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Add empty integration event dispatcher
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/NullMeteringConfigrationChangedDispatcher.cs
Due: integration

add SpecialMeteringPointException
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Special/SpecialMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Special/SpecialMeteringPointException.cs
Due: unit

fix nullables in meteringpointdto
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SendAccountingPointCharacteristicsMessageHandler.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/MeteringPointDto.cs
Due: unit

Throw exception if unable to update metering point
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/MasterDataValueUpdater.cs
Due: unit

Remove commented out code
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
Due: none

init
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Special/CreateSpecialMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Authorization/AuthorizationRegistrationExtensions.cs
Due: unit

Register IAuthorizer Create Special Metering Point
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Authorization/AuthorizationRegistrationExtensions.cs
Due: none

Fix merge conflicts
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Special/CreateSpecialMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Special/Rules/MeteringMethodRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Special/SpecialMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Special/SpecialMeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Scenarios.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Special/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
Due: unit

Add comment
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
Due: unit

Connect child MP to legal parent MP
  source/Energinet.DataHub.MeteringPoints.Application/Create/Special/CreateSpecialMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Queries/GridAreaContainsMeteringPointIdsQuery.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Special/SpecialMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Special/SpecialMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Special/SpecialMeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/GridAreas/Queries/GridAreaContainsMeteringPointIdsQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/SpecialMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
Due: unit

add validation for parent gridarea
  source/Energinet.DataHub.MeteringPoints.Application/Create/Special/CreateSpecialMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Special/Rules/GridAreaMustBeTheSameForParentRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Special/Rules/GridAreaMustBeTheSameForParentRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/Special/GridAreaMustBeTheSameForParentRuleErrorConverter.cs
Due: unit

POC on test inheritence
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/ConsumptionMeteringPointCreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointCreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/ProductionMeteringPointCreationTests.cs
Due: unit

remove unused variable
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Special/Rules/MeterReadingOccurrenceConditionalRule.cs
Due: unit

Update ci.yml
  .github/workflows/ci.yml
Due: none

add parent must be market mp rule
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SetEnergySupplierDetailsHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Special/CreateSpecialMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/IMarketMeteringPointRepository.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Special/Rules/ParentMustBeMarketMeteringPointConditionalRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Special/Rules/ParentMustBeMarketMeteringPointConditionalRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MarketMeteringPointRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/Special/ParentMustBeMarketMeteringPointConditionalRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/SpecialMeteringPointTests.cs
Due: unit

Update cd.yml
  .github/workflows/cd.yml
Due: none

removed unused workflows
  .github/actions/dependabot-project-check/action.yml
  .github/actions/get-version-suffix/action.yml
  .github/actions/nuget-assert-release-version/action.yml
Due: none

make conditional rule actually conditional
  source/Energinet.DataHub.MeteringPoints.Application/Create/Special/CreateSpecialMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Special/Rules/ParentMustBeMarketMeteringPointConditionalRule.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/SpecialMeteringPointTests.cs
Due: unit

What: Update to match environment variables
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/WebApi/WebApiHost.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
Due: integration

IE initial
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Special/SpecialMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Special/SpecialMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Special/OnSpecialMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Special/SpecialMeteringPointCreatedIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Special/SpecialMeteringPointCreatedTopic.cs
Due: unit, integration

What: Ensure database is upgraded (seeded)
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/WebApi/WebApiHost.cs
Due: none

What: Remove push event for developer branch
  .github/workflows/ci.yml
Due: none

update error code and text
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/Special/ParentMustBeMarketMeteringPointConditionalRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/SpecialMeteringPointTests.cs
Due: none

Integration Event message generated in outbox
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Special/SpecialMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/SpecialMeteringPointCreatedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Helpers/OutboxTypeFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Special/SpecialMeteringPointCreated.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Special/SpecialMeteringPointCreatedIntegrationEventExtension.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Special/SpecialMeteringPointCreatedOutBoundMapper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/SpecialMeteringPointTests.cs
Due: unit, integration

Update to test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/SpecialMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/AzureFunctionHostConfigurationTests.cs
Due: unit

Connection type cannot be changed for net settlement group 0
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataRequest.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/MasterDataDetails.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/MasterDataValueTransformer.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/MasterDataValueUpdater.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
Due: unit

Path conditions:
  unit: any of: source/Energinet.DataHub.MeteringPoints.Application/, source/Energinet.DataHub.MeteringPoints.Domain/, source/Energinet.DataHub.MeteringPoints.Tests/
  integration: any of: source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/, source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/
