Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Clean up trigger part
  .github/workflows/client-publish.yml
Due: none

Client publish cleanup
  .github/workflows/client-publish.yml
Due: none

Key vault url
  .github/workflows/client-publish.yml
Due: none

Add AZURE_SECRETS_KEYVAULT_URL
  .github/workflows/client-publish.yml
Due: none

Configure code coverage and use v8 tag
  .github/codecov.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/client-publish.yml
  .github/workflows/integration-events-publish.yml
  .github/workflows/request-response-publish.yml
Due: none

Azurite path
  .github/workflows/client-publish.yml
Due: none

Fix workflow references
  .github/workflows/integration-events-publish.yml
  .github/workflows/request-response-publish.yml
Due: none

Use newer Azurite version
  .github/workflows/client-publish.yml
Due: none

Bump versions
  .github/workflows/client-publish.yml
  source/IntegrationEvents/documents/release-notes/release-notes.md
  source/IntegrationEvents/source/IntegrationEvents/IntegrationEvents.csproj
  source/RequestResponse/documents/release-notes/release-notes.md
  source/RequestResponse/source/RequestResponse/RequestResponse.csproj
Due: none

Move code cov file
  codecov.yml
Due: none

Bump versino of client libraries
  docs/metering-point-client/release-notes/release-notes.md
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
Due: none

enable iam on sql db
  .github/actions/publish-release-contents/action.yml
  build/infrastructure/env/t-001/mssqldb-this_override.tf
  build/infrastructure/env/u-001/mssqldb-this_override.tf
  build/infrastructure/env/u-002/mssqldb-this_override.tf
  build/infrastructure/main/locals.tf
  build/infrastructure/main/mssqldb-applicationaccess.tf
  build/infrastructure/main/mssqldb-this.tf
  build/infrastructure/main/variables.tf
Due: none

Enable Identity based Access Management on the SQL database #916
  .github/actions/publish-release-contents/action.yml
  build/infrastructure/env/t-001/mssqldb-this_override.tf
  build/infrastructure/env/u-001/mssqldb-this_override.tf
  build/infrastructure/env/u-002/mssqldb-this_override.tf
  build/infrastructure/main/locals.tf
  build/infrastructure/main/mssqldb-applicationaccess.tf
  build/infrastructure/main/mssqldb-this.tf
  build/infrastructure/main/variables.tf
Due: none

Return correlation id only
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Correlation/CorrelationContext.cs
Due: none

Upgrade test common package
  source/MeteringPoints.EntryPoints.IntegrationTests/MeteringPoints.EntryPoints.IntegrationTests.csproj
Due: none

Use correlatio id
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/CorrelationIdMiddleware.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Correlation/CorrelationContext.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/MessageHubDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/OutboxMessageFactory.cs
Due: integration

Remove method
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Correlation/CorrelationContext.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Correlation/ICorrelationContext.cs
Due: none

Create new guid
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/CorrelationIdMiddleware.cs
Due: integration

Upgrade package
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
Due: none

Test commit
  source/MeteringPoints.EntryPoints.IntegrationTests/integrationtest.local.settings.sample.json
Due: none

Upgrade SQL client package
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
Due: none

Disable E2E tests
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
Due: none

Use trace id as correlation id
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/CorrelationIdMiddleware.cs
Due: integration

Refactor correlation id middleware
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/CorrelationIdMiddleware.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/FunctionExtensions.cs
Due: integration

Extract methods
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/CorrelationIdMiddleware.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/UserProperties.cs
Due: integration

Create new correlation id if not set
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/CorrelationIdMiddleware.cs
Due: integration

Add logging
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/CorrelationIdMiddleware.cs
Due: integration

Register serializer
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
Due: integration

Return new correlation id
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Correlation/CorrelationContext.cs
Due: none

Upgrade packages
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/Energinet.DataHub.MeteringPoints.EntryPoints.Common.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
Due: unit, integration

Upgrade Energinet.DataHub.Charges.Clients.Registration to 3.0.10
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
Due: integration

Upgrade SQL client package
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Energinet.DataHub.MeteringPoints.ActorRegistrySync.csproj
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Services/ActorRegistryDBService.cs
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Services/MeteringPointDbService.cs
Due: none

Change contracts
  source/RequestResponse/source/RequestResponse/Requests/MasterData/MeteringPointMasterDataRequest.proto
  source/RequestResponse/source/RequestResponse/Requests/MasterData/MeteringPointMasterDataResponse.proto
Due: none

Bump version
  source/RequestResponse/documents/release-notes/release-notes.md
  source/RequestResponse/source/RequestResponse/RequestResponse.csproj
Due: none

use elastic pool
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/mssqldb-this.tf
Due: none

Update contracts package
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Functions/MasterDataRequestListener.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Requests/MasterData/MasterDataRequestResponseOutBoundMapper.cs
Due: integration

Extract method
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Functions/MasterDataRequestListener.cs
Due: integration

Inline variable
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Functions/MasterDataRequestListener.cs
Due: integration

Remove protobuf mapper
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Requests/MasterData/MasterDataRequestResponseOutBoundMapper.cs
Due: none

Path conditions:
  unit: any of: source/Energinet.DataHub.MeteringPoints.Application/, source/Energinet.DataHub.MeteringPoints.Domain/, source/Energinet.DataHub.MeteringPoints.Tests/
  integration: any of: source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/, source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/
