Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Update
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/ConnectMeteringPointXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
Due: unit

Update
  source/Energinet.DataHub.MeteringPoints.Application/ConnectMeteringPoint.cs
Due: unit

Update
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/BaseTrigger.cs
Due: integration

Added enhancements from Market Roles to XML Converter (#171)
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ConverterMapperConfigurationBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ExtendedPropertyInfo.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/CreateMeteringPointXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlElementInfo.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlMapper.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/CreateMeteringPointCimXml.xml
Due: unit, integration

Removed baseTrigger
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/BaseTrigger.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/MeteringPointHttpTrigger.cs
Due: integration

Xml update
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/ConnectMeteringPointCimXml.xml
Due: unit

license added
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/ConnectMeteringPointCimXml.xml
Due: unit

move transport interfaces to Common namespace
  source/Energinet.DataHub.MeteringPoints.Application/Common/Transport/IInboundMessage.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/Transport/IOutboundMessage.cs
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Transport/MessageDeserializer.cs
  source/Energinet.DataHub.MeteringPoints.Application/Transport/MessageDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Application/Transport/MessageExtractor.cs
  source/Energinet.DataHub.MeteringPoints.Application/Transport/MessageSerializer.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/CreateMeteringPointHttpTrigger.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Messages/MeteringPointCreatedEventMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Processing/Mappers/CreateMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/ProtobufInboundMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/ProtobufInboundMapper`1.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/ProtobufMessageDeserializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/ProtobufMessageSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/ProtobufOutboundMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/ProtobufOutboundMapperFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/ProtobufOutboundMapper`1.cs
Due: unit, integration

Add interfaces for internal command
  source/Energinet.DataHub.MeteringPoints.Application/Common/Commands/ICommand.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/Commands/InternalCommand.cs
Due: unit

Changes
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/ConnectMeteringPoint/ConnectMeteringPointCimXml.xml
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
Due: unit

Update
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/MeteringPointHttpTrigger.cs
Due: integration

Add incoming message registry to handle message idempotency
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202107060948 Add IncomingMessages.sql
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPointContext.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Messaging/Idempotency/IIncomingMessageRegistry.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Messaging/Idempotency/IncomingMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Messaging/Idempotency/IncomingMessageEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Messaging/Idempotency/IncomingMessageRegistry.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/IdempotencyTest.cs
Due: integration

Return null if property key does exists. This is needed when receiving integration events, where no authenticated user is involved
  source/Energinet.DataHub.MeteringPoints.Application/UserIdentity/UserIdentityFactory.cs
Due: unit

Updates
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/MeteringPointHttpTrigger.cs
Due: integration

DI Logger
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/MeteringPointHttpTrigger.cs
Due: integration

Add contract and event handler for EnergySupplierChanged integration event, originating from market roles
  source/Energinet.DataHub.MeteringPoints.Application/Connect/EnergySupplierChanged.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/EnergySupplierChangedEventHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Events/Incoming/Protobuf/EnergySupplierChanged.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Events/Incoming/Protobuf/EnergySupplierChangedInboundMapper.cs
Due: unit

Created Value Object for NetSettlementGroup
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/NetSettlementGroup.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
Due: unit

Add decorator for unit of work handling for use in incoming integration event scenarios
  source/Energinet.DataHub.MeteringPoints.Application/Common/NotificationEvents/INotificationEvent.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Events/Incoming/UnitOfWorkHandlerDecorator.cs
Due: unit, integration

Added FromGrid and ToGrid
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/CreateMeteringPointXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/Mappers/CreateMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Processing/Contracts/Contract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Processing/Mappers/CreateMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/CreateMeteringPointCimXml.xml
Due: unit

Add support for Exchange and Production Metering Point types
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SampleData.cs
Due: unit

Add Service bus middleware for handling and enforcing incoming message idempotency
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/ServiceBusMessageIdempotencyMiddleware.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Messaging/Idempotency/IIncomingMessageRegistry.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Messaging/Idempotency/IncomingMessageRegistry.cs
Due: integration

Add github token to env
  .github/workflows/sonarcloud.yml
Due: none

Add integration/notification event receiver
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/IntegrationEventReceiver.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/UnknownNotificationEventTypeException.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/local.settings.sample.json
Due: integration

Remove dummy test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/IdempotencyTest.cs
Due: none

Fix imports
  source/Energinet.DataHub.MeteringPoints.Application/ConnectMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Processing/Mappers/ConnectMeteringPointMapper.cs
Due: unit

Remove unit of work decorator
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Events/Incoming/UnitOfWorkHandlerDecorator.cs
Due: integration

Remove obsolete test
  source/Energinet.DataHub.MeteringPoints.Tests/Application/UserIdentity/UserIdentityFactoryTests.cs
Due: unit

Fix license header
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Messaging/Idempotency/IncomingMessage.cs
Due: none

Make empty constructors in MeteringPoint private
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
Due: unit

Remove dependency on specific logger
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/ServiceBusMessageIdempotencyMiddleware.cs
Due: integration

Add protobuf parser map for registering parser for known protobuf message types
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/ProtobufMessageParserMap.cs
Due: none

Add protobuf message factory
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/IntegrationEventReceiver.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/IProtobufMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/ProtobufMessageFactory.cs
Due: integration

Change namespace for notifications
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Events/Incoming/Protobuf/EnergySupplierChanged.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Events/Incoming/Protobuf/EnergySupplierChangedInboundMapper.cs
Due: none

Remove obsolete interface
  source/Energinet.DataHub.MeteringPoints.Application/Common/NotificationEvents/INotificationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/EnergySupplierChanged.cs
Due: unit

Remove obsolete class
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/UnknownNotificationEventTypeException.cs
Due: integration

Change the term for incoming integration events to 'Notification'
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/IntegrationEventReceiver.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Notifications/Protobuf/EnergySupplierChanged.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Notifications/Protobuf/EnergySupplierChangedInboundMapper.cs
Due: integration

rename variable
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/IntegrationEventReceiver.cs
Due: integration

Move relevant concrete user identity implementations to infrastructure layer, and move interfaces to Common namespace
  source/Energinet.DataHub.MeteringPoints.Application/Common/UserIdentity/IUserContext.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/UserIdentity/UserIdentity.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/HttpUserContextMiddleware.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/ServiceBusUserContextMiddleware.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/InternalServiceBus.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/UserIdentity/UserContext.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/UserIdentity/UserIdentityExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/UserIdentity/UserIdentityFactory.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Application/UserIdentity/UserIdentityFactoryTests.cs
Due: unit, integration

Move protobuf message interfaces to common
  source/Energinet.DataHub.MeteringPoints.Application/Common/Transport/IInboundMessage.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/Transport/IOutboundMessage.cs
  source/Energinet.DataHub.MeteringPoints.Application/ConnectMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Transport/MessageDeserializer.cs
  source/Energinet.DataHub.MeteringPoints.Application/Transport/MessageDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Application/Transport/MessageExtractor.cs
  source/Energinet.DataHub.MeteringPoints.Application/Transport/MessageSerializer.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/MeteringPointHttpTrigger.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Messages/MeteringPointCreatedEventMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Processing/Mappers/ConnectMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Processing/Mappers/CreateMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/ProtobufInboundMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/ProtobufInboundMapper`1.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/ProtobufMessageDeserializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/ProtobufMessageSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/ProtobufOutboundMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/ProtobufOutboundMapperFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/ProtobufOutboundMapper`1.cs
Due: unit, integration

Move protobuf concrete services to infrastructure layer
  source/Energinet.DataHub.MeteringPoints.Application/ConnectMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/MeteringPointHttpTrigger.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/QueueSubscriber.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/ChannelResilienceDecorator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/InternalDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/InternalServiceBus.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Channels/AzureEventHubChannel.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Dispatchers/IntegrationEventToEventHubDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Messages/MeteringPointCreatedEventMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Processing/Mappers/ConnectMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Processing/Mappers/CreateMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Channel.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/MessageDeserializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/MessageDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/MessageExtractor.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/MessageSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/Integration/ServiceCollectionReceiveProtobuf.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/Integration/ServiceCollectionSendProtobuf.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/ProtobufInboundMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/ProtobufInboundMapper`1.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/ProtobufMessageDeserializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/ProtobufMessageSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/ProtobufOutboundMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/ProtobufOutboundMapperFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Protobuf/ProtobufOutboundMapper`1.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Send/Dispatcher.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Send/InProcessChannel.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TransportTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Send/Dispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Send/InProcessChannel.cs
Due: unit, integration

Path conditions:
  unit: any of: source/Energinet.DataHub.MeteringPoints.Application/, source/Energinet.DataHub.MeteringPoints.Domain/, source/Energinet.DataHub.MeteringPoints.Tests/
  integration: any of: source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/, source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/
