Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Remove settlementMethod rule from application level, it's now handled on domain level for consumption MP.
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: unit

register in webapi startup (#389)
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Startup.cs
Due: none

Set dotnet version in terraform to v5 for app service (#387)
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/providers.tf
Due: none

Create event dispatcher for MeteringPointMessageDequeuedIntegrationEvent (#386)
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MeteringPointMessageDequeuedIntegrationEventDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Helpers/OutboxTypeFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MessageDequeued/MeteringPointMessageDequeuedTopic.cs
Due: integration

Add reference to change master data business process process
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlMapper.cs
Due: none

Add support for change master data
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/Mappers/MasterDataDocumentMapper.cs
Due: unit, integration

Remove matrix option
  .github/workflows/codecov-ci.yml
Due: none

Build every time
  .github/workflows/codecov-ci.yml
Due: none

Try again
  .github/workflows/codecov-ci.yml
Due: none

Build everything
  .github/workflows/codecov-ci.yml
Due: none

CI/CD added for internal command dispatcher
  .github/workflows/internal-command-dispatcher-cd.yml
  .github/workflows/internal-command-dispatcher-ci.yml
Due: none

Revert "CI/CD added for internal command dispatcher"
  .github/workflows/internal-command-dispatcher-cd.yml
  .github/workflows/internal-command-dispatcher-ci.yml
Due: none

Revert "Revert "CI/CD added for internal command dispatcher""
  .github/workflows/internal-command-dispatcher-cd.yml
  .github/workflows/internal-command-dispatcher-ci.yml
Due: none

Update MessageHub client
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Messaging/Energinet.DataHub.MeteringPoints.Messaging.csproj
  source/Energinet.DataHub.MeteringPoints.Messaging/LocalMessageHubClient.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/Mocks/DataBundleResponseSenderMock.cs
Due: unit, integration

Update MessageHub client (#392)
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Messaging/Energinet.DataHub.MeteringPoints.Messaging.csproj
  source/Energinet.DataHub.MeteringPoints.Messaging/LocalMessageHubClient.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/Mocks/DataBundleResponseSenderMock.cs
Due: unit, integration

Sender connection string instead of listener
  build/infrastructure/main/azfun-internalcommanddispatcher.tf
Due: none

Refactor: Cleanup tests for consumption metering points
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Remove production obligation from parameter object, since default value is set during construction
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPointDetails.cs
Due: unit

Add business process handler for create production metering points
  source/Energinet.DataHub.MeteringPoints.Application/Create/Production/CreateProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Production/CreateProductionMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ProductionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/Scenarios.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
Due: unit

Fix environments in tf for localmessagehub
  .github/workflows/localmessagehub-cd.yml
Due: none

Add assertion for checking metering point exists
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ProductionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Add logic to create production metering create command
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
Due: unit

Fix merge conflicts
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
Due: unit, integration

Fix environments in tf for localmessagehub (#394)
  .github/workflows/localmessagehub-cd.yml
Due: none

Topic added
  build/infrastructure/main/azfun-outbox.tf
Due: none

Add missing environment variable in Outbox Host test
  source/Energinet.DataHub.MeteringPoints.Tests/AzureFunctionHostConfigurationTests.cs
Due: unit

Move connection strings to app settings
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/local.settings.sample.json
Due: integration

Add missing registries Add some entry validation for production
  source/Energinet.DataHub.MeteringPoints.Application/Create/Production/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Startup.cs
Due: unit, integration

add using masterdatadocument
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Startup.cs
Due: none

remove duplicates
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
Due: integration

remove all duplicate local settings from csprojs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
Due: integration

use shared stor postoffice
  build/infrastructure/main/azfun-localmessagehub.tf
  build/infrastructure/main/azfun-outbox.tf
  build/infrastructure/main/kv-sharedresources.tf
  build/infrastructure/main/stor-postoffice.tf
Due: none

use shared stor postoffice (#399)
  build/infrastructure/main/azfun-localmessagehub.tf
  build/infrastructure/main/azfun-outbox.tf
  build/infrastructure/main/kv-sharedresources.tf
  build/infrastructure/main/stor-postoffice.tf
Due: none

Move connection strings to app settings (#400)
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.Tests/AzureFunctionHostConfigurationTests.cs
Due: unit, integration

Add missing registries (#398)
  source/Energinet.DataHub.MeteringPoints.Application/Create/Production/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Startup.cs
Due: unit, integration

Update README.md
  README.md
Due: none

Adjust application level rules for consumption Remove rule from application level which is now handled on domain level
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/ValidationRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodMustBeValidRule.cs
Due: unit

fix spellcheck
  .github/utilities/md-spellcheck/wordlist.txt
Due: none

Test removed, not relevant for general document. Tested in create consumption tests on unit and integration level.
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/MasterDataDocumentReceiveTests.cs
Due: none

Add invalid settlement method test to consumption MP integration tests
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
Due: none
