Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Removed unnessary namespace prefix
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Pipeline/BusinessProcessResultBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Pipeline/InputValidationBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Pipeline/InternalCommandHandlingBehaviour.cs
Due: none

TF function-app v5.12.0
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/func-localmessagehub.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/kv-shared-resources.tf
Due: none

Power_limit_is_changed_if_original_values_is_null_and_properties_are_omitted_in_future_updates
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Components/PowerLimit.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/PowerLimitTests.cs
Due: unit

Use TF module for Web API
  build/infrastructure/main/app-webapi.tf
Due: none

Use appi_shared_instrumentation_key name for shared resource
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/func-localmessagehub.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/kv-shared-resources.tf
Due: none

Fix local name
  build/infrastructure/main/app-webapi.tf
Due: none

Change NumberOfDaysEffectiveDateIsAllowedToBeforeToday to 720
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
Due: integration

Change NumberOfDaysEffectiveDateIsAllowedToBeforeToday to 721
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
Due: integration

Suppress CA2007 for relevant operations in production code, and ensure IDE0079 is set as a warning.
  .editorconfig
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/SimpleInjector/SimpleInjectorScopedRequest.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/CommandExecutor.cs
Due: integration

Suppress CA2007 in Tests.
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/.editorconfig
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TransportTests.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/LocalMessageHubClient.cs
  source/Energinet.DataHub.MeteringPoints.Tests/.editorconfig
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/BundleCreatorTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/.editorconfig
  source/MeteringPoints.EntryPoints.IntegrationTests/Mocks/MessageHubMock.cs
Due: unit

Update CD pipeline
  .github/workflows/cd.yml
Due: none

Latest actor registry and user bindings
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202204221026 Updates from actor registry.sql
Due: integration

Removed entries for unused actors
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202204221026 Updates from actor registry.sql
Due: integration

logging upgrade
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
Due: integration

Added log in case a failed business process result is attempted to be created without a list of errors.
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessResult.cs
Due: unit

Change assettype to optional
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/Rules/AssetTypeRequirementRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataFieldSelector.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/AssetTypeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/SettlementMethodTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ConsumptionMeteringPointValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit

Added custom state for empty country code rule
  source/Energinet.DataHub.MeteringPoints.Application/Create/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/CountryCodeMandatoryValidationError.cs
Due: unit

Added test for empty country code
  source/Energinet.DataHub.MeteringPoints.Application/Create/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/CountryCodeMandatoryValidationError.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: unit

Disconnect should not be validated on child mps
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/SpecialMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Scenarios.cs
Due: unit

change to correct order
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/Generic/GenericNotificationMessageXmlSerializer.cs
Due: none

Revert "Disconnect should not be validated on child mps"
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/SpecialMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Scenarios.cs
Due: unit

Only parents should contain disconnetion type
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Extensions/CreateMeteringPointExtension.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/DisconnectionTypeRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/DisconnectionTypeMandatoryValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Errors/InvalidDisconnectionTypeValue.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/SpecialMeteringPointTests.cs
Due: unit

Validator implemented
  source/Energinet.DataHub.MeteringPoints.Application/Create/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Extensions/CreateMeteringPointExtension.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/DisconnectionTypeRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/DisconnectionTypeValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Exceptions/DisconnectionTypeMandatoryValidationError.cs
Due: unit

Remove duplicate
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Exceptions/DisconnectionTypeMandatoryValidationError.cs
Due: unit

Refactor
  source/Energinet.DataHub.MeteringPoints.Application/Create/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/DisconnectionTypeValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilderBase.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: unit

Changes based on review
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/DisconnectionTypeValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Extensions/MeteringPointTypeStringExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Components/DisconnectionType.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Errors/DisconnectionTypeMandatoryValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/DisconnectionTypeIsValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/DisconnectionTypeMandatoryRule.cs
Due: unit

Kill bleeding logic
  source/Energinet.DataHub.MeteringPoints.Application/Create/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/DisconnectionTypeIsValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/InvalidDisconnectionTypeValue.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Extensions/MeteringPointTypeStringExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Components/DisconnectionType.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/ConsumptionValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Errors/DisconnectionTypeMandatoryValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Exchange/ExchangeMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Production/ProductionMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/DisconnectionTypeMandatoryRule.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ExchangeMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ProductionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/SpecialMeteringPointTests.cs
Due: unit

add log_analytics_workspace_id to sb
  build/infrastructure/main/sb-meteringpoint.tf
Due: none

fix tf
  build/infrastructure/main/mssqldb-this.tf
Due: none

fix tf
  build/infrastructure/main/app-webapi.tf
Due: none

Added latest version of actor registry data and newest user permissions
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202205061340 Updates from actor registry.sql
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: integration

Reverted file commit
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: none

Removed unused line
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
Due: integration

Update Schemas NuGet package to version 1.0.10
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
Due: unit, integration

Update Create test on capacity
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilder.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: unit

Added latest version of actor registry data
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202205171504 Updates from actor registry.sql
Due: integration

Added latest version of actor registry data
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202205190741 Updates from actor registry.sql
Due: integration

Added latest version of actor registry data
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202205190741 Updates from actor registry.sql
Due: integration

Connect to VNET (#699)
  .editorconfig
  .github/workflows/ci.yml
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/func-localmessagehub.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/mssqldb-this.tf
  build/infrastructure/main/providers.tf
  build/infrastructure/main/sb-meteringpoint.tf
Due: none

Implement new asset type D98
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/AssetType.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Components/AssetType.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/ConsumptionValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/Rules/AssetTypeNoTechnologyRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/AssetTypeNoTechnologyError.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Scenarios.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/AssetTypeTests.cs
Due: unit

Path conditions:
  unit: any of: source/Energinet.DataHub.MeteringPoints.Application/, source/Energinet.DataHub.MeteringPoints.Domain/, source/Energinet.DataHub.MeteringPoints.Tests/
  integration: any of: source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/, source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/
