Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Set up user provider
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/NullUserProvider.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Startup.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/UserProvider.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointByGsrnQueryHandler.cs
Due: none

Fix merge conflicts
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
Due: unit

Effective date period validatin tests
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/DisconnectMeteringPoints/DisconnectTests.cs
Due: none

Inject update handler
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions/MasterDataHandlingRegistrationExtensions.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

Remove hardcoded settings
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/kv-shared-resources.tf
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Startup.cs
Due: none

Move to new home
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/EffectiveDateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/TestUtils.cs
Due: none

Rename command handler to align with business language
  source/Energinet.DataHub.MeteringPoints.Application/UpdateMasterData/AddressValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/UpdateMasterData/UpdateMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/UpdateMasterData/UpdateMasterDataRequest.cs
  source/Energinet.DataHub.MeteringPoints.Application/UpdateMasterData/UpdateMasterDataRequestValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/UpdateMasterData/UpdateMasterDataSettings.cs
  source/Energinet.DataHub.MeteringPoints.Application/UpdateMasterData/UpdateMeteringPointAuthorizer.cs
  source/Energinet.DataHub.MeteringPoints.Application/UpdateMasterData/Validation/FromGridAreaIsNotAllowed.cs
  source/Energinet.DataHub.MeteringPoints.Application/UpdateMasterData/Validation/ToGridAreaIsNotAllowed.cs
Due: unit

Move to new home
  source/Energinet.DataHub.MeteringPoints.Application/UpdateMasterData/UpdateMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/UpdateMasterDataProcess.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions/MasterDataHandlingRegistrationExtensions.cs
Due: unit

Rename and adjust namespaces
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/ConnectMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/ValidationRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/UpdateMasterData/AddressValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/UpdateMasterData/UpdateMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/UpdateMasterData/UpdateMasterDataRequest.cs
  source/Energinet.DataHub.MeteringPoints.Application/UpdateMasterData/UpdateMasterDataRequestValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/UpdateMasterData/UpdateMasterDataSettings.cs
  source/Energinet.DataHub.MeteringPoints.Application/UpdateMasterData/UpdateMeteringPointAuthorizer.cs
  source/Energinet.DataHub.MeteringPoints.Application/UpdateMasterData/Validation/FromGridAreaIsNotAllowed.cs
  source/Energinet.DataHub.MeteringPoints.Application/UpdateMasterData/Validation/ToGridAreaIsNotAllowed.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Authorization/AuthorizationRegistrationExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ChangeMasterData/ChangeMasterDataResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ChangeMasterData/EffectiveDateIsNotAllowedErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/FromGridAreaIsNotAllowedErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ToGridAreaIsNotAllowedErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

Move update handling to domain service
  source/Energinet.DataHub.MeteringPoints.Application/UpdateMasterData/UpdateMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/UpdateMasterDataPolicies.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/UpdateMasterDataProcess.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

fix merge bug
  .github/workflows/ci.yml
Due: none

Cleanup handler
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessResult.cs
  source/Energinet.DataHub.MeteringPoints.Application/UpdateMasterData/UpdateMasterDataHandler.cs
Due: unit

Remove dead code
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/UpdateMasterDataProcess.cs
Due: unit

Inject current today as parameter in stead of relaying on an ambient context
  source/Energinet.DataHub.MeteringPoints.Application/UpdateMasterData/UpdateMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/UpdateMasterDataProcess.cs
Due: unit

Move to new home
  source/Energinet.DataHub.MeteringPoints.Application/UpdateMasterData/UpdateMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/UpdateMasterData/UpdateMasterDataPolicies.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/UpdateMasterData/UpdateMasterDataProcess.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions/MasterDataHandlingRegistrationExtensions.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

Rename object
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/UpdateMasterData/PolicyThresholds.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/UpdateMasterData/UpdateMasterDataProcess.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

Cleanup method
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/UpdateMasterData/UpdateMasterDataProcess.cs
Due: unit

Remove
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/UpdateMasterData/UpdateMasterDataProcess.cs
Due: unit

Refactor parent coupling handling
  source/Energinet.DataHub.MeteringPoints.Application/Common/ChildMeteringPoints/ParentCouplingService.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/UpdateMasterData/UpdateMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

Refactoring anmd recconect
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.Application/Disconnect/DisconnectReconnectMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Disconnect/DisconnectReconnectMeteringPointRequest.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcessType.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Exceptions/MeteringPointReconnectException.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Disconnect/ConnectionStateMustbeConnectedOrDisconnectedError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Disconnect/ConnectionStateMustbeConnectedOrDisconnectedRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Disconnect/PhysicalStateMustBeDisconnectedError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Disconnect/PhysicalStateMustBeDisconnectedRule.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/DisconnectMeteringPoint/DisconnectMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Disconnect/PhysicalStateMustBeDisconnectedErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/DisconnectMeteringPoints/DisconnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/MeteringPoints.EntryPoints.IntegrationTests.csproj
  source/MeteringPoints.EntryPoints.IntegrationTests/TestFiles/Cim/DisconnectMeteringPoint.xml
Due: unit, integration

Reconnect logic added (no tests)
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcessType.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
Due: unit, integration

Set up all test data and all user->actor connections for u-001.
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202202011123 Create user table.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202201241235 Add user and user relation.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202202011357 Updates from actor registry.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202202011400 Add dev users to all actors.sql
Due: integration

first draft of changes
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/func-internalcommanddispatcher.tf
  build/infrastructure/main/func-localmessagehub.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/providers.tf
  build/infrastructure/main/sb-meteringpoint.tf
  build/infrastructure/main/subnets.tf
Due: none

update version of azurerm
  build/infrastructure/main/providers.tf
Due: none

fix error
  .github/workflows/ci.yml
Due: none

temp: disable dotnet_solution_ci
  .github/workflows/ci.yml
Due: none

Temp: disable sonarcloud
  .github/workflows/sonarcloud.yml
Due: none

-
  .github/workflows/ci.yml
Due: none

Reconnect initial tests added
  source/Energinet.DataHub.MeteringPoints.Application/EDI/IActorMessageService.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Analysis/AnalysisValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/InternalUse/InternalUseValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Events/MeteringPointReconnected.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/AccountingPointCharacteristics/BusinessReasonCodes.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Acknowledgements/ConfirmMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Acknowledgements/RejectMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageService.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/DisconnectMeteringPoint/DisconnectMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/DocumentType.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ReconnecMeteringPoints/ReconnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/AnalysisValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/InternalUseValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/ReconnectTests.cs
Due: unit

Updated to 2.0.0 packes
  source/Energinet.DataHub.MeteringPoints.Application/Energinet.DataHub.MeteringPoints.Application.csproj
Due: unit

Changed user actors to be a list
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/UserProvider.cs
Due: none

Integration event Reconnect added
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Reconnect/MeteringPointReconnectedIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Reconnect/OnMeteringPointReconnected.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ReconnecMeteringPoints/ReconnectTests.cs
Due: none

Updated query to accept list of actor ids instead of single id
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointByGsrnQueryHandler.cs
Due: none

Added delete statement for ActorUser
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202109232129 Clean database.sql
Due: integration

Added user provider to test host
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Fixed table name
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202109232129 Clean database.sql
Due: integration

move queryhandler to webapi
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Controllers/MeteringPointController.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/MeteringPoints/Queries/MeteringPointByGsrnQuery.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/MeteringPoints/Queries/MeteringPointByGsrnQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Startup.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Reject reconnect message and event added
  source/Energinet.DataHub.MeteringPoints.Application/Disconnect/DisconnectReconnectMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Disconnect/DisconnectReconnectSettings.cs
  source/Energinet.DataHub.MeteringPoints.Application/EDI/IActorMessageService.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MeteringPointReconnectedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Acknowledgements/RejectMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageService.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/DisconnectMeteringPoint/DisconnectReconnectMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Helpers/OutboxTypeFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Reconnect/MeteringPointReconnectedIntegrationEvent.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Reconnect/MeteringPointReconnectedTopic.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Reconnect/OnMeteringPointReconnected.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/AzureFunctionHostConfigurationTests.cs
Due: unit, integration

remove double container registration
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Startup.cs
Due: none

Latest update from actor registry
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202202020844 Updates from actor registry.sql
Due: integration
