Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

changes in SettlementMethodMustBeValidRule.cs Added test for settlementmethod. Test refactor.
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit

Add metering point subtype
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPointSubType.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeteringPointTests.cs
Due: unit

Changes after merger for CreateMeteringPointRuleSetTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit

gsrn changes for validation
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/GsrnNumberMustBeValidRule.cs
Due: unit

comment removed
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodMustBeValidRule.cs
Due: unit

add outbox, accept and reject
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/ISystemDateTimeProvider.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointAccepted.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointRejected.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/IOutbox.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/IOutboxManager.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/IOutboxMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/InMemoryOutbox.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/OutboxMessageException.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/OutboxMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/OutboxProvider.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SystemDateTimeProviderStub.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit

Removed redundant GO commands from SQL script
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202118051215 Create MeteringPoints tables.sql
Due: integration

Added properties to MeteringPoint Domain Model which is also made abstract
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
Due: unit

Added inherited Metering Point types for Consumption, Exchange and Production
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
Due: unit

Extended CreateMeteringPoint Command with more properties
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPoint.cs
Due: unit

Refactored MeteringPointRepository to use Entity Framework
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointRepository.cs
Due: none

Extended MeteringPoint DbContext and Configurations to support inheritance (Table-Per-Type) of individual MeteringPoint types
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPointContext.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
Due: none

Command Handler now handles all properties from Create Consumption MeteringPoint request
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
Due: unit

Integration test now tests add/get Consumption Metering Point
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Added DB scheme for MeteringPoints (Consumption, Production and Excha… (#92)
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202118051215 Create MeteringPoints tables.sql
Due: integration

add validations to integration tests
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/GsrnNumberMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GsrnNumber.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit

Initial xml test
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/CreateMeteringPointHttpTrigger.cs
Due: integration

Added todo
  source/Energinet.DataHub.MeteringPoints.Application/Address.cs
Due: unit

use real outbox
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/IOutboxManager.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/OutboxManager.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/OutboxMessage.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/InMemoryOutbox.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Outbox/IntegrationEventTests.cs
Due: unit

test
  source/Energinet.DataHub.MeteringPoints.Domain/Events/CreateMeteringPointEventMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Dispatchers/MeteringPointCreatedNotificationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Mappers/CreateMeteringPointEventMessageMapper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Repositories/IntegrationEventRepositoryTests.cs
Due: unit

Added error converter for settlementmethod
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/SettlementMethodMissingRequiredDomainValuesErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/SettlementMethodNotAllowedErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/SettlementMethodRequiredErrorConverter.cs
Due: none

added license header text
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/SettlementMethodMissingRequiredDomainValuesErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/SettlementMethodNotAllowedErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/SettlementMethodRequiredErrorConverter.cs
Due: none

removed unused usings
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/GsrnNumberMustBeValidRule.cs
Due: unit

added [UnitTest] trait for CreateMeteringPoint unittest
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit

.
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/RequestHandlers/CreateMeteringPointEventHandler.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Outbox/IntegrationEventTests.cs
Due: unit, integration

.
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Dispatchers/MeteringPointCreatedNotificationHandler.cs
Due: none

Started working on XML Deserializer
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/CreateMeteringPointHttpTrigger.cs
Due: integration

Merged with main
  source/Energinet.DataHub.MeteringPoints.Application/Validation/CreateMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodMissingRequiredDomainValuesValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodNotAllowedValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodRequiredValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/Entity.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/SettlementMethodMissingRequiredDomainValuesErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/SettlementMethodNotAllowedErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/SettlementMethodRequiredErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/IOutboxManager.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/OutboxManager.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/OutboxMessage.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/InMemoryOutbox.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Outbox/IntegrationEventTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit

Added validation for metering grid area Changes for validation test.
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringGridAreaLengthValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringGridAreaMandatoryValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringGridAreaValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit

Added validation for occurencedata Added unit tests for occurencedate
  source/Energinet.DataHub.MeteringPoints.Application/Validation/CreateMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/OccurenceDateValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/OccurenceDateWrongFormatValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/OccurenceRequiredValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit

fix integration tests
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/InMemoryOutbox.cs
Due: none

Supporting multiple types of Metering Points (#95)
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/AuthorizationHandlers/ExampleAuthorizationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/AuthorizationResult.cs
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/GsrnNumberMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202118051215 Create MeteringPoints tables.sql
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/InvalidMeteringPointIdRuleException.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/Entity.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/ValidationError.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/EventMessageDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPointContext.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Handlers/CreateMeteringPointEventHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Mappers/CreateMeteringPointEventMessageMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Repository/IntegrationEventRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/OutboxManager.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Outbox/IntegrationEventTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SampleData.cs
Due: unit, integration

Add disconnection type
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Energinet.DataHub.MeteringPoints.Domain.csproj
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeteringPointTests.cs
Due: unit

move clean up in test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

add wrong settlement method to reject test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: none

Integration test - works
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: integration

Changed OccurenceDate validation, added required Z for zulu time.
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/OccurenceDateValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit

Fix merge conflict
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: none

removed unused using
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/OccurenceDateValidRule.cs
Due: unit

Finished parsing XML
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/CreateMeteringPointHttpTrigger.cs
Due: integration

Path conditions:
  unit: any of: source/Energinet.DataHub.MeteringPoints.Application/, source/Energinet.DataHub.MeteringPoints.Domain/, source/Energinet.DataHub.MeteringPoints.Tests/
  integration: any of: source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/, source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/
