Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Added connection strings to Terraform configuration (#102)
  .github/workflows/infrastructure-cd.yml
  .github/workflows/infrastructure-ci.yml
  build/infrastructure/azfun-outbox.tf
  build/infrastructure/azfun-processing.tf
  build/infrastructure/kv-sharedresources.tf
  build/infrastructure/locals.tf
  build/infrastructure/sqldb-meteringpoint.tf
  build/infrastructure/sqlsrv-meteringpoint.tf
  build/infrastructure/variables.tf
Due: none

Add measurement unit type
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeasurementUnitType.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeteringPointTests.cs
Due: unit

Fixed license
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/Input/CreateMeteringPointXmlDeserializer.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/CreateMeteringPointCimXml.xml
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlDeserializerTests.cs
Due: unit

Removed unused parameter
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/Input/CreateMeteringPointXmlDeserializer.cs
Due: none

Removed magic strings from type translation methods
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/Input/CreateMeteringPointXmlDeserializer.cs
Due: none

Fixed intentional error
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlDeserializerTests.cs
Due: unit

Deserialize XML to Command object (#111)
  source/Energinet.DataHub.MeteringPoints.Application/Address.cs
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/CreateMeteringPointHttpTrigger.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/Input/CreateMeteringPointXmlDeserializer.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/CreateMeteringPointCimXml.xml
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlDeserializerTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
Due: unit, integration

Add address
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Energinet.DataHub.MeteringPoints.Domain.csproj
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Address.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeteringPointTests.cs
Due: unit

Changes to address validation rules. Rename an refactor validation rules.
  source/Energinet.DataHub.MeteringPoints.Application/Validation/CreateMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/AddressMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/CityNameMandatoryForMeteringPointTypeMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/CityNameMaximumLengthMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/CityNameMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringPointTypeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/OccurenceDateMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/PostCodeFormatMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/PostCodeMandatoryForMeteringPointTypeMustBeValidRuleMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/PostCodeMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/StreetNameMandatoryForMeteringPointTypeMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/StreetNameMaximumLengthMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/StreetNameMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/CityNameMandatoryForMeteringPointTypeValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/CityNameMaximumLengthValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/PostCodeMandatoryForMeteringPointTypeValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/PostCodeMaximumLengthValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/PostCodeWrongFormatValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/StreetNameMandatoryForMeteringPointTypeValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/StreetNameMaximumLengthValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/CityNameMandatoryForMeteringPointTypeErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/CityNameMaximumLengthErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/PostCodeWrongFormatErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/StreetNameMandatoryForMeteringPointTypeErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/StreetNameMaximumLengthErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit

Added DbUp executing to Terraform Config
  .github/actions/meteringpoint-apply-db-migrations/action.yml
  .github/workflows/infrastructure-cd.yml
Due: none

Added DbUp executing to Terraform Config (#113)
  .github/actions/meteringpoint-apply-db-migrations/action.yml
  .github/workflows/infrastructure-cd.yml
Due: none

Removed MP-type from Address validation errors.
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringGridAreaMandatoryErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/OccurenceDateWrongFormatErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/PostCodeMaximumLengthErrorConverter.cs
Due: none

Add parameters to empty constructors
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
Due: unit

Added missing error converter
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/PostCodeMandatoryForMeteringPointTypeErrorConverter.cs
Due: none

Change properties to private fields to enable encapsulation
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
Due: unit

Change properties to private fields to enable encapsulation
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
Due: unit

Change properties to private fields to enable encapsulation
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
Due: unit

Change properties to private fields to enable encapsulation
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
Due: unit

add help to exception
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/Internals/EnumerationReflection.cs
Due: unit

add missing registrations
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Pipeline/InputValidationBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SystemDateTimeProvider.cs
Due: integration

add test to ensure mapping
  source/Energinet.DataHub.MeteringPoints.Tests/Application/CreateMeteringPointMapperTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
Due: unit

Update infrastructure-ci.yml
  .github/workflows/infrastructure-ci.yml
Due: none

add properties to mappers
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/Mappers/CreateMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Processing/Contracts/Contract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Processing/Mappers/CreateMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TransportTests.cs
Due: none

add missing project variable
  build/infrastructure/evh-meteringpoint.tf
Due: none

Added echos
  .github/workflows/infrastructure-cd.yml
Due: none

Added outputs.tf
  build/infrastructure/outputs.tf
Due: none

Made the CreateMeteringPoint endpoint "POST" only. Added a try catch around the Deserialize method call to throw a 400 bad request in case something goes wrong.
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/CreateMeteringPointHttpTrigger.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/local.settings.sample.json
Due: integration

Connection string for applying db migrations
  .github/actions/meteringpoint-apply-db-migrations/action.yml
  .github/workflows/infrastructure-cd.yml
  build/infrastructure/outputs.tf
Due: none

fix typo
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ReadingOccurrence.cs
Due: unit

update some edi translations
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/Input/CreateMeteringPointXmlDeserializer.cs
Due: none

Added logging of deserialize exception
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/CreateMeteringPointHttpTrigger.cs
Due: integration

Update XML deserializer (#117)
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ReadingOccurrence.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/Input/CreateMeteringPointXmlDeserializer.cs
Due: unit

Fix input variables
  .github/actions/meteringpoint-apply-db-migrations/action.yml
  .github/workflows/infrastructure-cd.yml
  .github/workflows/infrastructure-ci.yml
Due: none

Added missing steps to TF CI (#116)
  .github/actions/meteringpoint-apply-db-migrations/action.yml
  .github/workflows/infrastructure-cd.yml
  .github/workflows/infrastructure-ci.yml
  build/infrastructure/evh-meteringpoint.tf
  build/infrastructure/outputs.tf
Due: none

use different environment for TF CI
  .github/workflows/infrastructure-ci-destroy.yml
  .github/workflows/infrastructure-ci.yml
Due: none

Fixed and streamline env variables
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
Due: integration

Added Validation Error code for ErrorConverters Removed TODO's saying redo later.
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/CityNameMandatoryForMeteringPointTypeErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/CityNameMaximumLengthErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/GsrnNumberMustBeValidErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringGridAreaLengthErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringGridAreaMandatoryErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringPointTypeErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringPointTypeRequiredErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/OccurenceDateWrongFormatErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/OccurenceRequiredErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/PostCodeMandatoryForMeteringPointTypeErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/PostCodeMaximumLengthErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/PostCodeWrongFormatErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/SettlementMethodMissingRequiredDomainValuesErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/SettlementMethodNotAllowedErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/SettlementMethodRequiredErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/StreetNameMandatoryForMeteringPointTypeErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/StreetNameMaximumLengthErrorConverter.cs
Due: none

Update CreateMeteringPointCimXml.xml
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/CreateMeteringPointCimXml.xml
Due: unit
