Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Remove unused test methods
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
Due: unit

Update MessageHub client Package
  build/infrastructure/main/func-localmessagehub.tf
  build/infrastructure/main/func-outbox.tf
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/MessageHub/DataAvailableNotificationDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/MessageHub/DataBundleResponseDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/DataAvailableNotification.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/DataBundleResponse.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Energinet.DataHub.MeteringPoints.Messaging.csproj
  source/Energinet.DataHub.MeteringPoints.Messaging/LocalMessageHubClient.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/LocalMessageHubDataAvailableClient.cs
  source/Energinet.DataHub.MeteringPoints.Tests/AzureFunctionHostConfigurationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/LocalMessageHubTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/Mocks/StorageHandlerMock.cs
Due: unit, integration

What: Created database manager and can now start 2nd function app
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointDatabaseManager.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/MeteringPoints.EntryPoints.IntegrationTests.csproj
Due: none

Update to Readme and variables
  README.md
  build/infrastructure/main/func-localmessagehub.tf
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Functions/BundleDequeuedQueueSubscriber.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Functions/RequestBundleQueueSubscriber.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/local.settings.sample.json
Due: none

Restructure facade
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ChangeMasterDataFacade.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
Due: unit

Refactor command handler
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
Due: unit

Add metering configuration as constructor parameter
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Exchange/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
Due: unit

Remove meter id as parameter
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Exchange/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
Due: unit

Remove metering method as parameter
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Exchange/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
Due: unit

update APCharacteristics cim message
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SendAccountingPointCharacteristicsMessage.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SendAccountingPointCharacteristicsMessageHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/EDI/IBusinessDocumentFactory.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/MeteringPointDto.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Contracts/Contract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/AccountingPointCharacteristics/AccountingPointCharacteristicsXmlSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/AccountingPointCharacteristics/BusinessReasonCodes.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/AccountingPointCharacteristics/ChildMarketEvaluationPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/AccountingPointCharacteristics/MarketEvaluationPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/AccountingPointCharacteristics/ParentMarketEvaluationPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/AccountingPointCharacteristics/Series.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/BusinessDocumentFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Common/Address/MainAddress.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Common/Address/StreetDetail.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Common/Address/TownDetail.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ConnectMeteringPoint/ConnectMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/DateTimeExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/Connect/SendAccountingPointCharacteristicsMessageInbound.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/Connect/SendAccountingPointCharacteristicsMessageOutbound.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/AccountingPointCharacteristics/AccountingPointCharacteristics.xml
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/AccountingPointCharacteristics/AccountingPointCharacteristicsSerializerTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
Due: unit

What: Creating a lot of service bus resources for OutputWatcher
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/local.settings.sample.json
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
Due: integration

What: Empty line
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
Due: none

What: Delay
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
Due: none

Get app settings from keyvault
  build/infrastructure/main/func-localmessagehub.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/kv-shared-resources.tf
Due: none

Fix wrong naming
  build/infrastructure/main/kv-shared-resources.tf
Due: none

move app service to linux plan
  README.md
  build/infrastructure/main/app-webapi.tf
Due: none

move app service to linux plan
  build/infrastructure/main/app-webapi.tf
Due: none

added dotnet version to webapi
  build/infrastructure/main/app-webapi.tf
Due: none

What: Verify QueueSubscriber was executed
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/MeteringPoints.EntryPoints.IntegrationTests.csproj
Due: none

What: Complete test with verification
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/MeteringPoints.EntryPoints.IntegrationTests.csproj
Due: none

What: Build configuration
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/MeteringPoints.EntryPoints.IntegrationTests.csproj
Due: none

What: One database fixture to rule them all
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/DatabaseFixture.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/MeteringPointDatabaseManager.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/WebApi/WebApiHost.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/MeteringPoints.EntryPoints.IntegrationTests.csproj
Due: none

What: Remove Squadron for SQL tests
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
Due: none

What: Seed database for tests
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/MeteringPointDatabaseManager.cs
  source/Energinet.DataHub.MeteringPoints.Tests/AzureFunctionHostConfigurationTests.cs
Due: unit

reverted SetEnergySupplierInfo logic
  source/Energinet.DataHub.MeteringPoints.Application/Connect/AddEnergySupplier.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/AddEnergySupplierHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/EnergySupplierChangedHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/FutureEnergySupplierChangeRegisteredHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SendAccountingPointCharacteristicsMessageHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SetEnergySupplierDetailsHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SetEnergySupplierInfo.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202111041429 Add energy supplier details table.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202109232129 Clean database.sql
  source/Energinet.DataHub.MeteringPoints.Domain/EnergySuppliers/EnergySupplier.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/EnergySupplierDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Contracts/Contract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/Connect/AddEnergySupplierInbound.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/Connect/AddEnergySupplierOutbound.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
Due: unit, integration

Add metering configuration as paramter
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/CreateConsumptionMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
Due: unit

Add metering configuration as parameter
  source/Energinet.DataHub.MeteringPoints.Application/Create/Production/CreateProductionMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
Due: unit

Use metering configuration parameter
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Production/CreationTests.cs
Due: unit

Remove metering method as parameter
  source/Energinet.DataHub.MeteringPoints.Application/Create/Production/CreateProductionMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
Due: unit

Remove meter as parameter
  source/Energinet.DataHub.MeteringPoints.Application/Create/Production/CreateProductionMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
Due: unit

Add metering configuration as parameter
  source/Energinet.DataHub.MeteringPoints.Application/Create/Exchange/CreateExchangeMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Exchange/ExchangeMeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
Due: unit

Remove metering method as parameter
  source/Energinet.DataHub.MeteringPoints.Application/Create/Exchange/CreateExchangeMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Exchange/ExchangeMeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
Due: unit

Remove meter as parameter
  source/Energinet.DataHub.MeteringPoints.Application/Create/Exchange/CreateExchangeMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Exchange/ExchangeMeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
Due: unit

Use metering configuration parameter
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Exchange/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Exchange/CreationTests.cs
Due: unit

What: Use prerelease from BuGet.org
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
  source/MeteringPoints.EntryPoints.IntegrationTests/MeteringPoints.EntryPoints.IntegrationTests.csproj
Due: none

Use method from configuration
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Production/CreationTests.cs
Due: unit

Remove metering method as property
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Exchange/ExchangeMeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Exchange/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Production/CreationTests.cs
Due: unit

Remove meter as property
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Exchange/ExchangeMeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Exchange/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Production/CreationTests.cs
Due: unit

fix unit test
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/BusinessDocumentFactory.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/AccountingPointCharacteristics/AccountingPointCharacteristicsSerializerTests.cs
Due: unit

Rename test
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
Due: unit

Path conditions:
  unit: any of: source/Energinet.DataHub.MeteringPoints.Application/, source/Energinet.DataHub.MeteringPoints.Domain/, source/Energinet.DataHub.MeteringPoints.Tests/
  integration: any of: source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/, source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/
