Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Changes after main merge and conflicts
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Tests/ErrorValidationRegistrationTests.cs
Due: unit, integration

Convert type name to lowercase to enable casing ignorance
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/Internals/EnumerationReflection.cs
Due: unit

Convert values to lowercase to support casing ignorance
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
Due: unit

Update source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/Internals/EnumerationReflection.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/Internals/EnumerationReflection.cs
Due: unit

Change method
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/Internals/EnumerationReflection.cs
Due: unit

Added infrastructure assembly to scan for its handlers (I.e. integration event)
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
Due: integration

Added missing DI dependencies
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
Due: integration

Changed event hub connection string to sender instead of listener
  build/infrastructure/azfun-outbox.tf
Due: none

Changes after PR, clean up and added MeteringPointType
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/AddressMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringGridAreaValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/OccurenceDateMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/PostCodeMandatoryForMeteringPointTypeMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPointType.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit

Edited integration tests for validation rules
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

reverted TestHost
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Added ErrorConverter for Domain gsrn-error-rule
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/GsrnNumberMustBeValidDomainErrorConverter.cs
Due: none

added validation for meternumber and Metering point sub type
  source/Energinet.DataHub.MeteringPoints.Application/Validation/CreateMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeterNumberMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringPointSubTypeMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/MeterNumberMandatoryValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/MeterNumberMaximumLengthValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/MeterNumberNotAllowedValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/MeteringPointSubTypeMandatoryValidationError.cs
Due: unit

Changes data format for milliseconds, OccurenceDate
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/OccurenceDateMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit

tests added for meter number and MP sub type
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeterNumberMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit

Update outbox-cd.yml
  .github/workflows/outbox-cd.yml
Due: none

Update ingestion-cd.yml
  .github/workflows/ingestion-cd.yml
Due: none

Update processing-cd.yml
  .github/workflows/processing-cd.yml
Due: none

Added Error Converters
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeterNumberMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeterNumberMandatoryErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeterNumberMaximumLengthErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeterNumberNotAllowedErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringPointSubTypeMandatoryErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit

added changes for integration tests
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringPointTypeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
Due: unit

Updated tier plan to free for now.
  build/infrastructure/azfun-ingestion.tf
  build/infrastructure/azfun-outbox.tf
  build/infrastructure/azfun-processing.tf
Due: none

github actions test
  .github/actions/configure-terraform-backend/action.yml
  .github/actions/terraform-cd/action.yml
  .github/workflows/infrastructure-cd.yml
  .github/workflows/infrastructure-ci.yml
Due: none

removed unused Python setup in Terraform cd
  .github/workflows/infrastructure-cd.yml
Due: none

change checkout actions branch pointer
  .github/workflows/infrastructure-cd.yml
  .github/workflows/infrastructure-ci-destroy.yml
  .github/workflows/infrastructure-ci.yml
  .github/workflows/license-check-ci.yml
  .github/workflows/md-check.yml
  NOTICE.md
Due: none

added missing action
  .github/actions/configure-terraform-backend/action.yml
Due: none

Make status appear as second property to conform to standard layout
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointRejected.cs
Due: none

Change CCR to GEH (CCR is DH2 terminology)
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/GsrnNumberMustBeValidDomainErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/GsrnNumberMustBeValidErrorConverter.cs
Due: none

Added text changes CCR to GEH
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/GsrnNumberMustBeValidDomainErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/GsrnNumberMustBeValidErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Tests/ErrorValidationRegistrationTests.cs
Due: unit

UT to pass
  source/Energinet.DataHub.MeteringPoints.Tests/ErrorValidationRegistrationTests.cs
Due: unit

Add .md documenting createMP validations
  docs/validations/create-metering-point-validations.md
Due: none

change to bullets instead of checklist
  docs/validations/create-metering-point-validations.md
Due: none

lint and spell check
  .github/utilities/md-spellcheck/wordlist.txt
  docs/validations/create-metering-point-validations.md
Due: none

lint
  docs/validations/create-metering-point-validations.md
Due: none

last lint..
  docs/validations/create-metering-point-validations.md
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Create test.md
  docs/business-processes/test.md
Due: none

Update test.md
  docs/business-processes/test.md
Due: none

Delete test.md
  docs/business-processes/test.md
Due: none
