Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Refactoring
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/EventMessageDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Repositories/EventRepository.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Repositories/IEventRepository.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Services/IEventService.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessProcessResponderBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationContracts/Contract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/AzureEventDataResult.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/AzureEventHubChannel.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/AzureEventHubService.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/IAzureEventHubService.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/IntegrationEventDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/IntegrationEventMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Mappers/IntegrationEventMessageMapper.cs
Due: integration

Removed obselete EventHubConfig
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/AzureEventHubConfig.cs
Due: none

updated
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/CreateMeteringPointHttpTrigger.cs
Due: integration

Refactored the way we use Entity Framework. Eliminated use of POCO's and make use of direct mapping to Domain Entities instead.
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Helpers/ConnectionStringFactory.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/EnumerationType.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/IUnitOfWork.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPointContext.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataBaseAccess/Write/IUnitOfWork.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataBaseAccess/Write/IWriteDatabaseContext.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataBaseAccess/Write/Outbox/OutboxMessagesDataModel.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataBaseAccess/Write/Outbox/OutboxMessagesDataModelConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataBaseAccess/Write/WriteDatabaseContext.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/OutboxEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/OutboxMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/OutboxMessageCategory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/UnitOfWorkBehavior.cs
Due: unit, integration

Removed obselete trigger
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/CreateMeteringPointHttpTrigger.cs
Due: integration

Added UnitOfWork
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/UnitOfWork.cs
Due: none

updated eventmessage to record
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/EventMessageDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/IntegrationEventMessage.cs
Due: integration

split proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationContracts/IntegrationEventContract.proto
Due: none

Fixed test
  source/Energinet.DataHub.MeteringPoints.Tests/ApplyDBMigrationsApp/Helpers/ConnectionStringFactoryTests.cs
Due: unit

Split proto file in 2
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationContracts/Contract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Mappers/IntegrationEventMessageMapper.cs
Due: integration

Update notice file with new GH action
  NOTICE.md
Due: none

Update notice with the new usage of a GitHub action
  NOTICE.md
Due: none

Added ebix message examples for creation, confirm/reject, and notification
  docs/examples/create-metering-point-messages/ebix/RSM-021-CreateMPOverview.jpg
  docs/examples/create-metering-point-messages/ebix/confirmation-messages/RSM-021_DK_ConfirmUpdateMasterDataMeteringPoint_E17.xml
  docs/examples/create-metering-point-messages/ebix/confirmation-messages/RSM-021_DK_RejectUpdateMasterDataMeteringPoint.xml
  docs/examples/create-metering-point-messages/ebix/creation-messages/RSM-021-CreateExchangeMP.xml
  docs/examples/create-metering-point-messages/ebix/creation-messages/RSM-021-CreateProductionMP.xml
  docs/examples/create-metering-point-messages/ebix/creation-messages/RSM-021_RequestUpdateMasterDataMeteringPoint_D15_Child.xml
  docs/examples/create-metering-point-messages/ebix/creation-messages/RSM-021_RequestUpdateMasterDataMeteringPoint_E17.xml
  docs/examples/create-metering-point-messages/ebix/notification-messages/RSM-022_NotifyMasterDataMeteringPoint_Child.xml
  docs/examples/create-metering-point-messages/ebix/notification-messages/RSM_022_NotifyMasterDataMP_Consumption.xml
Due: none

add license
  docs/examples/create-metering-point-messages/ebix/confirmation-messages/RSM-021_DK_ConfirmUpdateMasterDataMeteringPoint_E17.xml
  docs/examples/create-metering-point-messages/ebix/confirmation-messages/RSM-021_DK_RejectUpdateMasterDataMeteringPoint.xml
  docs/examples/create-metering-point-messages/ebix/creation-messages/RSM-021-CreateExchangeMP.xml
  docs/examples/create-metering-point-messages/ebix/creation-messages/RSM-021-CreateProductionMP.xml
  docs/examples/create-metering-point-messages/ebix/creation-messages/RSM-021_RequestUpdateMasterDataMeteringPoint_D15_Child.xml
  docs/examples/create-metering-point-messages/ebix/creation-messages/RSM-021_RequestUpdateMasterDataMeteringPoint_E17.xml
  docs/examples/create-metering-point-messages/ebix/notification-messages/RSM-022_NotifyMasterDataMeteringPoint_Child.xml
  docs/examples/create-metering-point-messages/ebix/notification-messages/RSM_022_NotifyMasterDataMP_Consumption.xml
Due: none

license
  docs/examples/create-metering-point-messages/ebix/confirmation-messages/RSM-021_DK_ConfirmUpdateMasterDataMeteringPoint_E17.xml
  docs/examples/create-metering-point-messages/ebix/confirmation-messages/RSM-021_DK_RejectUpdateMasterDataMeteringPoint.xml
  docs/examples/create-metering-point-messages/ebix/creation-messages/RSM-021-CreateExchangeMP.xml
  docs/examples/create-metering-point-messages/ebix/creation-messages/RSM-021-CreateProductionMP.xml
  docs/examples/create-metering-point-messages/ebix/notification-messages/RSM_022_NotifyMasterDataMP_Consumption.xml
Due: none

license..
  docs/examples/create-metering-point-messages/ebix/confirmation-messages/RSM-021_DK_ConfirmUpdateMasterDataMeteringPoint_E17.xml
  docs/examples/create-metering-point-messages/ebix/confirmation-messages/RSM-021_DK_RejectUpdateMasterDataMeteringPoint.xml
  docs/examples/create-metering-point-messages/ebix/creation-messages/RSM-021-CreateExchangeMP.xml
  docs/examples/create-metering-point-messages/ebix/creation-messages/RSM-021-CreateProductionMP.xml
  docs/examples/create-metering-point-messages/ebix/notification-messages/RSM_022_NotifyMasterDataMP_Consumption.xml
Due: none

conform file naming
  docs/examples/create-metering-point-messages/ebix/creation-messages/RSM-021_CreateExchangeMP.xml
  docs/examples/create-metering-point-messages/ebix/creation-messages/RSM-021_CreateProductionMP.xml
Due: none

license...
  docs/examples/create-metering-point-messages/ebix/confirmation-messages/RSM-021_DK_ConfirmUpdateMasterDataMeteringPoint_E17.xml
  docs/examples/create-metering-point-messages/ebix/confirmation-messages/RSM-021_DK_RejectUpdateMasterDataMeteringPoint.xml
  docs/examples/create-metering-point-messages/ebix/creation-messages/RSM-021_CreateExchangeMP.xml
  docs/examples/create-metering-point-messages/ebix/creation-messages/RSM-021_CreateProductionMP.xml
Due: none

license...
  docs/examples/create-metering-point-messages/ebix/creation-messages/RSM-021_CreateExchangeMP.xml
  docs/examples/create-metering-point-messages/ebix/creation-messages/RSM-021_CreateProductionMP.xml
Due: none

license...
  docs/examples/create-metering-point-messages/ebix/confirmation-messages/RSM-021_DK_ConfirmUpdateMasterDataMeteringPoint_E17.xml
  docs/examples/create-metering-point-messages/ebix/confirmation-messages/RSM-021_DK_RejectUpdateMasterDataMeteringPoint.xml
Due: none

Updated CreateMeteringPoint Command
  source/Energinet.DataHub.MeteringPoints.Application/Address.cs
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPoint.cs
Due: unit

Refactoring
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointEventMessage.cs
  source/Energinet.DataHub.MeteringPoints.Application/IntegrationEvent/IIntegrastionEventOutboxService.cs
  source/Energinet.DataHub.MeteringPoints.Application/IntegrationEvent/IIntegrationEventDispatchOrchestrator.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/EventMessageDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationContracts/IntegrationEventContract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Handlers/CreateMeteringPointEventHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Helpers/IJsonSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Helpers/IntegrationEventTypeFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Helpers/JsonSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Helpers/OutboxMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Mappers/CreateMeteringPointEventMessageMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Services/IntegrationEventDispatchOrchestrator.cs
Due: unit, integration

Added walking skeleton for handling of input validation and associated tests
  source/Energinet.DataHub.MeteringPoints.Application/InputValidation/IValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/InputValidation/InputValidationResult.cs
  source/Energinet.DataHub.MeteringPoints.Application/InputValidation/InputValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/InputValidation/ValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/InputValidation/Validators/GsrnInputValidator.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InputValidationBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/InputValidation/CreateMeteringPointInputValidationTests.cs
Due: unit, integration

Removed Gsrn from input validation and added validation of occurence date
  source/Energinet.DataHub.MeteringPoints.Application/InputValidation/Validators/GsrnInputValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/InputValidation/Validators/OccurenceDateInputValidation.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Tests/InputValidation/CreateMeteringPointInputValidationTests.cs
Due: unit

Renamed InputValidationResult to ValidationResult so it´s usable with other validation types
  source/Energinet.DataHub.MeteringPoints.Application/InputValidation/InputValidationResult.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/IValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/InputValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/InputValidators/OccurenceDateInputValidation.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationResult.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InputValidationBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Tests/InputValidation/CreateMeteringPointInputValidationTests.cs
Due: unit

Remove using
  source/Energinet.DataHub.MeteringPoints.Application/Validation/IValidator.cs
Due: unit

Refactoring
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Channels/AzureEventHubChannel.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Dispatchers/IntegrationEventToEventHubDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Handlers/CreateMeteringPointEventHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Helpers/MeteringPointOutboxMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Services/IntegrationEventDispatchOrchestrator.cs
Due: integration

Changed environment TF CI deploys into
  .github/workflows/infrastructure-ci.yml
Due: none

Renamed method to be more specific about the actual behavior
  source/Energinet.DataHub.MeteringPoints.Application/Validation/InputValidators/OccurenceDateInputValidation.cs
Due: unit

Added property MeterNumber to MeteringPoint
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPoint.cs
Due: unit

Added TODO about verifying that occurrence date is within a valid date range
  source/Energinet.DataHub.MeteringPoints.Application/Validation/InputValidators/OccurenceDateInputValidation.cs
Due: unit

Adding method for creating UserIdentity from json string. Adding UserIdentity parsing in user-context-middleware.
  source/Energinet.DataHub.MeteringPoints.Application/UserIdentity/UserIdentityFactory.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/ServiceBusUserContextMiddleware.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Application/UserIdentity/UserIdentityFactoryTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
Due: unit, integration

Start of repository
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Handlers/CreateMeteringPointEventHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Helpers/MeteringPointOutboxMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Repository/IIntegrationEventRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Services/IntegrationEventDispatchOrchestrator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Services/IntegrationEventRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/OutboxMessage.cs
Due: integration

Update EnumerationType.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/EnumerationType.cs
Due: unit

Add test of behaviour
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/EnumerationTypeTest/DocumentTypes.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EnumerationTypeTest/InternalFieldsTests.cs
Due: unit

Cover existing behaviour with test
  source/Energinet.DataHub.MeteringPoints.Tests/Assets/DocumentTypes.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/EnumerationTypeTests.cs
Due: unit

Expose internal domain classes to test
  source/Energinet.DataHub.MeteringPoints.Domain/Energinet.DataHub.MeteringPoints.Domain.csproj
Due: unit

Extract logic into separate class
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/EnumerationType.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/Internals/CheckOnInvocationReflectionStrategy.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/Internals/ReflectionStrategy.cs
Due: unit

Prepare test of strategies
  source/Energinet.DataHub.MeteringPoints.Tests/ReflectionStrategyTests.cs
Due: unit
