Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Generalize authorizer
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Authorizer.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMeteringPointAuthorizer.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/IChangeMeteringPointRequest.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/ConnectMeteringPointRequest.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Authorization/AuthorizationRegistrationExtensions.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit

Add time policy handling
  source/Energinet.DataHub.MeteringPoints.Application/Connect/ConnectMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/ConnectSettings.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit

Register connect settings
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
Due: integration

Cleanup test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
Due: none

Rename
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
Due: none

Remove obsolete tests
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
Due: none

Move assertion
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
Due: none

change records to classes
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/MeteringPointCimDto.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/MeteringPointSimpleCimDto.cs
Due: none

only use get for properties
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/MeteringPointCimDto.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/MeteringPointSimpleCimDto.cs
Due: none

Add rule for group 5 metering points
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Connect/MustBeCoupledToParent.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Connect/MustBeCoupledToParentRule.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/ConnectTests.cs
Due: unit

Refactor rule
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Rules/Connect/MustHaveEnergySupplierRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Connect/MustBeCoupledToParentConverter.cs
Due: unit

Specific metering points must be physical
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Connect/MeterMustBePhysical.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Connect/MeterMustBePhysicalRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Connect/MeterMustBePhysicalConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/ConnectTests.cs
Due: unit

Extension and mapping done
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Contracts/IntegrationEventContract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedEventMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedEventMessageMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedIntegrationEventExtension.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedNotificationHandler.cs
Due: none

Remove unused imports
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
Due: none

Move to new home
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/AssertMeteringPoint.cs
Due: none

Extend JsonSerializer to support deserialization of object type
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Serialization/Converters/ObjectToInferredTypesConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Serialization/JsonSerializer.cs
Due: none

Remove dead code
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
Due: none

delete constructors
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/MeteringPointCimDto.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/MeteringPointSimpleCimDto.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointByGsrnQueryHandler.cs
Due: none

Move authorization logic to shared library
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/GridOperatorPolicies/GridOperatorIsOwnerPolicy.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Authorizer.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/Users/IUserContext.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/Users/UserIdentity.cs
  source/Energinet.DataHub.MeteringPoints.Application/Energinet.DataHub.MeteringPoints.Application.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/ServiceBusSessionIdMiddleware.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/FunctionContextExtensions.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/HttpUserContextMiddleware.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/ServiceBusUserContextMiddleware.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Actors/ActorProvider.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ChangeMasterData/ChangeMasterDataResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/IActorMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/MessageHubDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/InternalServiceBus.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Serialization/Converters/CustomJsonConverterForType.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ServiceBus/Constants.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ServiceBus/ServiceBusUserIdentityFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/UserIdentity/UserIdentityExtensions.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UserContextStub.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Application/UserIdentity/UserIdentityFactoryTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointHttpTriggerTests.cs
Due: unit, integration

Fix test
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ConnectMeteringPoint/ConnectMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
Due: none

bump package version
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
Due: none

update outbox telemetry decorator
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/OutboxMessageDispatcherTelemetryDecorator.cs
Due: integration

Update packages
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
Due: unit, integration

Refactor metering point change authorization handling
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/GridOperatorPolicies/GridOperatorIsOwnerPolicy.cs
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/IAuthorizer.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMeteringPointAuthorizer.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/ConnectMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Providers/MeteringPointOwnership/IMeteringPointOwnershipProvider.cs
  source/Energinet.DataHub.MeteringPoints.Application/Providers/MeteringPointOwnership/Owner.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Authorization/AuthorizationRegistrationExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Authorization/NullAuthorizer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Pipeline/AuthorizationBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Providers/MeteringPointOwnership/MeteringPointOwnershipProvider.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Providers/MeteringPointOwnership/MeteringPointOwnershipProviderException.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

Change to StringValue for possible null properties
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Contracts/IntegrationEventContract.proto
Due: none

One more stringvalue
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Contracts/IntegrationEventContract.proto
Due: none

Rename assertion helper
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/AssertPersistedMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
Due: none

set nullable properties
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/MeteringPointCimDto.cs
Due: none

Use real nuget packages
  source/Energinet.DataHub.MeteringPoints.Application/Energinet.DataHub.MeteringPoints.Application.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
Due: unit, integration

Remove factory from IoC registration which has been made static
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
Due: integration

add information to exception
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedIntegrationEventExtension.cs
Due: none

add operation id to exception
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/OutboxMessageDispatcherTelemetryDecorator.cs
Due: integration

assert on messagehub message
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/OutboxMessageDispatcherTelemetryDecorator.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/TestDataCreator.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointHttpTriggerTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/MeteringPoints.EntryPoints.IntegrationTests.csproj
  source/MeteringPoints.EntryPoints.IntegrationTests/TestFiles/Cim/CreateMeteringPointConsumption.xml
  source/MeteringPoints.EntryPoints.IntegrationTests/TestFiles/Cim/CreateMeteringPointExchange.xml
  source/MeteringPoints.EntryPoints.IntegrationTests/TestFiles/Cim/CreateMeteringPointProduction.xml
Due: integration

Use correct schema for validation
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
Due: unit

Set valid valud for nextReadingDate
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/CreateMeteringPointCimXml.xml
Due: unit

rename document types
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ChangeMasterData/ChangeMasterDataResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ConnectMeteringPoint/ConnectMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/DocumentType.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ChangeMasterDataTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/AddressChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ExchangeMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ProductionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/SpecialMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/BundleCreatorTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/LocalMessageHubTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
Due: unit

downgrade from prerelease nuget package
  source/MeteringPoints.EntryPoints.IntegrationTests/MeteringPoints.EntryPoints.IntegrationTests.csproj
Due: none

Update protobuf contract and extensions
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Contracts/IntegrationEventContract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedIntegrationEventExtension.cs
Due: none

remove failing tests
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
Due: none
