Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Internal command processing continues processing even though an unhandled exception is thrown
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/InternalCommandProcessor.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Infrastructure/InternalCommands/InternalCommandProcessorTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Infrastructure/InternalCommands/TestCommand.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Infrastructure/InternalCommands/TestCommandHandler.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
Due: unit

Added Outbox functionality
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MasterDataUpdatedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeMasterData/MasterDataUpdated/MasterDataUpdatedTopic.cs
  source/Energinet.DataHub.MeteringPoints.Tests/AzureFunctionHostConfigurationTests.cs
Due: unit, integration

Added outbox type
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Helpers/OutboxTypeFactory.cs
Due: none

update TF
  build/infrastructure/main/func-outbox.tf
Due: none

Upgraded nuget packages to add suppoort for custom XML namespace prefixes
  source/Energinet.DataHub.MeteringPoints.Application/Energinet.DataHub.MeteringPoints.Application.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
Due: unit, integration

Update entrypoint test fixture
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
Due: none

Clean up on reconnect/disconnect IE
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Events/MeteringPointDisconnected.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Events/MeteringPointReconnected.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeConnectionStatus/Disconnect/MeteringPointDisconnectedIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeConnectionStatus/Disconnect/OnMeteringPointDisconnected.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeConnectionStatus/Reconnect/MeteringPointReconnectedIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeConnectionStatus/Reconnect/MeteringPointReconnectedMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeConnectionStatus/Reconnect/OnMeteringPointReconnected.cs
Due: unit

Updated actor registry and added permissions for new user
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202203111117 Updates from actor registry.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202203111121 Latest UserActor bindings.sql
Due: integration

Update mapper
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeConnectionStatus/Disconnect/MeteringPointDisconnectedMapper.cs
Due: none

Add error column
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202203132000 Add error column.sql
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Infrastructure/InternalCommands/InternalCommandProcessorTests.cs
Due: integration

When execution fails the exception is logged and internal command is marked as processed
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/InternalCommandProcessor.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/QueuedInternalCommand.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/QueuedInternalCommandEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Infrastructure/InternalCommands/InternalCommandProcessorTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Infrastructure/InternalCommands/TestCommand.cs
Due: none

Remove obsolete test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Infrastructure/InternalCommands/InternalCommandProcessorTests.cs
Due: none

Refactor assert methods
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Infrastructure/InternalCommands/InternalCommandProcessorTests.cs
Due: none

Remove using
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/InternalCommandProcessor.cs
Due: none

Embed resource
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
Due: integration

Made Meteringpoint DdministratorId nullable
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202203011400 Add Administrator to meteringpoints.sql
Due: integration

Added new user and user actor relation for batman test 3
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202203150919 Latest UserActor bindings.sql
Due: integration

Update logging version
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
Due: integration

Moved correlation id to the header instead of body
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Functions/MeteringPointHttpTrigger.cs
Due: integration

Removed Content-Type header since the response no longer has a body
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Functions/MeteringPointHttpTrigger.cs
Due: integration

Updated test with new correlation id header
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
Due: none

Alert and action group added
  build/infrastructure/main/alerts.tf
  build/infrastructure/main/kv-shared-resources.tf
Due: none

Added new users and permissions
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202203171432 Latest UserActor bindings.sql
Due: integration

Fix Actor ID
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202203181138 Update test actor.sql
Due: integration

Thanks, SonarCloud..
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202203181138 Update test actor.sql
Due: integration

Fixed type
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202203181138 Update test actor.sql
Due: integration

Allow empty GUI as DAR reference
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/GeoInfoReferenceRequirementRule.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: unit

Update alert
  build/infrastructure/main/alerts.tf
Due: none

xml req docs updated
  docs/xml-requests/RequestChangeAccountingPointCharacteristics (CloseDown).xml
  docs/xml-requests/RequestChangeAccountingPointCharacteristics (Connect).xml
  docs/xml-requests/RequestChangeAccountingPointCharacteristics (Disconnect).xml
  docs/xml-requests/RequestChangeAccountingPointCharacteristics (Reconnect).xml
  docs/xml-requests/RequestChangeAccountingPointCharacteristics (Update).xml
  docs/xml-requests/RequestChangeAccountingPointCharacteristics(Create child).xml
  docs/xml-requests/RequestChangeAccountingPointCharacteristics(CreateMP).xml
Due: none

License added
  docs/xml-requests/RequestChangeAccountingPointCharacteristics (CloseDown).xml
  docs/xml-requests/RequestChangeAccountingPointCharacteristics (Connect).xml
  docs/xml-requests/RequestChangeAccountingPointCharacteristics (Disconnect).xml
  docs/xml-requests/RequestChangeAccountingPointCharacteristics (Reconnect).xml
  docs/xml-requests/RequestChangeAccountingPointCharacteristics (Update).xml
  docs/xml-requests/RequestChangeAccountingPointCharacteristics(Create child).xml
  docs/xml-requests/RequestChangeAccountingPointCharacteristics(CreateMP).xml
Due: none

Update messagehub package
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Messaging/Energinet.DataHub.MeteringPoints.Messaging.csproj
Due: integration

get documentname from messagehubEnvelope content
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/MessageHub/DataAvailableNotificationDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/DataAvailableNotification.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Energinet.DataHub.MeteringPoints.Messaging.csproj
  source/Energinet.DataHub.MeteringPoints.Messaging/LocalMessageHubDataAvailableClient.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/LocalMessageHubTests.cs
Due: unit, integration

Expand messagehub envelope
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageService.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/IMessageHubDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/MessageHubDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/MessageHubEnvelope.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/LocalMessageHubDataAvailableClient.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/LocalMessageHubTests.cs
Due: unit

Remove namespace and schema location
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/appsettings.json
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/AccountingPointCharacteristics/AccountingPointCharacteristicsMessageXmlSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/Confirm/ConfirmMessageXmlSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/Generic/GenericNotificationMessageXmlSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/Reject/RejectMessageXmlSerializer.cs
Due: none

Update appsettings.json
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/appsettings.json
Due: none

rename to APCharacteristics
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageService.cs
Due: none

Added latest Energinet users and bindings for users from 2 incidents
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202203241940 Latest UserActor bindings.sql
Due: integration

upgrade .github workflow versions and upload coverage in cd
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

fix variables for dotnet-solution-ci workflow
  .github/workflows/ci.yml
Due: none

use default codecov.yml
  codecov.yml
Due: none

Path conditions:
  unit: any of: source/Energinet.DataHub.MeteringPoints.Application/, source/Energinet.DataHub.MeteringPoints.Domain/, source/Energinet.DataHub.MeteringPoints.Tests/
  integration: any of: source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/, source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/
