Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Cleanup constructor
  source/Energinet.DataHub.MeteringPoints.Application/Common/Commands/InternalCommand.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SetEnergySupplierInfo.cs
Due: unit

Remove protobuf contract
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Contracts/Contract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/Connect/SetEnergySupplierInfoInbound.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/Connect/SetEnergySupplierInfoOutbound.cs
Due: none

Close down is scheduled to be be executed in the future
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/CloseDownRequestReceiver.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/InternalCommandProcessor.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/QueuedInternalCommand.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDown/RequestCloseDownTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit

Extract method
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/CloseDownRequestReceiver.cs
Due: unit

Metering point is closed down
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDown/RequestCloseDownTests.cs
Due: none

Remove service bus related properties
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202202241200 Remove servicebus related columns.sql
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/QueuedInternalCommand.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/QueuedInternalCommandEntityConfiguration.cs
Due: integration

Use existing method
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDown/RequestCloseDownTests.cs
Due: none

remove plans and use the shared one
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/func-internalcommanddispatcher.tf
  build/infrastructure/main/func-localmessagehub.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/plan-shared.tf
Due: none

A metering point can be closed down once only
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Exceptions/CloseDownException.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/CloseDown/MeteringPointIsAlreadyClosedDown.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/CloseDownTests.cs
Due: unit

Correct xml message
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/AccountingPointCharacteristics/AccountingPointCharacteristicsMessageXmlSerializer.cs
Due: none

remove plans and use the shared one
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/func-localmessagehub.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/plan-shared.tf
Due: none

update to use shared subnets
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/func-internalcommanddispatcher.tf
  build/infrastructure/main/func-localmessagehub.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/kv-shared-resources.tf
Due: none

Fix test
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/AuthorizationConfiguration.cs
Due: none

Update AP characteristics edi tests
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/Confirm/ConfirmMessageXmlSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/Confirm/ConfirmRequestChangeAccountingPointCharacteristicsXmlDeclaration.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/Reject/RejectMessageXmlSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/Reject/RejectRequestChangeAccountingPointCharacteristicsXmlDeclaration.cs
Due: none

Update code owners
  .github/CODEOWNERS
Due: none

Clean QueuedInternalCommands
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202203011200 Clean QueuedInternalCommands.sql
Due: integration

Filter everywhere
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202203011200 Clean QueuedInternalCommands.sql
Due: integration

Added Administrator property to MasterData.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterData.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilderBase.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataUpdater.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/UpdateMasterDataTests.cs
Due: unit

Added decorator to log failed validations to app insights
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/BusinessProcessResultHandlerRejectReasonDecorator.cs
Due: integration

Created sql script to add Administrator to dbo.MeteringPoints
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202203011400 Add Administrator to meteringpoints.sql
Due: integration

point to kv secrets
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/func-localmessagehub.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/sb-meteringpoint.tf
  build/infrastructure/main/subnets.tf
  build/infrastructure/main/variables.tf
Due: none

Reject if metering point is already closed down
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/CloseDownRequestReceiver.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDown/RequestCloseDownTests.cs
Due: unit

Updated function worker SDK
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
Due: integration

Process internal commands when time has passed event is raised
  source/Energinet.DataHub.MeteringPoints.Application/Common/SystemTime/TimeHasPassed.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/ProcessInternalCommandsOnTimeHasPassed.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDown/RequestCloseDownTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

Change purpose of function to act as system timer
  build/infrastructure/main/func-processing.tf
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Functions/SystemTimer.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/local.settings.sample.json
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
Due: integration

Remove obsolete tests
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDown/RequestCloseDownTests.cs
Due: none

Updated read.me with roadmap and context stream
  README.md
Due: none

Update README.md
  README.md
Due: none

Added Administrator (ActorId) to metering point on Create
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterData.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilderBase.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataUpdater.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/ActorDoesNotExistRuleError.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Scenarios.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Exchange/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/ParentChildTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Production/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/SetEnergySupplierTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/UpdateMasterDataTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SampleData.cs
Due: unit, integration

Changed "Administrator" to "AdministratorId"
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202203011400 Add Administrator to meteringpoints.sql
Due: unit, integration

Delegate command execution to service to ensure transaction and DI scope isolation
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/CloseDownMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/Commands/InternalCommand.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/AddEnergySupplier.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SendAccountingPointCharacteristicsMessage.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SetEnergySupplierInfo.cs
  source/Energinet.DataHub.MeteringPoints.Application/Integrations/ChargeLinks/Create/CreateDefaultChargeLinks.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Pipeline/UnitOfWorkBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/CommandExecutor.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/InternalCommandProcessor.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Infrastructure/InternalCommands/InternalCommandProcessorTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

Proto contract and mappers
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Events/MasterDataWasUpdated.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeMasterData/MasterDataUpdated/MasterDataUpdatedIntegrationEvent.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeMasterData/MasterDataUpdated/MasterDataUpdatedIntegrationEventExtension.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeMasterData/MasterDataUpdated/MasterDataWasUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeMasterData/MasterDataUpdated/MasterDataWasUpdatedMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeMasterData/MasterDataUpdated/OnMasterDataWasUpdated.cs
Due: unit

Update MP with context stream and architecture
  README.md
Due: none

Fixed spelling and linting issues
  README.md
Due: none

Fix daylight savings error
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/DateFormatMustBeUTCRule.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/TestHelpers.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/EffectiveDateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/EffectiveDateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/Policies/EffectiveDatePolicyTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Tooling/TestHelpers.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/TestDataCreator.cs
Due: unit

Extended updatemasterdataTests
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/EffectiveDateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/MeterReadingPeriodicityTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/MeteringConfigurationTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/NetSettlementGroupTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ProductTypeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/SettlementMethodTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/UnitTypeTests.cs
Due: integration

Fix daylightsavings error part two
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202110281315 Create Metering Point test data.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202201061300 Create Metering Point test data.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202202081200 Add process test data.sql
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/TestHelpers.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/EffectiveDateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Tooling/TestHelpers.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/TestFiles/Cim/CreateMeteringPointConsumption.xml
  source/MeteringPoints.EntryPoints.IntegrationTests/TestFiles/Cim/CreateMeteringPointExchange.xml
  source/MeteringPoints.EntryPoints.IntegrationTests/TestFiles/Cim/CreateMeteringPointProduction.xml
Due: unit, integration

Add timezone back for build environment
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/DateFormatMustBeUTCRule.cs
Due: unit

Path conditions:
  unit: any of: source/Energinet.DataHub.MeteringPoints.Application/, source/Energinet.DataHub.MeteringPoints.Domain/, source/Energinet.DataHub.MeteringPoints.Tests/
  integration: any of: source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/, source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/
