Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

fix terraform
  build/infrastructure/stor-postoffice.tf
Due: none

fix terraform
  build/infrastructure/azfun-outbox.tf
  build/infrastructure/stor-postoffice.tf
Due: none

Added support for explicit declaration of XML hierarchy for each property
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ConverterMapperConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ConverterMapperConfigurationBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ExtendedPropertyInfo.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/CreateMeteringPointXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlMappingConfigurationBase.cs
Due: none

Add support for nullable properties and cases where no matching elements in XML document exists
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/CreateMeteringPointXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlMappingConfigurationBase.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
Due: unit

Add support for translation of CIM XML values to Domain Specific values
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ConverterMapperConfigurationBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ExtendedPropertyInfo.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/CreateMeteringPointXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlMappingConfigurationBase.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
Due: unit

add correlation to outbox messages
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202106221537 Add Correlation to OutboxMessages.sql
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/ActorMessageDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/OutboxMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/OutboxMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/TempPostOfficeStorageClient.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: integration

adjust PostOfficeStorageClient location/namespace
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/ActorMessageDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/PostOffice/IPostOfficeStorageClient.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/PostOffice/TempPostOfficeStorageClient.cs
Due: integration

add default value to correlation column
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202106221537 Add Correlation to OutboxMessages.sql
Due: integration

fix name length
  build/infrastructure/stor-postoffice.tf
Due: none

Add ParentRelatedMeteringPoint
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/Mappers/CreateMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Processing/Mappers/CreateMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: unit, integration

Make use of new XmlConverter
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/CreateMeteringPointHttpTrigger.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/Input/CreateMeteringPointXmlDeserializer.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlDeserializerTests.cs
Due: unit, integration

Add all value translators to translate from original Cim XML values to domain specific values
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/CreateMeteringPointXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
Due: unit

Improvements
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlMappingConfigurationBase.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
Due: none

fix terraform name
  build/infrastructure/stor-postoffice.tf
Due: none

Added tests ensuring that all configurations exists and are valid
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/CreateMeteringPointHttpTrigger.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ConverterMapperConfigurations.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/IXmlConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlMappingConfigurationBase.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
Due: unit, integration

remove event part for now
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
Due: integration

Refine MPUpdated contract into several contracts & refine contract naming
  docs/contracts.md
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Contracts/IntegrationEventContract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Mappers/CreateMeteringPointEventMessageMapper.cs
Due: none

lint
  .github/utilities/md-spellcheck/wordlist.txt
  docs/contracts.md
Due: none

wordlist
  .github/utilities/md-spellcheck/wordlist.txt
Due: none

Normalization of CreateMeteringPoint command
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/AddressMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/CityNameMandatoryForMeteringPointTypeMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/CityNameMaximumLengthMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/PostCodeFormatMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/PostCodeMandatoryForMeteringPointTypeMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/StreetNameMandatoryForMeteringPointTypeMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/StreetNameMaximumLengthMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ConverterMapperConfigurationBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ExtendedPropertyInfo.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/CreateMeteringPointXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/Mappers/CreateMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Processing/Mappers/CreateMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TransportTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit

Added coverage for address specific details in test
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/CreateMeteringPointCimXml.xml
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
Due: unit, integration

Refactor to make a clearer API for creation of mapping configurations
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ConverterMapperConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ConverterMapperConfigurations.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlMappingConfigurationBase.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
Due: unit

XML Converter (#150)
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Transport/IOutboundMessage.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/AddressMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/CityNameMandatoryForMeteringPointTypeMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/PostCodeFormatMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/StreetNameMandatoryForMeteringPointTypeMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/StreetNameMaximumLengthMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/CreateMeteringPointHttpTrigger.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/Input/CreateMeteringPointXmlDeserializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ConverterMapperConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ConverterMapperConfigurationBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ConverterMapperConfigurations.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ExtendedPropertyInfo.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/IXmlConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/CreateMeteringPointXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/PropertyInfoHelper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlHeaderData.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlMappingConfigurationBase.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/Mappers/CreateMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Processing/Mappers/CreateMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TransportTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/CreateMeteringPointCimXml.xml
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlDeserializerTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit, integration

update for net5
  .github/workflows/sonarcloud.yml
Due: none

fix styling
  docs/contracts.md
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Contracts/IntegrationEventContract.proto
Due: none

mapper naming update
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Mappers/CreateMeteringPointEventMessageMapper.cs
Due: none

doc update
  docs/contracts.md
Due: none

init
  source/Energinet.DataHub.MeteringPoints.Application/ConnectMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/BaseTrigger.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/ConnectMeteringPointHttpTrigger.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/Mappers/ConnectMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Processing/Contracts/Contract.proto
Due: unit, integration

init
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/ConnectMeteringPointXmlMappingConfiguration.cs
Due: integration

init
  source/Energinet.DataHub.MeteringPoints.Application/ConnectMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/BaseTrigger.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/ConnectMeteringPointHttpTrigger.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/ConnectMeteringPointXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/ConnectMeteringPointCimXml.xml
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
Due: unit, integration

Test
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/Mappers/ConnectMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Processing/Contracts/Contract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Processing/Mappers/ConnectMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Application/ConnectMeteringPointMapperTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
Due: unit, integration

Test
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/ConnectMeteringPointXmlMappingConfiguration.cs
Due: none

Added enhancements from Market Roles to XML Converter
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ConverterMapperConfigurationBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ExtendedPropertyInfo.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/CreateMeteringPointXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlElementInfo.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlMapper.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/CreateMeteringPointCimXml.xml
Due: unit, integration

CreateMeteringPointTrigger updated
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/ConnectMeteringPointHttpTrigger.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/CreateMeteringPointHttpTrigger.cs
Due: integration

update
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/BaseTrigger.cs
Due: integration

Update
  source/Energinet.DataHub.MeteringPoints.Tests/Application/ConnectMeteringPointMapperTests.cs
Due: unit

Updates
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/BaseTrigger.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/ConnectMeteringPointHttpTrigger.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/CreateMeteringPointHttpTrigger.cs
Due: integration

Generialize entrypoint
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/ConnectMeteringPointHttpTrigger.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/MeteringPointHttpTrigger.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/Mappers/ConnectMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Processing/Contracts/Contract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Processing/Mappers/ConnectMeteringPointMapper.cs
Due: integration
