Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

add test cases
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
Due: none

Add rule for settlement method
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataFieldSelector.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/BuilderTests.cs
Due: unit

Move settlement method validation to master data builder
  source/Energinet.DataHub.MeteringPoints.Application/Create/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Errors/InvalidSettlementMethodValue.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Errors/SettlementMethodIsRequired.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilderBase.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataFieldSelector.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/InvalidSettlementMethodErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/SettlementMethodIsRequiredErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ConsumptionMeteringPointValidationTests.cs
Due: unit

Verify required value only if no validation errors exists
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataValue.cs
Due: unit

Use defined method
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilder.cs
Due: unit

Clear current list of validation errors
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilderBase.cs
Due: unit

Add factory methods
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/BusinessRulesValidationResult.cs
Due: unit

Remove obsolete test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeTests.cs
Due: none

Remove obsolete objects
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataRequestValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/SettlementMethodMissingRequiredDomainValuesValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/SettlementMethodNotAllowedValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/SettlementMethodRequiredValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/SettlementMethodMissingRequiredDomainValuesErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/SettlementMethodRequiredErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/SettlementMethodNotAllowedErrorConverter.cs
Due: unit

Move XML converter to shared library and perform validation of sender
  source/Energinet.DataHub.MeteringPoints.Application/Common/IInternalMarketDocument.cs
  source/Energinet.DataHub.MeteringPoints.Application/Energinet.DataHub.MeteringPoints.Application.csproj
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/MasterDataDocument.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Functions/MeteringPointHttpTrigger.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/XmlSenderValidator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ConverterMapperConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ConverterMapperConfigurationBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ConverterMapperConfigurations.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ExtendedPropertyInfo.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/IXmlConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/ConnectMeteringPointXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/MasterDataDocumentXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/PropertyInfoHelper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlDeserializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlElementInfo.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlHeaderData.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlMappingConfigurationBase.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointHttpTriggerTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/TestFiles/Cim/CreateMeteringPoint.xml
Due: unit, integration

Remove unused using
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointByGsrnQueryHandler.cs
Due: none

Fix bug
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
Due: unit

Generate token based on real values instead of a hardcoded one
  source/MeteringPoints.EntryPoints.IntegrationTests/Extensions/HttpRequestMessageExtensions.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/FakeJwtGenerator.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointHttpTriggerTests.cs
Due: none

Set up process to automatically send out a notification message whenever an automatic move in has been performed
  source/Energinet.DataHub.MeteringPoints.Application/Create/SetEnergySupplierHACK.cs
  source/Energinet.DataHub.MeteringPoints.Application/EDI/IMarketRolesBusinessDocumentFactory.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/DocumentType.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/MarketRoles/GenericNotificationMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/MarketRoles/GenericNotificationMessageXmlSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/MarketRoles/MarketActivityRecord.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/MarketRoles/MarketRolesBusinessDocumentFactory.cs
Due: unit, integration

Change validation rule for settlement method (#587)
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataRequestValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/SettlementMethodRequiredValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Errors/InvalidSettlementMethodValue.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Errors/SettlementMethodIsRequired.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilderBase.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataFieldSelector.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataValue.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/BusinessRulesValidationResult.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/InvalidSettlementMethodErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/SettlementMethodIsRequiredErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/SettlementMethodNotAllowedErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/BuilderTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ConsumptionMeteringPointValidationTests.cs
Due: unit

Swap order of to and from grid
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointByGsrnQueryHandler.cs
Due: none

Added missing DI
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Add script to remove consumption metering point table
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202201041930 Delete consumption metering point table.sql
Due: integration

Change parent metering point data type to uniqueidentifier
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202201041935 Change parent metering point data type.sql
Due: integration

Include information about parent and child metering points in query
  source/Energinet.DataHub.MeteringPoints.Application/Queries/MeteringPointDto.cs
  source/Energinet.DataHub.MeteringPoints.Application/Queries/MeteringPointSimpleDto.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointByGsrnQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointDtoQueryHelper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointSimpleDtoQueryHelper.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/AccountingPointCharacteristics/AccountingPointCharacteristicsSerializerTests.cs
Due: unit, integration

Fix query
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointByIdQueryHandler.cs
Due: none

Change ef core mapping for parent metering point
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
Due: none

get child and parent metering points from db and map to return model in api
  source/Energinet.DataHub.MeteringPoints.Application/Queries/MeteringPointDto.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointByGsrnQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointDtoQueryHelper.cs
Due: unit

update packages
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/Energinet.DataHub.MeteringPoints.EntryPoints.Common.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi.csproj
Due: integration

Update qoutes to nameof
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedIntegrationEventExtension.cs
Due: none

Update Scheduled Meter Reading format rule
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/Rules/ScheduledMeterReadingDateFormatRule.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: unit

Product type is changed
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilderBase.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataFieldSelector.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit

Update tests and rule
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/Rules/ScheduledMeterReadingDateFormatRule.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ScheduledMeterReadingDateTests.cs
Due: unit

add production and exchange test cases to function tests.
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/TestFiles/Cim/CreateMeteringPointExchange.xml
  source/MeteringPoints.EntryPoints.IntegrationTests/TestFiles/Cim/CreateMeteringPointProduction.xml
Due: none

Add rule product type
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/ConsumptionMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Errors/InvalidProductType.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Exchange/ExchangeMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataFieldSelector.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Production/ProductionMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/ProductTypeMustBeEnergyActiveRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/VEProduction/VEProductionMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ChangeMasterDataTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ConsumptionBuilderTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ConsumptionMeteringPointValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ExchangeMeteringPointValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ProductionMeteringPointValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/VEProductionMeteringPointValidationTests.cs
Due: unit

Validate if current actor belongs to grid area when creating metering point
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/GridOperatorPolicies/CurrentActorIsGridOperatorPolicy.cs
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/GridOperatorPolicies/CurrentActorIsNotGridOperator.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/ConnectMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointAuthorizer.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridArea.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Authorization/AuthorizationRegistrationExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions/SimpleInjectorExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/GridAreas/GridAreaEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Authorization/CurrentActorIsNotGridOperatorErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit

Set correct code and description for validation error
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/GridOperatorPolicies/CurrentActorIsGridOperatorPolicy.cs
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/GridOperatorPolicies/CurrentActorIsNotGridOperator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Authorization/CurrentActorIsNotGridOperatorErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: unit

Add master data validator for exchange reactive energy metering points
  source/Energinet.DataHub.MeteringPoints.Application/Energinet.DataHub.MeteringPoints.Application.csproj
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/ExchangeReactiveEnergy/ExchangeReactiveEnergyValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/ExchangeReactiveEnergy/Rules/ProductTypeMustBeEnergyReactive.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataFieldSelector.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataValidator.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ExchangeReactiveEnergyValidationTests.cs
Due: unit

Add validation rule for product type
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataFieldSelector.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/SpecialMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/SpecialMeteringPointValidationTests.cs
Due: unit

rename doctypes to confirm, add connect test case
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ChangeMasterData/ChangeMasterDataResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ConnectMeteringPoint/ConnectMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/DocumentType.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ChangeMasterDataTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/AddressChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/MeteringPoints.EntryPoints.IntegrationTests.csproj
  source/MeteringPoints.EntryPoints.IntegrationTests/TestFiles/Cim/ConnectMeteringPoint.xml
Due: none

Remove test case
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ConsumptionBuilderTests.cs
Due: unit

Fix xml mappings
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/MasterDataDocumentXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/CreateMeteringPointCimXml.xml
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
Due: unit

update variables
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
Due: none

Add validation rule unit type
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/ConsumptionMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Errors/InvalidUnitType.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataFieldSelector.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/UnitTypeMustBeKwh.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Scenarios.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ConsumptionMeteringPointValidationTests.cs
Due: unit

Add validation rule unit type
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Exchange/ExchangeMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ExchangeMeteringPointValidationTests.cs
Due: unit
