Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Add benchmark
  source/Energinet.DataHub.MeteringPoints.Benchmarks/Energinet.DataHub.MeteringPoints.Benchmarks.csproj
  source/Energinet.DataHub.MeteringPoints.Benchmarks/Program.cs
  source/Energinet.DataHub.MeteringPoints.sln
Due: none

Add benchmarks
  source/Energinet.DataHub.MeteringPoints.Benchmarks/DocumentTypes.cs
  source/Energinet.DataHub.MeteringPoints.Benchmarks/Energinet.DataHub.MeteringPoints.Benchmarks.csproj
  source/Energinet.DataHub.MeteringPoints.Benchmarks/ReflectionStrategyBenchmarks.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/Internals/CacheAllReflectionStrategy.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/Internals/CachePerMethodReflectionStrategy.cs
  source/Energinet.DataHub.MeteringPoints.Tests/ReflectionStrategyTests.cs
Due: unit

Repository implemented
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointEventMessage.cs
  source/Energinet.DataHub.MeteringPoints.Application/IntegrationEvent/IIntegrationEventOutboxService.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Handlers/CreateMeteringPointEventHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Repository/IIntegrationEventRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Repository/IntegrationEventRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Services/IntegrationEventDispatchOrchestrator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/OutboxMessage.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/Outbox/IntegrationEventTests.cs
Due: unit, integration

Add strategy based on dictionaries
  source/Energinet.DataHub.MeteringPoints.Benchmarks/ReflectionStrategyBenchmarks.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/Internals/EnumerationReflection.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/Internals/ExpressionCacheReflectionStrategy.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EnumerationReflectionTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/ReflectionStrategyTests.cs
Due: unit

Test logic of DictionaryCache
  source/Energinet.DataHub.MeteringPoints.Benchmarks/ReflectionStrategyBenchmarks.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/EnumerationType.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/Internals/DictionaryCacheReflectionStrategy.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Assets/OperationSystems.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EnumerationTypeTest/ReflectionStrategyTests.cs
Due: unit

Include internal fields
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/Internals/CacheAllReflectionStrategy.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/Internals/CheckOnInvocationReflectionStrategy.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/Internals/EnumerationReflection.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Assets/DocumentTypes.cs
Due: unit

Minor improvement
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/Internals/EnumerationReflection.cs
Due: unit

Update notice with benchmark dotnet
  NOTICE.md
Due: none

INclude version
  NOTICE.md
Due: none

Tests added
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Helpers/IJsonSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Helpers/JsonSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Repository/IntegrationEventRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Services/IntegrationEventDispatchOrchestrator.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Outbox/IntegrationEventTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Send/Dispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Send/InProcessChannel.cs
Due: unit, integration

Repository unit test dadded
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/Outbox/IntegrationEventTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Repositories/IntegrationEventRepositoryTests.cs
Due: unit

Add missing word
  .github/utilities/md-spellcheck/wordlist.txt
Due: none

Message is null when saving to outbox test
  source/Energinet.DataHub.MeteringPoints.Tests/Repositories/IntegrationEventRepositoryTests.cs
Due: unit

Input validation - walking skeleton (#63)
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/IValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/InputValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/InputValidators/OccurenceDateInputValidation.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationResult.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InputValidationBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/InputValidation/CreateMeteringPointInputValidationTests.cs
Due: unit, integration

Move unused ReflectionStrategies to benchmark project
  source/Energinet.DataHub.MeteringPoints.Benchmarks/ReflectionStrategies/CacheAllReflectionStrategy.cs
  source/Energinet.DataHub.MeteringPoints.Benchmarks/ReflectionStrategies/CheckOnInvocationReflectionStrategy.cs
  source/Energinet.DataHub.MeteringPoints.Benchmarks/ReflectionStrategyBenchmarks.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/EnumerationTypeTest/ReflectionStrategyTests.cs
Due: unit

Update README.md
  README.md
Due: none

Small refactoring
  source/Energinet.DataHub.MeteringPoints.Tests/Outbox/IntegrationEventTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Repositories/IntegrationEventRepositoryTests.cs
Due: unit

Adding decorator for InternalServiceBus with Polly retry
  source/Energinet.DataHub.MeteringPoints.Application/Transport/Channel.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/InternalDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/InternalServiceBus.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/ServiceBusRetryDecorator.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Send/InProcessChannel.cs
Due: unit, integration

added class description
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/ServiceBusRetryDecorator.cs
Due: none

add missing properties to csproj files
  source/Energinet.DataHub.MeteringPoints.Application/Address.cs
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Energinet.DataHub.MeteringPoints.Application.csproj
  source/Energinet.DataHub.MeteringPoints.Application/UserIdentity/IUserContext.cs
  source/Energinet.DataHub.MeteringPoints.Application/UserIdentity/UserContext.cs
  source/Energinet.DataHub.MeteringPoints.Application/UserIdentity/UserIdentity.cs
  source/Energinet.DataHub.MeteringPoints.Application/UserIdentity/UserIdentityFactory.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.Domain/Energinet.DataHub.MeteringPoints.Domain.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/HttpUserContextMiddleware.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/ServiceBusUserContextMiddleware.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/InternalServiceBus.cs
Due: unit, integration

Renamed input validation to authorization handling, since we'll use FluentValidation for input validation
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/AuthorizationHandlers/ExampleAuthorizationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/AuthorizationResult.cs
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/IAuthorizationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/InputAuthorizationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/ValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/AuthorizationBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InputValidationBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Tests/InputValidation/CreateMeteringPointInputValidationTests.cs
Due: unit

Terraform updated
  build/infrastructure/azfun-outbox.tf
  build/infrastructure/evh-meteringpoint.tf
Due: none

update
  build/infrastructure/azfun-outbox.tf
  build/infrastructure/evh-meteringpoint.tf
Due: none

update
  build/infrastructure/azfun-outbox.tf
Due: none

Update
  build/infrastructure/evh-meteringpoint.tf
Due: none

Renamed input validation to authorization handling, since we'll use FluentValidation for input validation (#77)
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/AuthorizationHandlers/ExampleAuthorizationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/AuthorizationResult.cs
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/IAuthorizationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/InputAuthorizationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/ValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/AuthorizationBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InputValidationBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Tests/InputValidation/CreateMeteringPointInputValidationTests.cs
Due: unit

Update
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Repository/IntegrationEventRepository.cs
Due: none

Added / Renamed ChannelResilienceDecorator Added RetryPolicy implementation
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/ChannelResilienceDecorator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/Resilience/IChannelResiliencePolicy.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/Resilience/RetryPolicyThreeTimes.cs
Due: integration

added tags
  build/infrastructure/variables.tf
Due: none

Renamed retry policy and added environment variable for retry setting
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/Resilience/RetryNTimesPolicy.cs
Due: integration

removed Polly nuget reference from Ingestion
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
Due: integration

added copyright comment to IChannelResiliencePolicy
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/Resilience/IChannelResiliencePolicy.cs
Due: none

evh/meteringpoint.tf updated
  build/infrastructure/evh-meteringpoint.tf
Due: none

Added input validation with FluentValidator
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/AuthorizationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/AuthorizationHandlers/ExampleAuthorizationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/AuthorizationResult.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessResult.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/IBusinessRequest.cs
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Energinet.DataHub.MeteringPoints.Application.csproj
  source/Energinet.DataHub.MeteringPoints.Application/Validation/CreateMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/GsrnNumberMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Benchmarks/Program.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessRuleException.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GsrnNumber.cs
  source/Energinet.DataHub.MeteringPoints.Domain/InvalidMeteringPointIdRuleException.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/BusinessRulesValidationResult.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/IBusinessRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/Internals/EnumerationReflection.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/ValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/ValueObject.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/QueueSubscriber.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/ServiceBusUserContextMiddleware.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/AuthorizationBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IBusinessProcessResponder.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InputValidationBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Authorization/CreateMeteringPointInputValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/InputValidation/CreateMeteringPointInputValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit, integration

Adding validation for property not found in useridentity string.
  source/Energinet.DataHub.MeteringPoints.Application/UserIdentity/UserIdentityFactory.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Application/UserIdentity/UserIdentityFactoryTests.cs
Due: unit

added null reference handling
  source/Energinet.DataHub.MeteringPoints.Application/UserIdentity/UserIdentityFactory.cs
Due: unit

changed Exception type to JsonException
  source/Energinet.DataHub.MeteringPoints.Application/UserIdentity/UserIdentityFactory.cs
Due: unit

added copyright header for UserIdentityFactoryTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Application/UserIdentity/UserIdentityFactoryTests.cs
Due: unit

.
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationEventsDispatchBehavior.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Helpers/IIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Mappers/CreateMeteringPointEventMessageMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Services/EventPublisher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Services/IEventPublisher.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Repositories/IntegrationEventRepositoryTests.cs
Due: unit, integration

Pr comment Updates
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Helpers/MeteringPointOutboxMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Mappers/CreateMeteringPointEventMessageMapper.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Repositories/IntegrationEventRepositoryTests.cs
Due: unit

Path conditions:
  unit: any of: source/Energinet.DataHub.MeteringPoints.Application/, source/Energinet.DataHub.MeteringPoints.Domain/, source/Energinet.DataHub.MeteringPoints.Tests/
  integration: any of: source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/, source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/
