Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

bump client version
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
Due: none

Update source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/BusinessProcesses/BusinessProcessConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/BusinessProcesses/BusinessProcessConfiguration.cs
Due: none

Update source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/BusinessProcesses/CloseDownProcessConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/BusinessProcesses/CloseDownProcessConfiguration.cs
Due: none

Fix rename
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/BusinessProcesses/BusinessProcessEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/BusinessProcesses/CloseDownProcessEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPointContext.cs
Due: none

Remove invalid usings
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: integration

update process test data
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202202081200 Add process test data.sql
Due: integration

ensure process overview sort order
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/ProcessDetail.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/ProcessDetailError.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/MeteringPoints/Queries/MeteringPointProcessesByGsrnQueryHandler.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Client/MeteringPointClientTests.cs
Due: none

add connect and update to overview
  source/Energinet.DataHub.MeteringPoints.Application/Connect/ConnectMeteringPointProcessExtractor.cs
  source/Energinet.DataHub.MeteringPoints.Application/UpdateMasterData/ConnectMeteringPointProcessExtractor.cs
Due: unit

update code owners
  .github/CODEOWNERS
Due: none

Add handler registration
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: integration

Simplify registration
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions/BusinessRequestReceiversExtensions.cs
Due: none

Fix merge conflicts
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Updated actor registry, added new users and gave some users access to the new Energinet test users in b-002.
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202202020844 Updates from actor registry.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202202091335 Updates from actor registry.sql
Due: integration

Invoke commands directly instead of dispatching to queue
  source/Energinet.DataHub.MeteringPoints.Application/TestCommands.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202202091600 Change data type.sql
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/CommandScheduler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/InternalCommandAccessor.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/InternalCommandProcessor.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/QueuedInternalCommand.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/RefactorInternalCommandsTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

Subnet IPs
  .editorconfig
  build/infrastructure/env/u-002/subnets_override.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/subnets.tf
Due: none

Updated user/actor relations for all Energinet users. It's now possible for these users to look up all the new Energinet test actors in u-001.
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202202091335 Updates from actor registry.sql
Due: integration

Subnet IPs
  build/infrastructure/env/u-002/subnets_override.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/subnets.tf
Due: none

Added handling of scheduled commands
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/InternalCommandAccessor.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/InternalCommandProcessor.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/InternalCommandTrigger.cs
Due: none

add missing chargelinknotificationhandler
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
Due: integration

Start implementation of internal command handling
  source/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Functions/ProcessInternalCommands.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Functions/ScheduleStatus.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Functions/TimerInfo.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/RefactorInternalCommandsTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: integration

Added more Energinet users to ENDK actors
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202202110822 Add more Energinet users to ENDK actors.sql
Due: integration

Converted script to use variables to make sonar cloud happy....
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202202110822 Add more Energinet users to ENDK actors.sql
Due: integration

Added t-001 users and relations
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202202110822 Add more Energinet users to ENDK actors.sql
Due: integration

Check for daylight savings time
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/DateFormatMustBeUTCRule.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/EffectiveDateTests.cs
Due: unit

allow dynamic role in generic notification
  source/Energinet.DataHub.MeteringPoints.Application/Create/SetEnergySupplierHACK.cs
  source/Energinet.DataHub.MeteringPoints.Application/EDI/IActorMessageService.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageService.cs
Due: unit

subnet address spaces are injected using variables
  build/infrastructure/env/u-002/subnets_override.tf
  build/infrastructure/main/subnets.tf
  build/infrastructure/main/variables.tf
Due: none

Add testhelper classes to handle test dates
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/DateFormatMustBeUTCRule.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/DisconnectMeteringPoints/DisconnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ReconnecMeteringPoints/ReconnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/TestHelpers.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/EffectiveDateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/EffectiveDateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/Policies/EffectiveDatePolicyTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Tooling/TestHelpers.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/TestDataCreator.cs
Due: unit

Remove comments and unused test
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/EffectiveDateTests.cs
Due: unit

Refactored address validation rules and removed all error converters
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/CountryCodeRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Components/Addresses/Rules/BuildingNumberFormatRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Components/Addresses/Rules/CityNameLengthRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Components/Addresses/Rules/CitySubdivisionRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Components/Addresses/Rules/CountryCodeRequiredRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Components/Addresses/Rules/CountryCodeValidRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Components/Addresses/Rules/FloorLengthRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Components/Addresses/Rules/InvalidGeoInfoReference.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Components/Addresses/Rules/MunicipalityCodeRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Components/Addresses/Rules/PostCodeFormatRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Components/Addresses/Rules/RoomLengthRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Components/Addresses/Rules/StreetCodeLengthRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Components/Addresses/Rules/StreetNameLengthRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/ValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Address/CityNameLengthRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Address/CitySubdivisionRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Address/CountryCodeInvalidRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Address/CountryCodeRequiredRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Address/CountryCodeRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Address/FloorLengthRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Address/InvalidGeoInfoReferenceRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Address/MunicipalityCodeRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Address/PostCodeFormatRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Address/RoomLengthRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Address/StreetCodeLengthRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Address/StreetNameLengthRuleErrorConverter.cs
Due: unit

Use general for instantpattern and change unit test
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/DateFormatMustBeUTCRule.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/EffectiveDateTests.cs
Due: unit

changes to PR comments
  .github/workflows/ci.yml
  build/infrastructure/main/providers.tf
  build/infrastructure/main/subnets.tf
Due: none

Clean up
  source/Energinet.DataHub.MeteringPoints.Application/ChangeConnectionStatus/DisconnectReconnectMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/EDI/IActorMessageService.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/ConnectionStateValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/ConnectionStateIsRequiredError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Acknowledgements/ConfirmMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Acknowledgements/RejectMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageService.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ChangeConnectionStatus/DisconnectReconnectMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/DocumentType.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Disconnect/ConnectionStateIsRequiredErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Disconnect/ConnectionStateMustBeConnectedOrDisconnectedErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/DisconnectMeteringPoints/DisconnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ReconnecMeteringPoints/ReconnectTests.cs
Due: unit

Change sampledata effectivedate
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/EffectiveDateTests.cs
Due: unit

Testing a theory
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/EffectiveDateTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/TestDataCreator.cs
Due: unit

Validate_E79_process
  source/Energinet.DataHub.MeteringPoints.Application/ChangeConnectionStatus/DisconnectReconnectMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/ValidationRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/PhysicalStateIsMandatoryRule.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/DisconnectMeteringPoints/DisconnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ReconnecMeteringPoints/ReconnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/DisconnectReconnectRuleSetTests.cs
Due: unit

Remove ToUniversalTime
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/TestDataCreator.cs
Due: none

Adding try catch to catch exception on build server
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
Due: none

Trim date string
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/EffectiveDate.cs
Due: unit

Path conditions:
  unit: any of: source/Energinet.DataHub.MeteringPoints.Application/, source/Energinet.DataHub.MeteringPoints.Domain/, source/Energinet.DataHub.MeteringPoints.Tests/
  integration: any of: source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/, source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/
