Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Rename parameter
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/CapacityFormatRule.cs
Due: unit

fix wrong pathing in infrastructure-cd
  .github/workflows/infrastructure-cd.yml
Due: none

Add rules for connection type
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Rules/ConnectionTypeDoesNotMatchNetSettlementGroupRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Rules/ConnectionTypeIsNotAllowedRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Rules/ConnectionTypeRequirementRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ConnectionTypeDoesNotMatchNetSettlementGroupRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ConnectionTypeIsNotAllowedRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/CreationTests.cs
Due: unit

Rename rule
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/DisconnectionTypeRule.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/DisconnectionRuleTests.cs
Due: unit

Move disconnection type to market metering point since only relevant here
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SetEnergySupplierInfoHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/ConnectionTypeRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/DisconnectionTypeRule.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202110021100 Move DisconnectionType.sql
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/MeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/ConnectionType.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/DisconnectionType.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/IMarketMeteringPointRepository.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Startup.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MarketMeteringPointRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/CreateMeteringPointXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/DisconnectionRuleTests.cs
Due: unit, integration

Rename to align with business language
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringMethodMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/MeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringMethod.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/MeterIdRequirementRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Mappers/CreateMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/CreateMeteringPointXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/Mappers/CreateMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreatedOutBoundMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedNotificationHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/MeteringPointSubTypeRuleTests.cs
Due: unit

Move metering method rules to domain layer
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringMethodMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/InvalidMeteringMethodRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/MeteringMethodIsMandatoryValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Rules/MeteringMethodDoesNotMatchNetSettlementGroupRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Rules/MeteringMethodRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/InvalidMeteringMethodRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringMethodDoesNotMatchNetSettlementGroupRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringMethodIsMandatoryErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/MeteringPointSubTypeRuleTests.cs
Due: unit

Move asset type rules to domain layer
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/AssetTypeRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/AssetTypeRequirementRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Rules/AssetTypeIsRequiredRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/AssetTypeIsRequiredRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/InvalidAssetTypeValueValidationErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/AssetTypeRuleTests.cs
Due: unit

Add rules for settlement method for consumption metering point
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/InvalidSettlementMethodRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/SettlementMethodRequirementRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/Consumption/InvalidSettlementMethodRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
Due: unit

Add test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: none

Update source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ConnectionTypeIsRequiredRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ConnectionTypeIsRequiredRuleErrorConverter.cs
Due: none

fix .net framework version in webapi-ci
  .github/workflows/webapi-ci.yml
Due: none

fix .net framework version in webapi-cd
  .github/workflows/webapi-cd.yml
Due: none

fix .net framework version in CI/CD
  .github/workflows/webapi-cd.yml
  .github/workflows/webapi-ci.yml
Due: none

try fix app name in webapi-cd
  .github/workflows/webapi-cd.yml
Due: none

Update source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/AssetTypeIsRequiredRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/AssetTypeIsRequiredRuleErrorConverter.cs
Due: none

Decompose metering point details
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/MeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
Due: unit

Move net settlement group to market metering point
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/NetSettlementGroupRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/AssetTypeRequirementRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/CapacityRequirementRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/PowerPlantIsRequiredForNetSettlementGroupRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/PowerPlantIsRequiredForNetSettlementGroupRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/ScheduledMeterReadingDateRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/SettlementMethodRequirementRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/NetSettlementGroup.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreatedOutBoundMapper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/PowerPlantRuleTests.cs
Due: unit

Move to market metering point namespace
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/Connect/MustHaveEnergySupplierRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/EnergySupplierDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/EnergySupplierDetailsChanged.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ConnectTests.cs
Due: unit

Use timestamp in contract
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Helpers/InstantExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreated.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreatedIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreatedOutBoundMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/OnConsumptionMeteringPointCreated.cs
Due: none

add function host tests
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice/Program.cs
  source/Energinet.DataHub.MeteringPoints.Tests/AzureFunctionHostConfigurationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
Due: unit, integration

Refactor and improve tests for SubPostOffice
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/PostOffice/PostOfficeMessageMetadataEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/PostOffice/PostOfficeMessageMetadataRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/IPostOfficeMessageRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/ISubPostOfficeClient.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/ISubPostOfficeStorageClient.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/PostOfficeMessageBlob.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/PostOfficeMessageBlobFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/PostOfficeMessageMetadata.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/PostOfficeMessageMetadataFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/SubPostOfficeClient.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/SubPostOfficeStorageClient.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/Mocks/DataAvailableNotificationSenderMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/Mocks/DataBundleResponseSenderMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/Mocks/DispatcherMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/Mocks/PostOfficeMessageMetadataRepositoryMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/Mocks/PostOfficeStorageClientMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/Mocks/SubPostOfficeStorageClientMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/SubPostOfficeTests.cs
Due: unit

Refactor rule for settlement method. New consumption metering points must be either Flex or Non-Profiled.
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/SettlementMethodMustBeFlexOrNonProfiledRule.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
Due: unit

add and fix some documentation
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreated.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Exchange/ExchangeMeteringPointCreated.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Production/ProductionMeteringPointCreated.proto
Due: none

Update source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/Consumption/InvalidSettlementMethodRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/Consumption/InvalidSettlementMethodRuleErrorConverter.cs
Due: none

Remove obsolete test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
Due: none

don't run test scripts by default
  .github/workflows/infrastructure-cd.yml
Due: none

spelling
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreated.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Exchange/ExchangeMeteringPointCreated.proto
Due: none

Update PostOffice package
  source/PoorMansPackages/GreenEnergyHub.PostOffice.Communicator.dll
Due: none

Added PostOfficeStorageClient
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/EntryPoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice/Functions/BundleDequeuedQueueSubscriber.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice/Functions/IntegrationEventReceiver.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice/Functions/RequestBundleQueueSubscriber.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/IPostOfficeStorageClient.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/PostOfficeStorageClient.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/SubPostOfficeClient.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/SubPostOfficeStorageClient.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/Mocks/PostOfficeStorageClientMock.cs
Due: unit, integration

update contracts.md with new events. Mark unimplemented processes as prelimary
  docs/contracts.md
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Connect/MeteringPointConnectedIntegrationEvent.proto
Due: none

lint
  .github/utilities/md-spellcheck/wordlist.txt
  docs/contracts.md
Due: none

spellcheck
  .github/utilities/md-spellcheck/wordlist.txt
Due: none

Improve SubPostOfficeClient
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/ActorMessages/PostOfficeDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions/SimpleInjectorExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/PostOffice/PostOfficeMessageMetadataEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/PostOffice/PostOfficeMessageMetadataRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/InternalServiceBus.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/BundleCreator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/IBundleCreator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/IPostOfficeMessageRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/ISubPostOfficeClient.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/ISubPostOfficeDataAvailableClient.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/PostOfficeMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/PostOfficeMessageBlob.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/PostOfficeMessageBlobFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/PostOfficeMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/PostOfficeStorageClient.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/SubPostOfficeClient.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/SubPostOfficeDataAvailableClient.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/SubPostOfficeStorageClient.cs
  source/Energinet.DataHub.MeteringPoints.Tests/AzureFunctionHostConfigurationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/Mocks/PostOfficeMessageMetadataRepositoryMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/Mocks/SubPostOfficeStorageClientMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/SubPostOfficeTests.cs
  source/PoorMansPackages/GreenEnergyHub.PostOffice.Communicator.SimpleInjector.dll
  source/PoorMansPackages/GreenEnergyHub.PostOffice.Communicator.dll
Due: unit, integration

Add type to postofficemessage
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/PostOfficeMessage.cs
Due: none

fix git issue + add cross origin
  build/infrastructure/main/app-webapi.tf
Due: none

start up on production mp including events
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Rules/Connect/MustHaveEnergySupplierRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Rules/Connect/MustHaveEnergySupplierRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPointException.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Production/OnProductionMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Production/ProductionMeteringPointCreatedIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Production/ProductionMeteringPointCreatedOutBoundMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Production/ProductionMeteringPointCreatedTopic.cs
Due: unit

Correct db scheme for PostOfficeMessages
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202109270930 Add PostOfficeMessage table.sql
Due: integration

Update packages for PostOffice and fix integration tests
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPointContext.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/PostOffice/PostOfficeMessageEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/PostOffice/PostOfficeMessageMetadataRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/IPostOfficeMessageRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/PostOfficeMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/PostOfficeMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/SubPostOfficeClient.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/SubPostOfficeDataAvailableClient.cs
  source/Energinet.DataHub.MeteringPoints.Tests/AzureFunctionHostConfigurationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/Mocks/DataBundleResponseSenderMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/Mocks/PostOfficeMessageMetadataRepositoryMock.cs
  source/PoorMansPackages/GreenEnergyHub.PostOffice.Communicator.SimpleInjector.dll
  source/PoorMansPackages/GreenEnergyHub.PostOffice.Communicator.dll
Due: unit, integration

Path conditions:
  unit: any of: source/Energinet.DataHub.MeteringPoints.Application/, source/Energinet.DataHub.MeteringPoints.Domain/, source/Energinet.DataHub.MeteringPoints.Tests/
  integration: any of: source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/, source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/
