Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Upgrade again
  build/infrastructure/main/providers.tf
Due: none

add change method
  source/Energinet.DataHub.MeteringPoints.Application/EDI/IActorMessageService.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageService.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ChangeMasterData/ChangeMasterDataResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/DocumentType.cs
Due: unit

Connection type input value must be valid
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Errors/InvalidConnectionTypeValue.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit

Connection type is removed if field is not allowed
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit

Remove dead code
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataField.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataFieldSelector.cs
Due: unit

Fix type-o
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit

Meter number is changed
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit

Meter number is removed when changing metering method from physical
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit

Meter number is ignored if not applicable
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit

Translate nextreadingdate format
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/MasterDataDocumentXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ScheduledMeterReadingDateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/ConnectMeteringPoint/ConnectMeteringPointCimXml.xml
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/CreateMeteringPointCimXml.xml
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
Due: unit

move APCharacteristics to new service
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SendAccountingPointCharacteristicsMessageHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/EDI/IActorMessageService.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/AccountingPointCharacteristics/AccountingPointCharacteristicsMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/AccountingPointCharacteristics/AccountingPointCharacteristicsXmlSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageService.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/AccountingPointCharacteristics/AccountingPointCharacteristicsBundleHandler.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/AccountingPointCharacteristics/AccountingPointCharacteristicsMessageXmlSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/AccountingPointCharacteristics/AccountingPointCharacteristicsXmlDeclaration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/AccountingPointCharacteristics/AccountingPointCharacteristicsSerializerTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
Due: unit, integration

remove unused code
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ConnectMeteringPoint/ConnectMeteringPointAccepted.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ConnectMeteringPoint/ConnectMeteringPointRejected.cs
Due: none

Update to correct domain
  .github/workflows/ci.yml
Due: none

Update
  .github/CODEOWNERS
  .github/workflows/ci.yml
Due: none

Indention mistake corrected
  .github/workflows/ci.yml
Due: none

bump version
  build/infrastructure/main/providers.tf
Due: none

Metering method input value must be valid
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Errors/InvalidMeteringMethodValue.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit

update mapper config
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/MasterDataDocumentXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
Due: unit

Meter number input value must be valid
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit

Metering configuration must be valid
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit

Move to new home
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataUpdater.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit

Remove pragma disable
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit

Clean up
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataUpdater.cs
Due: unit

Remove Regex
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/Rules/ScheduledMeterReadingDateFormatRule.cs
Due: unit

add sqllocaldb 2019 parameter
  .github/workflows/ci.yml
Due: none

Update
  .github/workflows/ci.yml
Due: none

Address is updated
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataUpdater.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit

first update
  source/MeteringPoints.EntryPoints.IntegrationTests/TestFiles/Cim/ConnectMeteringPoint.xml
  source/MeteringPoints.EntryPoints.IntegrationTests/TestFiles/Cim/CreateMeteringPointConsumption.xml
Due: none

Address must be valid
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataUpdater.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit

add subnets
  build/infrastructure/main/snet-internal-private-endpoints.tf
  build/infrastructure/main/snet-internal-vnet-integration.tf
Due: none

Measurement unit type is changed
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataUpdater.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit

Unit type is unchnaged if no value is provided
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataUpdater.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit

Unit type cannot be removed
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataUpdater.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit

Unit type input value must be valid
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Errors/InvalidUnitTypeValue.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataUpdater.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit

Restructure statement
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataUpdater.cs
Due: unit

Power plant is changed
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataUpdater.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit

Power plant is unchanged
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataUpdater.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit

Power plant is ignored if not allowed
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit

Power plant can be removed
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataUpdater.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit

Power plant cannot be removed if required
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Errors/PowerPlantIsRequired.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataUpdater.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit
