Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Enable Sessions in PostOffice ServiceBusTrigger
  source/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice/Functions/RequestBundleQueueSubscriber.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice/Program.cs
Due: none

Use uri generated by post office storage handler
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/SubPostOfficeClient.cs
Due: none

Add PostOfficeMessages to CleanupDatabase in IntegrationTests
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

stuff
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Connect/MustHaveEnergySupplierRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Production/OnProductionMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Production/ProductionMeteringPointCreatedTopic.cs
Due: unit

wip bundlecreator
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/BundleCreator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/IBundleCreator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/PostOfficeMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/SubPostOfficeDataAvailableClient.cs
Due: none

Remove temporary stuff in web-api yml files
  .github/workflows/webapi-cd.yml
  .github/workflows/webapi-ci.yml
Due: none

Add abstraction for internal representation of a market document
  source/Energinet.DataHub.MeteringPoints.Application/Common/IInternalMarketDocument.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/MeteringPointHttpTrigger.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlDeserializer.cs
Due: unit, integration

Automatically include xml header values, when corresponding parameters exists on the constructor of type that is being mapped to.
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ConverterMapperConfigurationBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ConverterMapperConfigurations.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlMapper.cs
Due: none

create bundles with mediatr
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/MediatR/SimpleInjectorMediatorContainerExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions/SimpleInjectorExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/BundleCreator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/Bundling/BundleCreator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/Bundling/BundleHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/Bundling/BundleRequest.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/Bundling/ConfirmMessageBundleHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/Bundling/ConfirmMessageSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/Bundling/IBundleCreator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/Bundling/IBundleRequest.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/Bundling/IDocumentSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/SubPostOfficeClient.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/BundleCreatorTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/SubPostOfficeTests.cs
Due: unit, integration

Changed location of linked_MarketEvaluationPoint in XML due to updates in XML.
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/CreateMeteringPointXmlMappingConfiguration.cs
Due: none

Made powerPlantGsrnNumber optional
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
Due: unit

all green
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions/SimpleInjectorExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/Bundling/BundleCreator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/Bundling/ConfirmMessageSerializer.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/BundleCreatorTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/Mocks/BundleCreatorMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/SubPostOfficeTests.cs
Due: unit, integration

Add registrations to SubPostOffice IoC
  source/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice/Program.cs
Due: none

Comment out code temporarily
  source/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice/Functions/BundleDequeuedQueueSubscriber.cs
Due: none

Fix usings
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/CorrelationIdMiddleware.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
Due: integration

Add todo
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/SubPostOfficeDataAvailableClient.cs
Due: none

Flattened Linked_MarketEvaluationPoint in test xml
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/ConnectMeteringPoint/ConnectMeteringPointCimXml.xml
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/CreateMeteringPointCimXml.xml
Due: unit

work work
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
Due: unit

workwork
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPointContext.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
Due: unit

use confirm message instead of old accept
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: none

integration tests work
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Production/ProductionMeteringPointCreatedOutBoundMapper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
Due: unit

add ingestion gln header value to usercontext
  source/Energinet.DataHub.MeteringPoints.Application/Common/Users/UserIdentity.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/FunctionContextExtensions.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/HttpUserContextMiddleware.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointResultHandler.cs
Due: unit, integration

wip reject messages
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ConnectMeteringPoint/ConnectMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Contracts/IRejectMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointAccepted.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/DocumentType.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/DocumentTypeFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/PostOfficeMessageEnvelope.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/Bundling/BundleCreator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/PostOfficeMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/PostOfficeMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/SubPostOfficeDataAvailableClient.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/BundleCreatorTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/SubPostOfficeTests.cs
Due: unit

add forgotten registration
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

make tests green again
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/PostOffice/PostOfficeMessageEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ConnectMeteringPoint/ConnectMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/DocumentType.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

add more metadata to postoffice messages
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202110071100 Update PostOfficeMessage table.sql
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions/SimpleInjectorExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/PostOffice/PostOfficeMessageEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/PostOfficeMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/PostOfficeMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/SubPostOfficeDataAvailableClient.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/BundleCreatorTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/SubPostOfficeTests.cs
Due: unit, integration

fix unit tests
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
Due: unit

add actual reject message
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/Bundling/RejectMessageBundleHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/Bundling/RejectMessageSerializer.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: integration

update tf
  build/infrastructure/main/azfun-outbox.tf
Due: none

event
  build/infrastructure/main/azfun-outbox.tf
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Helpers/OutboxTypeFactory.cs
Due: none

remove json properties, add converter
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/DocumentType.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/DocumentTypeFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Serialization/CustomJsonConverterForType.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Serialization/JsonSerializer.cs
Due: none

refactor jsonserializer variable to field
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Fix local.settings.sample.json indention
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/local.settings.sample.json
Due: integration

Remove unused usings
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: none

Move market rules to market mp level, add production unit tests
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Rules/CityIsRequiredRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Rules/CityIsRequiredRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Rules/PostCodeIsRequiredRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Rules/PostCodeIsRequiredRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Rules/StreetNameIsRequiredRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Rules/StreetNameIsRequiredRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/CityIsRequiredRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/PostCodeIsRequiredRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/StreetNameIsRequiredErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Production/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
Due: unit

Set Gln on UserContext in TestHost
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/SubPostOfficeClient.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Remove todo
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/SubPostOfficeTests.cs
Due: unit

missing stuff
  source/Energinet.DataHub.MeteringPoints.Application/Queries/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/ProductionMeteringPointCreatedDispatcher.cs
Due: unit, integration

Add middleware to get service bus session id in function
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/SessionIdMiddleware.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice/Functions/RequestBundleQueueSubscriber.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Correlation/ISessionContext.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Correlation/SessionContext.cs
Due: integration

Change to use nuget packages + add registration of rejectmessages in ioc
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice/Functions/BundleDequeuedQueueSubscriber.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions/SimpleInjectorExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/ISubPostOfficeClient.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/SubPostOfficeClient.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/SubPostOfficeDataAvailableClient.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/Mocks/DataAvailableNotificationSenderMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/Mocks/DataBundleResponseSenderMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/Mocks/PostOfficeStorageClientMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/SubPostOfficeTests.cs
Due: unit, integration
