Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

add grid area code unique rule
  source/Energinet.DataHub.MeteringPoints.Application/GridAreas/Create/CreateGridAreaHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/GridAreaCodeUniqueRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/GridAreaCodeUniqueRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/GridAreaCodeUniqueRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/GridAreas/CreateGridAreaNullResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/GridAreas/CreateGridAreaTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit

Step 1
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/IntegrationEvents/ContainerHelper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/IntegrationEvents/MeteringPointCreatedServiceBusOptions.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/IntegrationEvents/MeteringPointCreatedTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/IntegrationEvents/OutboxHost.cs
Due: none

Step 2
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/IntegrationEvents/MeteringPointCreatedServiceBusOptions.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/IntegrationEvents/OutboxHost.cs
Due: none

Working OutboxHost
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/IntegrationEvents/ContainerHelper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/IntegrationEvents/MeteringPointCreatedTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/IntegrationEvents/OutboxHost.cs
Due: none

TF
  build/infrastructure/main/azfun-outbox.tf
Due: none

move test from consumption to general
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: none

Encapsulate meter id and move rules to domain layer
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeterNumberMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/MeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/CreationRules.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/InvalidMeterIdException.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeterId.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/InvalidMeterIdRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/MeterIdIsNotAllowedRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/MeterIdIsRequiredRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/MeterIdLengthRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/MeterIdRequirementRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeterNumberMandatoryErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeterNumberMaximumLengthErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeterIdTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit

ConsumptionEvent
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/ConsumptionMeteringPointCreatedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreated.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreatedIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreatedOutBoundMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreatedTopic.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/OnConsumptionMeteringPointCreated.cs
Due: integration

Add official address attribute to Address object
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202109271100 Add IsOfficialAddress.sql
  source/Energinet.DataHub.MeteringPoints.Domain/Addresses/Address.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/AddressTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
Due: unit, integration

.
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreated.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreatedIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreatedOutBoundMapper.cs
Due: none

Add geo info reference to address
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202109271400 Add GeoInfoReference.sql
  source/Energinet.DataHub.MeteringPoints.Domain/Addresses/Address.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/MeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/AddressTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SampleData.cs
Due: unit, integration

more
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/ConsumptionMeteringPointCreatedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/CreateMeteringPointDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/IntegrationEventDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MeteringPointConnectedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreated.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreatedIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreatedOutBoundMapper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/IntegrationEvents/OutboxHost.cs
Due: integration

Update onConsumpationMeteringPointCreated
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/OnConsumptionMeteringPointCreated.cs
Due: none

fix pr comments
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/GridAreas/Create/CreateGridAreaHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/GridAreas/Create/CreateGridAreaRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Extensions/FluentValidationCheckRulesExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/GridAreaMustExistRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/GridAreaMustExistRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridArea.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridAreaDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/MeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/GridAreaMustExistRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/GridAreas/CreateGridAreaTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/GridAreas/CreationTests.cs
Due: unit

remove invoke and call directly
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Extensions/FluentValidationCheckRulesExtensions.cs
Due: unit

IE extension added
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Helpers/OutboxTypeFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreatedIntegrationEventExtension.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreatedOutBoundMapper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/IntegrationEvents/ConsumptionMeteringPointCreated/ConsumptionMeteringPointCreatedServiceBusOptions.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/IntegrationEvents/ConsumptionMeteringPointCreated/ConsumptionMeteringPointCreatedTests.cs
Due: none

Update source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/GridAreaMustExistRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/GridAreaMustExistRuleErrorConverter.cs
Due: none

Update
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreated.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreatedIntegrationEventExtension.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/IntegrationEvents/ConsumptionMeteringPointCreated/ConsumptionMeteringPointCreatedTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/IntegrationEvents/MeteringPointCreatedServiceBusOptions.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/IntegrationEvents/MeteringPointCreatedTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/IntegrationEvents/OutboxHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/IntegrationEvents/testitest.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/IntegrationTestDatabaseFixture.cs
Due: none

metering point has link instead of grid area
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridArea.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/MeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/GridAreas/GridAreaEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/GridAreas/GridAreaLinkEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPointContext.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedNotificationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/OnConsumptionMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SampleData.cs
Due: unit

add missing license
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/GridAreaCodeUniqueRuleError.cs
Due: unit

clean up
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/GridAreas/Create/CreateGridAreaHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridArea.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridAreaLink.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridAreaName.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Startup.cs
Due: unit

Add geo info reference and official address handling
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/OfficialAddressRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/InvalidGeoInfoReferenceRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Rules/GeoInfoReferenceIsRequiredRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Rules/GeoInfoReferenceRequirementRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/BusinessRulesValidationResult.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Address/InvalidGeoInfoReferenceRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/GeoInfoReferenceRequirementRuleErrorConveter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/OfficialAddressIsMandatoryWhenGeoInfoReferenceIsPresentErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/OfficialAddressRuleTests.cs
Due: unit

Update
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/IntegrationEvents/testitest.cs
Due: none

Move rules to corresponding metering point object to improve business logic and to avoid testing implementation details
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/CreationRules.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/CreationRules.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/CreationTests.cs
Due: unit

Change error code and message
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/OfficialAddressIsMandatoryWhenGeoInfoReferenceIsPresentErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: none

Removed unused using
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/OutboxWatcher.cs
Due: integration

Add interface for MessageDispatcher
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/IMessageDispatcher.cs
Due: none

Add MessageReceived command
  source/Energinet.DataHub.MeteringPoints.Application/PostOffice/MessageReceived.cs
Due: unit

Add migration script for creation of PostOfficeMessage table
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202109270930 Add PostOfficeMessage table.sql
Due: integration

Add SubPostOffice
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/ActorMessages/PostOfficeDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ConnectMeteringPoint/ConnectMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/PostOfficeMessageEnvelope.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Helpers/OutboxTypeFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/IPostOfficeStorageClient.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/ISubPostOfficeClient.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/ISubPostOfficeStorageClient.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/SubPostOfficeClient.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/SubPostOfficeStorageClient.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: integration

Add entry point for SubPostOffice
  source/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice/Functions/IntegrationEventReceiver.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice/Functions/QueueSubscriber.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice/host.json
  source/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice/local.settings.sample.json
Due: none

Bump Azure.Messaging.ServiceBus nuget package version
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
Due: integration

Add tests for SubPostOffice
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/DummyDataAvailableNotificationSender.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/DummyDataBundleResponseSender.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/DummyDequeueNotificationSender.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/DummyDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/DummyPostOfficeMessageMetadataRepository.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/DummyPostOfficeStorageClient.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/DummySubPostOfficeStorageClient.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/SubPostOfficeTests.cs
Due: unit

Removed TempPostOfficeStorageClient
  source/Energinet.DataHub.MeteringPoints.Infrastructure/PostOffice/TempPostOfficeStorageClient.cs
Due: none

Added entity and repository for PostOfficeMessageMetadata
  source/Energinet.DataHub.MeteringPoints.Domain/PostOffice/IPostOfficeMessageRepository.cs
  source/Energinet.DataHub.MeteringPoints.Domain/PostOffice/PostOfficeMessageMetadata.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/PostOffice/PostOfficeMessageMetadataEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/PostOffice/PostOfficeMessageMetadataRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.sln
Due: unit

Added suggestions for production and exchange mp contracts.
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/ExchangeMeteringPointCreated.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/ProductionMeteringPointCreated.proto
Due: none

Added prefix to enums as dictated by adr 0008
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/ExchangeMeteringPointCreated.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/ProductionMeteringPointCreated.proto
Due: none

Temporarily added PostOffice.Communicator assembly until it exists as official nuget package
  source/Energinet.DataHub.MeteringPoints.sln
  source/PoorMansPackages/GreenEnergyHub.PostOffice.Communicator.dll
Due: none

Temporarily added PostOffice.Communicator assembly until it exists as official nuget package
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
  source/Energinet.DataHub.MeteringPoints.sln
  source/PoorMansPackages/GreenEnergyHub.PostOffice.Communicator.dll
Due: unit

Add terraform and ci/cd for WebAPI
  .github/workflows/webapi-cd.yml
  .github/workflows/webapi-ci.yml
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/plan-meteringpoint.tf
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/appsettings.Development.json
Due: none

Path conditions:
  unit: any of: source/Energinet.DataHub.MeteringPoints.Application/, source/Energinet.DataHub.MeteringPoints.Domain/, source/Energinet.DataHub.MeteringPoints.Tests/
  integration: any of: source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/, source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/
