Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Change method signature
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
Due: unit

remove check for converters
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Controllers/GridAreaController.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Create/Validation/Converters/PriceAreaCodeRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/GridAreas/Create/CreateGridArea.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/GridAreas/Create/CreateGridAreaHandler.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/GridAreas/Create/CreateGridAreaNullResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/GridAreas/Create/CreateGridAreaRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/GridAreas/Create/Validation/Converters/GridAreaCodeFormatRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/GridAreas/Create/Validation/Converters/GridAreaNameMaxLengthRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/GridAreas/Create/Validation/Converters/PriceAreaCodeRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/GridAreas/Create/Validation/Errors/PriceAreaCodeRuleError.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/GridAreas/Create/Validation/Rules/PriceAreaCodeRule.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Startup.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions/SimpleInjectorExtensions.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/GridAreas/CreateGridAreaTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Add logic to merge values from two addresses into a new address
  source/Energinet.DataHub.MeteringPoints.Domain/Addresses/Address.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/AddressTests.cs
Due: unit

Use address value object instead of master data details
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MasterDataDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeMasterDataTests.cs
Due: unit

Remove IsAddressWashable columns who are replaced by IsActualAddress
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202105181215 Create MeteringPoints tables.sql
Due: integration

Add test data
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202110281315 Create Metering Point test data.sql
Due: integration

Justify Directory.Build.props
  Directory.Build.props
Due: none

Remove configuration for removed column
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
Due: none

Add test data
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
Due: integration

Add client to be used in bff
  source/Energinet.DataHub.MeteringPoints.Client.Core/Energinet.DataHub.MeteringPoints.Client.Core.csproj
  source/Energinet.DataHub.MeteringPoints.Client.Core/IMeteringPointClient.cs
  source/Energinet.DataHub.MeteringPoints.Client.Core/MeteringPointDTO.cs
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
  source/Energinet.DataHub.MeteringPoints.Client/MeteringPointClient.cs
  source/Energinet.DataHub.MeteringPoints.Client/MeteringPointClientFactory.cs
Due: none

Add endpoints to be used by client
  source/Energinet.DataHub.MeteringPoints.Application/Energinet.DataHub.MeteringPoints.Application.csproj
  source/Energinet.DataHub.MeteringPoints.Application/Queries/MeteringPointByGsrnQuery.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Controllers/MeteringPointController.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Startup.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointByGsrnQueryHandler.cs
Due: unit

Add integration tests
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Client/MeteringPointClientTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Client/WebApiFactory.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Client/WebApiHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
Due: none

Change connect to use new query
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ConnectMeteringPoint/ConnectMeteringPointResultHandler.cs
Due: none

Remove unused field
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPoint.cs
Due: unit

Initialize field
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPoint.cs
Due: unit

Add projects to solution file
  source/Energinet.DataHub.MeteringPoints.sln
Due: none

fix fullflexdate as utc
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/GridAreas/Create/CreateGridAreaHandler.cs
Due: none

add bom
  source/Energinet.DataHub.MeteringPoints.Application/Integrations/ChargeLinks/Messages/RequestDefaultChargeLinksMessages.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/RequestDefaultChargeLinksMessagesDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/ChargesResponseReceiver.cs
Due: unit, integration

- Wrapped SetEnergySupplierInfo in envelope - Fixed datetime UTC mess
  source/Energinet.DataHub.MeteringPoints.Application/Extensions/StringExtensions.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Contracts/Contract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/Connect/SetEnergySupplierInfo.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/Connect/SetEnergySupplierInfoInbound.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/Connect/SetEnergySupplierInfoOutbound.cs
Due: unit

Rename core to abstractions
  source/Energinet.DataHub.MeteringPoints.Application/Energinet.DataHub.MeteringPoints.Application.csproj
  source/Energinet.DataHub.MeteringPoints.Application/Queries/MeteringPointByGsrnQuery.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/IMeteringPointClient.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/MeteringPointDto.cs
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
  source/Energinet.DataHub.MeteringPoints.Client/MeteringPointClient.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Startup.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointByGsrnQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ConnectMeteringPoint/ConnectMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.sln
Due: unit

Remove unused using
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessResult.cs
Due: unit

Make MeteringPointClient sealed and constructor internal
  source/Energinet.DataHub.MeteringPoints.Client/MeteringPointClient.cs
Due: none

Add skeleton for documentation
  docs/metering-point-client/documentation.md.txt
  docs/metering-point-client/release-notes/release-notes.md.txt
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
Due: none

Add infrastucture as code
  .github/actions/get-version-suffix/action.yml
  .github/actions/nuget-assert-release-version/action.yml
  .github/workflows/client-publish.yml
Due: none

Refactor: rename webapi and restructure test helpers
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Controllers/GridAreaController.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/GridAreas/Create/CreateGridArea.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/GridAreas/Create/CreateGridAreaHandler.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/GridAreas/Create/CreateGridAreaNullResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/GridAreas/Create/CreateGridAreaRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/GridAreas/Create/Validation/Converters/GridAreaCodeFormatRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/GridAreas/Create/Validation/Converters/GridAreaNameMaxLengthRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/GridAreas/Create/Validation/Converters/PriceAreaCodeRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/GridAreas/Create/Validation/Errors/PriceAreaCodeRuleError.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/GridAreas/Create/Validation/Rules/PriceAreaCodeRule.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Startup.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Client/MeteringPointClientTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/GridAreas/CreateGridAreaTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/WebApi/WebApiFactory.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/WebApi/WebApiHost.cs
  source/Energinet.DataHub.MeteringPoints.sln
Due: none

Refactor: rename webapi and restructure test helpers
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Controllers/GridAreaController.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Controllers/MeteringPointController.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/GridAreas/Create/CreateGridArea.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/GridAreas/Create/CreateGridAreaHandler.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/GridAreas/Create/CreateGridAreaNullResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/GridAreas/Create/CreateGridAreaRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/GridAreas/Create/Validation/Converters/GridAreaCodeFormatRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/GridAreas/Create/Validation/Converters/GridAreaNameMaxLengthRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/GridAreas/Create/Validation/Converters/PriceAreaCodeRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/GridAreas/Create/Validation/Errors/PriceAreaCodeRuleError.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/GridAreas/Create/Validation/Rules/PriceAreaCodeRule.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Properties/launchSettings.json
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Startup.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/appsettings.json
Due: none

Adjust naming in yml
  .github/workflows/webapi-cd.yml
  .github/workflows/webapi-ci.yml
Due: none

Add container extension helper
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
  source/Energinet.DataHub.MeteringPoints.Client/Extensions/ContainerExtensions.cs
Due: none

Convert class to record
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/MeteringPointDto.cs
  source/Energinet.DataHub.MeteringPoints.Client/MeteringPointClient.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointByGsrnQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ConnectMeteringPoint/ConnectMeteringPointResultHandler.cs
Due: none

IaC updates
  build/infrastructure/main/azfun-outbox.tf
  build/infrastructure/main/azfun-processing.tf
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/ChargesResponseReceiver.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/local.settings.sample.json
Due: integration

Update clients package from Charges
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/ChargesResponseReceiver.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
Due: integration

Change image to ubuntu
  .github/workflows/client-publish.yml
Due: none

Fix project paths
  .github/workflows/client-publish.yml
Due: none

Add missing stuff to csproj files
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
Due: none

Change to string interpolation
  source/Energinet.DataHub.MeteringPoints.Client/MeteringPointClient.cs
Due: none

Add nullable types for specific properties
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/MeteringPointDto.cs
Due: none

Rename test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Client/MeteringPointClientTests.cs
Due: none

Improve docs for MeteringPointClient
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/IMeteringPointClient.cs
Due: none

Treat warnings as errors
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
Due: none

Handle nullable properties in connect result handler
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ConnectMeteringPoint/ConnectMeteringPointResultHandler.cs
Due: none

Path conditions:
  unit: any of: source/Energinet.DataHub.MeteringPoints.Application/, source/Energinet.DataHub.MeteringPoints.Domain/, source/Energinet.DataHub.MeteringPoints.Tests/
  integration: any of: source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/, source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/
