Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Deleted SettlementMethodIsRequiredErrorConverter
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Errors/SettlementMethodIsRequired.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/SettlementMethodIsRequiredErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ConsumptionMeteringPointValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit

Deleted SourceMeteringGridAreaNotAllowedErrorConverter
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/SourceMeteringGridAreaNotAllowedValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/SourceMeteringGridAreaNotAllowedErrorConverter.cs
Due: unit

Deleted TargetMeteringGridAreaNotAllowedErrorConverter
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/TargetMeteringGridAreaNotAllowedValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/TargetMeteringGridAreaNotAllowedErrorConverter.cs
Due: unit

Deleted ToGridAreaIsNotAllowedErrorConverter
  source/Energinet.DataHub.MeteringPoints.Application/UpdateMasterData/Validation/ToGridAreaIsNotAllowed.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ToGridAreaIsNotAllowedErrorConverter.cs
Due: unit

Deleted TransactionIdentificationErrorConverter
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/TransactionIdentificationValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/TransactionIdentificationErrorConverter.cs
Due: unit

fix date and time bugs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeConnectionStatus/DisconnectReconnectMeteringPointProcessExtractor.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/ConnectMeteringPointProcessExtractor.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointProcessExtractor.cs
  source/Energinet.DataHub.MeteringPoints.Application/ProcessOverview/NullProcessExtractor.cs
  source/Energinet.DataHub.MeteringPoints.Application/ProcessOverview/ProcessExtractor.cs
  source/Energinet.DataHub.MeteringPoints.Application/UpdateMasterData/UpdateMeteringPointProcessExtractor.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Pipeline/ProcessOverviewBehavior.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/RunnableDateTimeProviderStub.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/EffectiveDateTests.cs
Due: unit

Deleted error converters from WebAPI
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/Rules/GridAreaCodeFormatRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/Rules/GridAreaNameMaxLengthRuleError.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/GridAreas/Create/Validation/Converters/GridAreaCodeFormatRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/GridAreas/Create/Validation/Converters/GridAreaNameMaxLengthRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/GridAreas/Create/Validation/Converters/PriceAreaCodeRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/GridAreas/Create/Validation/Errors/PriceAreaCodeRuleError.cs
Due: unit

Try converting timezone
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202201061300 Create Metering Point test data.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202202081200 Add process test data.sql
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/DateFormatMustBeUTCRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/TestDataCreator.cs
Due: unit, integration

Fix bad commit
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/EffectiveDateTests.cs
Due: none

Merge conflict with main
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
Due: integration

Forgot some files
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/TestHelpers.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Tooling/TestHelpers.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/TestDataCreator.cs
Due: unit

Last commit before review
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/DateFormatMustBeUTCRule.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/TestHelpers.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/EffectiveDateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Tooling/TestHelpers.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/TestDataCreator.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
Due: unit

Update tests
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/DisconnectMeteringPoints/DisconnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ReconnectMeteringPoints/ReconnectTests.cs
Due: none

Throw exception if date string is null or empty
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/EffectiveDate.cs
Due: unit

Fix if statement
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/EffectiveDate.cs
Due: unit

Update source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/EffectiveDate.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/EffectiveDate.cs
Due: unit

enable PE on web app and functions
  .github/workflows/ci.yml
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/func-internalcommanddispatcher.tf
  build/infrastructure/main/func-localmessagehub.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/plan-shared.tf
Due: none

cleanup
  .github/workflows/ci.yml
Due: none

add test to ensure Z in dates
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202109232129 Clean database.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202202220830 User test data.sql
  source/MeteringPoints.EntryPoints.IntegrationTests/Mocks/JwtTokenValidatorMock.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/WebApi/MeteringPointClientTests.cs
Due: integration

add date test for processes
  source/MeteringPoints.EntryPoints.IntegrationTests/WebApi/WebApiTests.cs
Due: none

fix dates in Process entity configuration
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/Processes/ProcessEntityConfiguration.cs
Due: none

set valid userid guid for client test
  source/MeteringPoints.EntryPoints.IntegrationTests/Client/MeteringPointClientTests.cs
Due: none

Removed internal command dispatcher
  build/infrastructure/main/func-internalcommanddispatcher.tf
  build/infrastructure/main/func-processing.tf
  source/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher/Functions/Dispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher/Infrastructure/TimerTriggers/ScheduleStatus.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher/Infrastructure/TimerTriggers/TimerInfo.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher/host.json
  source/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.Tests/AzureFunctionHostConfigurationTests.cs
  source/Energinet.DataHub.MeteringPoints.sln
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
Due: unit

Removed command trigger test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/RefactorInternalCommandsTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/InternalCommandTrigger.cs
Due: none

Use assembly qualified name
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/CommandScheduler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/InternalCommandProcessor.cs
Due: none

Add tests for command processor
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Infrastructure/InternalCommands/InternalCommandProcessorTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Infrastructure/InternalCommands/TestCommand.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Infrastructure/InternalCommands/TestCommandHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Remove dead code
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/DispatchResult.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/IInternalCommandDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/InternalCommandProcessor.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/InternalCommandServiceBusDispatcher.cs
Due: none

Fix test helper
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Remove dead code
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Remove internal command dispatcher references
  .github/actions/publish-release-contents/action.yml
  .github/workflows/ci.yml
Due: none

add entrypoint based test host poc
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateFooTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/EntryPointBasedFixture.cs
Due: none

Add test of internal command handling function
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
Due: none

Upgrade package
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Functions/ScheduleStatus.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Functions/TimerInfo.cs
Due: integration

Update log text
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Functions/ProcessInternalCommands.cs
Due: integration

Remove dead code
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/QueuedInternalCommand.cs
Due: none

add AAA helpers
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateFooTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/ActHelper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/ArrangeHelper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/AssertHelper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/EntryPointBasedFixture.cs
Due: none

use test fixture in createtests
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/ArrangeHelper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/AssertHelper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/EntryPointBasedFixture.cs
Due: none

Register dependencies
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
Due: integration

temp
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/EntryPointTelemetryScopeMiddleware.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/AccountingPointCharacteristics/AccountingPointCharacteristicsMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/AccountingPointCharacteristics/ChildMarketEvaluationPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/AccountingPointCharacteristics/MarketEvaluationPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/AccountingPointCharacteristics/ParentMarketEvaluationPoint.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/AccountingPointCharacteristics/AccountingPointCharacteristicsMessageXmlSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/AccountingPointCharacteristics/AccountingPointCharacteristicsSerializerTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/Acknowledgements/AcknowledgementSerializerTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
Due: unit, integration

Upgrade package
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
Due: integration
