Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Connection type Installation is required for net settlement group 6
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
Due: unit

Add logic to change connection type
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/MasterDataValueUpdater.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Events/ConnectionTypeChanged.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
Due: unit

Update charges package
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/RequestDefaultChargeLinksDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Functions/ChargesResponseReceiver.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
Due: integration

Ensure exception is thrown when closed down
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
Due: unit

Remove ability to remove connection type
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/MasterDataDetails.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/MasterDataValueTransformer.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/MasterDataValueUpdater.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
Due: unit

Fix test fixture
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeTests.cs
Due: none

Extract function
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeTests.cs
Due: none

Remove comment out code
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
Due: unit

update chargelink client package
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
Due: integration

Fix typo
  build/infrastructure/main/func-localmessagehub.tf
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Functions/RequestBundleQueueSubscriber.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/local.settings.sample.json
Due: none

update test to check for accept message
  source/MeteringPoints.EntryPoints.IntegrationTests/Extensions/WhenProviderExtensions.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/TestFiles/Cim/CreateMeteringPoint.xml
Due: none

Rename sample file
  source/MeteringPoints.EntryPoints.IntegrationTests/integrationtest.local.settings.sample.json
Due: none

Remove duplicate test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeTests.cs
Due: none

Add cim specific enums
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/AssetTypeCode.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/DisconnectionType.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/MPConnectionTypeCode.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/MeasurementUnitCommonCode.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/MeteringPointSubTypeCode.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/MeteringPointTypeCode.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/NetSettlementGroup.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/PhysicalStatusCode.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/SettlementMethodCode.cs
Due: none

Add query helper
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointDtoQueryHelper.cs
Due: none

add telemetry behavior and decorator
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/MediatR/NotificationHandlerTelemetryDecorator.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/MediatR/RequestHandlerTelemetryBehavior.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/MediatR/SimpleInjectorMediatorContainerExtensions.cs
Due: integration

satisfy tests with telemetryclient registration
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/BundleCreatorTests.cs
Due: unit

add timeout
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
Due: none

Remove variable not in use
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: none

Add support for non nullable reference types
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Startup.cs
Due: none

Add json string enum converter
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Startup.cs
Due: none

Split usage of MeteringPoint DTO
  source/Energinet.DataHub.MeteringPoints.Application/EDI/IBusinessDocumentFactory.cs
  source/Energinet.DataHub.MeteringPoints.Application/Queries/MeteringPointByGsrnQuery.cs
  source/Energinet.DataHub.MeteringPoints.Application/Queries/MeteringPointByIdQuery.cs
  source/Energinet.DataHub.MeteringPoints.Application/Queries/MeteringPointDto.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/AssetType.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/ConnectionState.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/ConnectionType.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/MeteringMethod.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/MeteringPointType.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/PriceUnit.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/SettlementMethod.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/IMeteringPointClient.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/MeteringPointCimDto.cs
  source/Energinet.DataHub.MeteringPoints.Client/MeteringPointClient.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Controllers/MeteringPointController.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointByGsrnQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointByIdQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/BusinessDocumentFactory.cs
Due: unit

Update Swagger version
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi.csproj
Due: none

Bump mp client version
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
Due: none

Remove unused usings
  source/Energinet.DataHub.MeteringPoints.Domain/Addresses/Address.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/AccountingPointCharacteristics/AccountingPointCharacteristicsSerializerTests.cs
Due: unit

BFF must receive data in CCOE/CIM specific terminologies (#504)
  source/Energinet.DataHub.MeteringPoints.Application/EDI/IBusinessDocumentFactory.cs
  source/Energinet.DataHub.MeteringPoints.Application/Queries/MeteringPointByIdQuery.cs
  source/Energinet.DataHub.MeteringPoints.Application/Queries/MeteringPointDto.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/AssetType.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/ConnectionState.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/ConnectionType.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/DisconnectionType.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/MeteringMethod.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/MeteringPointType.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/NetSettlementGroup.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/PriceUnit.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/SettlementMethod.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/IMeteringPointClient.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/MeteringPointCimDto.cs
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
  source/Energinet.DataHub.MeteringPoints.Client/MeteringPointClient.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Addresses/Address.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Controllers/MeteringPointController.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Startup.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointByGsrnQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointByIdQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointDtoQueryHelper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/BusinessDocumentFactory.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/AccountingPointCharacteristics/AccountingPointCharacteristicsSerializerTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/integrationtest.local.settings.sample.json
Due: unit

Add minimal workflow for client package deployment
  .github/workflows/client-publish.yml
Due: none

Add minimal workflow for client package deployment (#505)
  .github/workflows/client-publish.yml
Due: none

Add logic to nuget publish workflow
  .github/workflows/client-publish.yml
Due: none

Add az credentials to workflow
  .github/workflows/client-publish.yml
Due: none

Add filter for tests in client package workflow
  .github/workflows/client-publish.yml
Due: none

Add local db installation script
  .github/workflows/client-publish.yml
Due: none

Remove check
  .github/workflows/client-publish.yml
Due: none

Change to windows-latest
  .github/workflows/client-publish.yml
Due: none

Move stop to top
  .github/workflows/client-publish.yml
Due: none

Set correct step order
  .github/workflows/client-publish.yml
Due: none

update docs with getting started
  README.md
  docs/development.md
  docs/getting-started.md
Due: none

move all function entrypoints to functions folder
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Functions/MeteringPointHttpTrigger.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher/Functions/Dispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Functions/OutboxWatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
Due: integration

fix md lint
  docs/development.md
Due: none

fix md lint
  README.md
Due: none

Path conditions:
  unit: any of: source/Energinet.DataHub.MeteringPoints.Application/, source/Energinet.DataHub.MeteringPoints.Domain/, source/Energinet.DataHub.MeteringPoints.Tests/
  integration: any of: source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/, source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/
