Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Add webapi for grid areas (#345)
  .github/workflows/infrastructure-cd.yml
  .github/workflows/webapi-cd.yml
  .github/workflows/webapi-ci.yml
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/plan-meteringpoint.tf
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/appsettings.Development.json
Due: none

Init
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/ChargeLinksRequestMetadata.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Create/CreateDefaultChargeLinks.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Create/CreateDefaultChargeLinksDto.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Create/CreateDefaultChargeLinksFailed.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Create/CreateDefaultChargeLinksFailedHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Create/CreateDefaultChargeLinksHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Create/CreateDefaultChargeLinksNotificationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Create/CreateDefaultChargeLinksSucceeded.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Create/CreateDefaultChargeLinksSucceededHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/DefaultChargeLinkRequestClientMock.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/IDefaultChargeLinkRequestClientMock.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Messages/CreateDefaultChargeLinksMessages.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Messages/CreateDefaultChargeLinksMessagesFailed.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Messages/CreateDefaultChargeLinksMessagesSucceeded.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Integrations/IIntegrationMetadataContext.cs
  source/Energinet.DataHub.MeteringPoints.Application/Integrations/IntegrationMetadataContext.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202110080920 Alter Correlation in QueuedInternalCommands.sql
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/IntegrationEventServiceBusMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/OutboxMessageDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/ConsumptionMeteringPointCreatedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/CreateMeteringPointDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/IntegrationEventDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MeteringPointConnectedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/EventMetadata.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/IntegrationEventReceiver.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Controllers/GridAreaController.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Startup.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Contracts/Contract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Requests/CreateDefaultChargeLinksOutBoundMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/CommandScheduler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

Fields should be nullable
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Contracts/Contract.proto
Due: unit

Bugfix: Change Capacity internal data type to double
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Capacity.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/QueueSubscriber.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: unit, integration

Add using
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
Due: none

Fixed power plant element key
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/CreateMeteringPointXmlMappingConfiguration.cs
Due: none

Add todos to be handled later
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/ServiceBusSessionIdMiddleware.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice/Functions/BundleDequeuedQueueSubscriber.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.SubPostOffice/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/SubPostOfficeClient.cs
Due: integration

Add todos to be handled later
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/SubPostOfficeClient.cs
Due: none

fix broken unit test
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/CreateMeteringPointCimXml.xml
Due: unit

Bugfix: Change Capacity internal data type to double (#364)
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Capacity.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/QueueSubscriber.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: unit, integration

Refactor ingestion to convert to master data documents only
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Contracts/Contract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Mappers/ConnectMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/Mappers/ConnectMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Application/CreateMeteringPointMapperTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Application/MasterDataDocumentMapperTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
Due: unit, integration

Refactor handler to handle consumption metering points only
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/CreateConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/CreateConsumptionMeteringPointHandler.cs
Due: unit

Remove unused folder
  source/PoorMansPackages/GreenEnergyHub.PostOffice.Communicator.SimpleInjector.dll
  source/PoorMansPackages/GreenEnergyHub.PostOffice.Communicator.dll
Due: none

Split notifaction/request
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Create/CreateDefaultChargeLinksDto.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Create/CreateDefaultChargeLinksHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Create/CreateDefaultChargeLinksNotification.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Create/CreateDefaultChargeLinksNotificationHandler.cs
Due: unit

Converted to using "User properties" in Service Bus instead of "Label"
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/EventMetadata.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/IntegrationEventReceiver.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/ServiceBusMessageIdempotencyMiddleware.cs
Due: integration

Rector tests for create consumption metering point to use command in stead of market document
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/MasterDataDocument.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringMethodMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/NetSettlementGroupRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Mappers/MasterDataDocumentMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/MasterDataDocumentXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/Mappers/MasterDataDocumentMapper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/Scenarios.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/MasterDataDocumentReceiveTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit

Update contract
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Notifications/Protobuf/EnergySupplierChanged.proto
Due: none

Register topic in outbox Add integration test for creation of production mp
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/AzureFunctionHostConfigurationTests.cs
Due: unit, integration

Renamed OfficialAddress to ActualAddress
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/ActualAddressRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/ActualAddressIsMandatoryWhenGeoInfoReferenceIsPresentValidationError.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202108210931 Rename Occurence to EffectiveDate.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202110111554 Rename IsOfficialAddress to IsActualAddress.sql
  source/Energinet.DataHub.MeteringPoints.Domain/Addresses/Address.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Contracts/Contract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Mappers/CreateMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/AccountingPointCharacteristics/AccountingPointCharacteristicsXmlSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/AccountingPointCharacteristics/MarketEvaluationPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ConnectMeteringPoint/ConnectMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ActualAddressIsMandatoryWhenGeoInfoReferenceIsPresentErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/CreateMeteringPointXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/Mappers/CreateMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/AddressTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/ConnectMeteringPoint/ConnectMeteringPointCimXml.xml
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/CreateMeteringPointCimXml.xml
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/ActualAddressRuleTests.cs
Due: unit, integration

Add more integration tests for production mp testing integration event also
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: none

Add support for nullable types in translator func in xml converter
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ConverterMapperConfigurationBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ExtendedPropertyInfo.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlMapper.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/CreateMeteringPointCimXml.xml
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
Due: unit

update with new variable name
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Production/CreationTests.cs
Due: unit

Add support for connect to factory
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcessType.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlMapper.cs
Due: unit

Reverted Occurence -> EffectiveDate script to its proper state and added the script to the IsOfficialAddress -> IsActuallAddress script instead.
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202108210931 Rename Occurence to EffectiveDate.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202110111554 Rename IsOfficialAddress to IsActualAddress.sql
Due: integration

private setter in query models
  source/Energinet.DataHub.MeteringPoints.Application/Queries/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Queries/ProductionMeteringPoint.cs
Due: unit

Add actor message factory. The purpose is to remove duplication in result handlers regarding actor messages
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/IActorMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: integration

Add todo and log message regarding specific business validations for unimplemented types
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Energinet.DataHub.MeteringPoints.Application.csproj
Due: unit

Extract logic for creating and dispatching message hub message to separate service
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/IMessageHubDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/MessageHubDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: integration

Add db helper class
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/OnConsumptionMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Production/OnProductionMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/DbHelper.cs
Due: none

add license
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/DbHelper.cs
Due: none

Refactor test result handler
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/TestBusinessRequestResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/TestHost.cs
Due: none

Add support for nullable types in translator func in xml converter (#370)
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ConverterMapperConfigurationBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/ExtendedPropertyInfo.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/XmlMapper.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/CreateMeteringPointCimXml.xml
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
Due: unit

register dbhelper
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Startup.cs
Due: integration

Register logging in integration test host
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

add IaC + CI/CD for localmessagehub
  .github/workflows/localmessagehub-cd.yml
  .github/workflows/localmessagehub-ci.yml
  build/infrastructure/main/azfun-localmessagehub.tf
Due: none

Change document type
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
Due: integration

Revert "Converted to using "User properties" in Service Bus instead of "Label""
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/EventMetadata.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/IntegrationEventReceiver.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/ServiceBusMessageIdempotencyMiddleware.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Notifications/Protobuf/EnergySupplierChanged.proto
Due: integration
