Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Reject if parent and child does not belong to same grid area
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ParentChildCouplingTests.cs
Due: none

Cannot couple to a closed down parent metering point
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ParentChild/ChildMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ParentChild/Rules/CannotCoupleToClosedDownParent.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ParentChild/Rules/CannotCoupleToClosedDownParentRule.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/ParentChildTests.cs
Due: unit

Reject if parent metering point is closed down
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ParentChild/CannotCoupleToClosedDownParentErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ParentChildCouplingTests.cs
Due: none

Add test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ParentChildTests.cs
Due: none

update to use mssql module
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/locals.tf
  build/infrastructure/main/mssqldb-this.tf
  build/infrastructure/main/outputs.tf
Due: none

revert sql scripts
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202201181200 Fix actor ids.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202112141430 Actor test data.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202112142130 Create Grid Area test data.sql
Due: integration

Remove duplicate test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
Due: none

redo undo
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202112141430 Actor test data.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202112142130 Create Grid Area test data.sql
Due: integration

Reject when target grid area is specified
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Validation/ToGridIsNotAllowed.cs
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/MasterDataDocument.cs
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/ValidationRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ToGridIsNotAllowedErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
Due: unit

Reject if source grid area is specified
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Validation/FromGridAreaIsNotAllowed.cs
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/ValidationRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/FromGridAreaIsNotAllowedErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
Due: unit

Rename
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Validation/ToGridAreaIsNotAllowed.cs
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/ValidationRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ToGridAreaIsNotAllowedErrorConverter.cs
Due: unit

move secret
  build/infrastructure/main/kv-shared-resources.tf
Due: none

Make attribute nullable
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/MasterDataDocument.cs
Due: unit

Metering method cannot be removed
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Errors/MeteringMethodIsRequired.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataUpdater.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringMethodIsRequiredErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/MeteringConfigurationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit

readd script as test
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202201181200 Fix actor ids.sql
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ActorProvider.cs
Due: integration

Metering method must be calculated
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/NetConsumption/NetConsumptionRules.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/MeteringMethodMustBeCalculated.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/NetConsumptionTests.cs
Due: unit

Move tests to new home
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/NetConsumptionTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/SpecialMeteringPointValidationTests.cs
Due: unit

Remove tests not implemented
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: none

Add test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: none

Working on restricting access to metering point endpoint
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointByGsrnQueryHandler.cs
Due: none

update logging
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
Due: integration

Add security to WebAPI and extend MP client with security
  build/infrastructure/main/app-webapi.tf
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/IMeteringPointClient.cs
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
  source/Energinet.DataHub.MeteringPoints.Client/Extensions/ContainerExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Client/MeteringPointClient.cs
  source/Energinet.DataHub.MeteringPoints.Client/MeteringPointClientFactory.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Startup.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Client/MeteringPointClientTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Client/HttpClientFactoryMock.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Client/HttpContextAccessorMock.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Client/MeteringPointClientTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/MeteringPoints.EntryPoints.IntegrationTests.csproj
  source/MeteringPoints.EntryPoints.IntegrationTests/Tooling/WebApi/WebApiFactory.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Tooling/WebApi/WebApiHost.cs
Due: none

Change alfa to stable version
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi.csproj
Due: none

Add keyvault urls to github actions workflow
  .github/workflows/client-publish.yml
Due: none

Add more env variables
  .github/workflows/client-publish.yml
Due: none

For "Other production" and "Other consumption" metering method must be "Physical" or "Virtual"
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Errors/MeteringMethodMustBePhysicalOrVirtualRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/OtherConsumptionMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/OtherProductionMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/MeteringMethodMustBePhysicalOrVirtualRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringMethodMustBePhysicalOrVirtualRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/OtherConsumptionMeteringPointValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/OtherProductionMeteringPointValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/SpecialMeteringPointValidationTests.cs
Due: unit

Add azure signin to publish client workflow
  .github/workflows/client-publish.yml
Due: none

move pointers to new db and remove the old one
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/func-internalcommanddispatcher.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/locals.tf
  build/infrastructure/main/outputs.tf
  build/infrastructure/main/sqldb-this.tf
Due: none

fix tf validate error
  build/infrastructure/main/func-localmessagehub.tf
  build/infrastructure/main/func-processing.tf
Due: none

try to remove section part of config
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Startup.cs
Due: none

Use newer dotnet version in github workflow
  .github/workflows/ci.yml
Due: none

Set missing environment variables in fixture
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
Due: none

Reading periodicity of child must match parent
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/IMeteringPointRepository.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ParentChild/Rules/ReadingPeriodicityOfChildDoesNotMatchParent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ParentChild/ReadingPeriodicityOfChildDoesNotMatchParentErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ParentChildCouplingTests.cs
Due: unit

Initial
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/DisconnectTests.cs
Due: unit

Disconnect happy flow
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConnectionState.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Events/MeteringPointDisconnected.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/DisconnectTests.cs
Due: unit

Rename validator
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/TotalConsumption/TotalConsumptionValidator.cs
Due: unit

Extract net consumption validator
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/NetConsumption/NetConsumptionPointValidator.cs
Due: unit

Extract tests
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/NetConsumptionTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/SpecialMeteringPointValidationTests.cs
Due: unit

Extract net production validator
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/NetProduction/NetProductionValidator.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/NetProductionTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/SpecialMeteringPointValidationTests.cs
Due: unit

Rename
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/NetConsumption/NetConsumptionValidator.cs
Due: unit
