Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Distributed grid areas to test actors
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202101171400 Distribute grid areas to actors.sql
Due: integration

Effective date is stored correctly
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterData.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/AssertPersistedMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
Due: unit

Remove effective date
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
Due: unit

outcomment injections
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
Due: integration

Remove effective date from factory method
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Exchange/CreationTests.cs
Due: unit

Remove effective date from factory method
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/ParentChildTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Production/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/SetEnergySupplierTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
Due: unit

Distributed grid areas to test actors
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202201171400 Distribute grid areas to actors.sql
Due: integration

Capacity is changed
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataRequest.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/AssertPersistedMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
Due: unit

Metering configuration is changed
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/AssertPersistedMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
Due: none

Settlement method is changed
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/AssertPersistedMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
Due: unit

Scheduled meter reading date is changed
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataRequest.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/AssertPersistedMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
Due: unit

Connection type is changed
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/AssertPersistedMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
Due: unit

Tests added + street code rule (missing error msg)
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/ConsumptionMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Exchange/ExchangeMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Production/ProductionMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/StreetCodeIsRequiredRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/StreetCodeIsRequiredRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/StreetCodeIsRequiredRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ExchangeMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ProductionMeteringPointTests.cs
Due: unit

use subnet module
  .github/workflows/ci.yml
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/snet-internal-private-endpoints.tf
  build/infrastructure/main/snet-internal-vnet-integration.tf
Due: none

Disconnection type is changed
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataRequest.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/AssertPersistedMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
Due: unit

Net settlement group is changed
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataRequest.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/AssertPersistedMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
Due: unit

Production obligation is changed
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataRequest.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/AssertPersistedMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Scenarios.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
Due: unit

Rename
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataRequest.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/MasterDataValueTransformer.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
Due: unit

Add db connection string to ingestion iac
  build/infrastructure/main/func-ingestion.tf
Due: none

Fixed type and business sector type for "GenericNotificationMessage"
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/GenericNotification/GenericNotificationMessageFactory.cs
Due: none

Change data type for power limit properties
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/MasterDataDocument.cs
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/ValidationRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/PowerLimitRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Contracts/Contract.proto
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Scenarios.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
Due: unit

Add property
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/MasterDataDocument.cs
Due: unit

Change command invocation method
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
Due: none

Municipalitycode required for market metering poin
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/ConsumptionMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Exchange/ExchangeMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Production/ProductionMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/MunicipalityCodeIsRequiredRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/MunicipalityCodeIsRequiredRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/MunicipalityCodeIsRequiredErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ExchangeMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ProductionMeteringPointTests.cs
Due: unit

Make all properties nullable in order to support multiple business processes
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataRequest.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/MasterDataDocument.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/Mappers/MasterDataDocumentMapper.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
Due: unit

Remove obsolete tests
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/ValidationRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeasureUnitTypeRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeterReadingOccurenceRule.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit

Add production obligation to mapper configuration
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/MasterDataDocumentXmlMappingConfiguration.cs
Due: none

Add production obligation to contracts
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Contracts/Contract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Mappers/MasterDataDocumentMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/Mappers/MasterDataDocumentMapper.cs
Due: none

Make properties nullable in order to support multiple business processes
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Contracts/Contract.proto
Due: none

Building nr required for market metering points
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/ConsumptionMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Exchange/ExchangeMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Production/ProductionMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/BuildingNumberIsRequiredRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/BuildingNumberIsRequiredRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/BuildingNumberIsRequiredErrorConverter.cs
Due: unit

Add meter reading occurence validation
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeterReadingOccurenceInvalidValueErrorConverter.cs
Due: unit

Add unit type validation
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeasureUnitTypeInvalidValueErrorConverter.cs
Due: unit

Update license
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/StreetCodeIsRequiredRuleErrorConverter.cs
Due: none

Add product type validation
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Errors/InvalidProductTypeValue.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataUpdater.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ProductionBuilderTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
Due: unit

Add geo info validation to Address object
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/AddressValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/MasterDataValueTransformer.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Components/Addresses/Address.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Components/Addresses/Rules/GeoInfoReferenceFormatRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Components/Addresses/Rules/InvalidGeoInfoReference.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/IMasterDataBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataUpdater.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Scenarios.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/AddressTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/UpdateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Exchange/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Production/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/UpdateMasterDataTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SampleData.cs
Due: unit

Update tests
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/UpdateMasterDataTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SampleData.cs
Due: unit

Add business rule for actual address indicator
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/AddressValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Components/Addresses/Address.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Components/Addresses/Rules/ActualAddressIsRequired.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Components/Addresses/Rules/ActualAddressRequirementRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataUpdater.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/AddressTests.cs
Due: unit

Change validation errors
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ActualAddressIsMandatoryWhenGeoInfoReferenceIsPresentErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Address/InvalidGeoInfoReferenceRuleErrorConverter.cs
Due: none

Invoke process via MasterDataDocument instead of command
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/AddressChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/TestUtils.cs
Due: none

added request response logging. package reference upgrades.
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/Energinet.DataHub.MeteringPoints.EntryPoints.Common.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
Due: integration

Path conditions:
  unit: any of: source/Energinet.DataHub.MeteringPoints.Application/, source/Energinet.DataHub.MeteringPoints.Domain/, source/Energinet.DataHub.MeteringPoints.Tests/
  integration: any of: source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/, source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/
