Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Live health check added processing
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Monitor/HealthCheckEndpoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Configuration/HealthCheckRegistration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Transport/Channel.cs
Due: integration

Add servicebus health checks and update TF
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/sb-meteringpoint.tf
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Configuration/HealthCheckRegistration.cs
Due: integration

downgrade back
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
Due: integration

Add Health Check outbox
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Monitor/HealthCheckEndpoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
Due: integration

Update TF
  build/infrastructure/main/func-outbox.tf
Due: none

add monitor function
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Monitor/HealthCheckEndpoint.cs
Due: integration

Changed reference to dotnet-solution-ci
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Add Health check
  build/infrastructure/main/func-localmessagehub.tf
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Monitor/HealthCheckEndpoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/local.settings.sample.json
Due: none

update comment
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/local.settings.sample.json
Due: integration

Ingestion health check
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Monitor/HealthCheckEndpoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
Due: integration

Revert queues and topics
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
Due: none

only live check in messagehub. impl in actorsync
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Monitor/HealthCheckEndpoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
Due: none

add queues for localmessagehub again
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
Due: none

Rename queue topic setting
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/func-localmessagehub.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Functions/QueueSubscriber.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.Tests/AzureFunctionHostConfigurationTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/IngestionFunctionAppFixture.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
Due: unit, integration

Indention
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/func-localmessagehub.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
Due: none

Upd metering point sb connection string name
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/func-localmessagehub.tf
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.Tests/AzureFunctionHostConfigurationTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/IngestionFunctionAppFixture.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
Due: unit, integration

listen permissions connection string name update
  build/infrastructure/main/func-processing.tf
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Functions/QueueSubscriber.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/local.settings.sample.json
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
Due: integration

MP domain sb connection string with manage perm
  build/infrastructure/main/func-localmessagehub.tf
  build/infrastructure/main/func-processing.tf
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/local.settings.sample.json
Due: integration

remove unused setting
  build/infrastructure/main/func-outbox.tf
Due: none

OutBox shared sb connection strings name update
  build/infrastructure/main/func-outbox.tf
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.Tests/AzureFunctionHostConfigurationTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
Due: unit, integration

Remove technial impl name
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/func-localmessagehub.tf
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.Tests/AzureFunctionHostConfigurationTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/IngestionFunctionAppFixture.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
Due: unit, integration

remove technial impl naming
  build/infrastructure/main/func-localmessagehub.tf
  build/infrastructure/main/func-processing.tf
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/local.settings.sample.json
Due: integration

Indention
  build/infrastructure/main/func-localmessagehub.tf
  build/infrastructure/main/func-processing.tf
Due: none

Indention
  build/infrastructure/main/func-ingestion.tf
Due: none

indention
  build/infrastructure/main/func-outbox.tf
Due: none

processing
  build/infrastructure/main/func-processing.tf
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Functions/ChargesResponseReceiver.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Functions/IntegrationEventReceiver.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Functions/MasterDataRequestListener.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Functions/QueueSubscriber.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.Tests/AzureFunctionHostConfigurationTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
Due: unit, integration

Add internal queue health check ingestion
  build/infrastructure/main/func-ingestion.tf
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/local.settings.sample.json
Due: integration

Add Health Check external queues - Outbox
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
Due: integration

revert
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
Due: integration

Internal Command message errors alert
  build/infrastructure/main/alerts.tf
Due: none

update to 7.7.0 og .github
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

revert to 7.6.0
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

use 7.7.0 of .github
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Remove DOTNET_VERSION
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/integration-events-publish.yml
  .github/workflows/request-response-publish.yml
Due: none

Use OIDC
  build/infrastructure/main/backend.tf
  build/infrastructure/main/providers.tf
Due: none

Add guid to servicebus queue name
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Configuration/HealthCheckRegistration.cs
Due: none

Add create charge link queue to health check
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
Due: integration

Remove duplicate package reference
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
Due: none

Add actorsync to alert
  build/infrastructure/main/alerts.tf
Due: none

Add sourcelink properties to projects
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
Due: none

Path conditions:
  unit: any of: source/Energinet.DataHub.MeteringPoints.Application/, source/Energinet.DataHub.MeteringPoints.Domain/, source/Energinet.DataHub.MeteringPoints.Tests/
  integration: any of: source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/, source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/
