Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

add connect rules tests
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ConnectMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/ConnectMeteringPointRulesTest.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit

add transaction required rule to create
  source/Energinet.DataHub.MeteringPoints.Application/Validation/CreateMeteringPointRuleSet.cs
Due: unit

add transaction to test requests
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: none

Rule checked for one thing but was called the opposite
  source/Energinet.DataHub.MeteringPoints.Application/Connect/ConnectMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringPointGsrnMustBeUniqueRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringPointMustNotBeKnownRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/MeteringPointMustNotBeKnownRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringPointMustBeKnownRuleErrorConverter.cs
Due: unit

Rename Occurence to EffectiveDate and encapsulate rules
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/CreateMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/EffectiveDateMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/EffectiveDateRequiredValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/EffectiveDateWrongFormatValidationError.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202108210931 Rename Occurence to EffectiveDate.sql
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/EffectiveDate.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/InvalidEffectiveDateFormat.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/DateFormatMustBeUTCRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/DateFormatMustBeUTCRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Mappers/CreateMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/EffectiveDateRequiredErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/EffectiveDateWrongFormatErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/CreateMeteringPointXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/Mappers/CreateMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/EffectiveDateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPointMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit, integration

Disable validation registration checks, since not all ValidationErrors defined a domain layer will be directly converted to an validation error message in an actor message
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: integration

Rename property to be more intention revealing
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/EffectiveDate.cs
Due: unit

Move to feature folder to improve cohesiveness
  source/Energinet.DataHub.MeteringPoints.Application/Connect/ConnectMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointRulesHelper.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

Move business logic for powerplant requirement for consumption metering point from application layer to domain layer
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/PowerPlantMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/PowerPlantIsRequiredForNetSettlementGroupRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Contracts/IRejectMessage.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/PowerPlantRuleTests.cs
Due: unit

Fix comment
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringPointGsrnMustBeUniqueRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringPointMustNotBeKnownRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/MeteringPointMustNotBeKnownValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringPointMustNotBeKnownRuleErrorConverter.cs
Due: unit

Changed extension name from .json to .xml in TempPostOffice (#258)
  source/Energinet.DataHub.MeteringPoints.Infrastructure/PostOffice/TempPostOfficeStorageClient.cs
Due: none

Made two distinct rules, one checking if MP already exists (used for connect rules), and one checking for uniqueness.
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/MeteringPointMustBeKnownValidationError.cs
Due: unit

Actually comitting everything
  source/Energinet.DataHub.MeteringPoints.Application/Connect/ConnectMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringPointMustBeKnownRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/MeteringPointGsrnMustBeUniqueValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringPointGsrnMustBeUniqueRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringPointMustBeKnownRuleErrorConverter.cs
Due: unit

Fix rule powerplant requirement
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/PowerPlantIsRequiredForNetSettlementGroupRule.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
Due: unit

Change effective date format to be 22:00:00 UTC
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/DateFormatMustBeUTCRule.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/EffectiveDateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/ConnectMeteringPointRulesTest.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit

Parse OccurenceDate string to Instant in MeteringPointHandler
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
Due: unit

Add rule for street code
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Address.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/InvalidAddressException.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/InvalidStreetCodeError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/StreetCodeRule.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/AddressTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeteringPointTests.cs
Due: unit

Add rule for street name length
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Address.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/StreetCodeLengthRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/StreetCodeLengthRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/StreetNameLengthRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/StreetNameLengthRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Address/StreetCodeLengthRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/AddressTests.cs
Due: unit

Add building number rules
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Address.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/BuildingNumberFormatRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/BuildingNumberFormatRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/AddressTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeteringPointTests.cs
Due: unit

Add rules for floor and room
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Address.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/FloorLengthRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/FloorLengthRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/RoomLengthRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/RoomLengthRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/AddressTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SampleData.cs
Due: unit

Add rules for city
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Address.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/CityNameLengthRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/CityNameLengthRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/AddressTests.cs
Due: unit

Move AddDomainEvent from base to derived types of MeteringPoint
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
Due: unit

Added missing fields to MeteringPointCreated Integration Event
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedEventMessageMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedNotificationHandler.cs
Due: unit

Add rules for post code
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Address.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/PostCodeFormatRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/PostCodeFormatRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/AddressTests.cs
Due: unit

Add rules for city subdivision
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Address.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/CitySubdivisionRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/CitySubdivisionRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/AddressTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SampleData.cs
Due: unit

Add rules for municipality code
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Address.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/MunicipalityCodeRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/MunicipalityCodeRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/AddressTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SampleData.cs
Due: unit

Add create test
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Address.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/StreetCodeLengthRule.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/AddressTests.cs
Due: unit

Add address columns
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202108301200 Add address columns.sql
Due: integration

Add missing parameters
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
Due: unit

Add to and from grid to integration event (#268)
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedEventMessageMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedNotificationHandler.cs
Due: unit

Add address validation in command handler
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
Due: unit

Remove error message assertion
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Add test for street name
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
Due: none

Cleanup test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
Due: none

Add requirement rule for post code
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/PostCodeIsRequiredRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/PostCodeIsRequiredRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/PostCodeIsRequiredRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
Due: unit

Fix effective date input validation rule
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/EffectiveDateRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/DateFormatMustBeUTCRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/ConnectMeteringPointRulesTest.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit

Add city requirement rule
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/CityIsRequiredRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/CityIsRequiredRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/CityIsRequiredRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
Due: unit

use squadron for integration tests
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/DatabaseFixture.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/IntegrationTestDatabaseFixture.cs
Due: none
