Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Reorganize dto
  source/Energinet.DataHub.MeteringPoints.Application/RequestMasterData/GetMasterDataQueryHandler.cs
Due: unit

Remove supply start
  source/Energinet.DataHub.MeteringPoints.Application/RequestMasterData/GetMasterDataQueryHandler.cs
Due: unit

Remove obsolete class
  source/Energinet.DataHub.MeteringPoints.Application/RequestMasterData/GetMasterDataQueryHandler.cs
Due: unit

Assert street name
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/RequestMasterData/RequestMasterDataTests.cs
Due: none

Assert street code
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/RequestMasterData/RequestMasterDataTests.cs
Due: none

Use TF modules v7.0.0
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-actor-sync.tf
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/func-localmessagehub.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/mssqldb-this.tf
  build/infrastructure/main/sb-meteringpoint.tf
Due: none

Assert rest of address attributes
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/RequestMasterData/RequestMasterDataTests.cs
Due: none

Empty features
  build/infrastructure/main/providers.tf
Due: none

Extract class for address
  source/Energinet.DataHub.MeteringPoints.Application/RequestMasterData/GetMasterDataQuery.cs
  source/Energinet.DataHub.MeteringPoints.Application/RequestMasterData/GetMasterDataQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/RequestMasterData/RequestMasterDataTests.cs
Due: unit

Extract class for series
  source/Energinet.DataHub.MeteringPoints.Application/RequestMasterData/GetMasterDataQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/RequestMasterData/RequestMasterDataTests.cs
Due: unit

Fix default_site_hostname
  build/infrastructure/main/app-webapi.tf
Due: none

Update roles
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Services/MeteringPointDbService.cs
Due: none

Changed insert to use string builder to avoid multiple queries.
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Services/MeteringPointDbService.cs
Due: none

Cleanup
  source/Energinet.DataHub.MeteringPoints.ActorRegistrySync/Services/AccessService.cs
Due: none

Extract grid area details
  source/Energinet.DataHub.MeteringPoints.Application/RequestMasterData/GetMasterDataQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/RequestMasterData/RequestMasterDataTests.cs
Due: unit

Assert connection state
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/RequestMasterData/RequestMasterDataTests.cs
Due: none

Assert metering method
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/RequestMasterData/RequestMasterDataTests.cs
Due: none

Assert rest of values
  source/Energinet.DataHub.MeteringPoints.Application/RequestMasterData/GetMasterDataQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/RequestMasterData/RequestMasterDataTests.cs
Due: unit

Try using variables and skip app settig
  build/infrastructure/main/func-ingestion.tf
Due: none

Use TF parameters instead of app settings
  build/infrastructure/main/func-actor-sync.tf
  build/infrastructure/main/func-localmessagehub.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
Due: none

Remove default values (they are injected in the TF module)
  build/infrastructure/main/func-actor-sync.tf
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/func-localmessagehub.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/kv-shared-resources.tf
Due: none

Initial
  source/Energinet.DataHub.MeteringPoints.Application/RequestMasterData/GetMasterDataQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Functions/MasterDataRequestListener.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Requests/MasterData/MasterDataRequestResponse.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Requests/MasterData/MasterDataRequestResponseOutBoundMapper.cs
Due: unit, integration

add inc request contract
  source/Energinet.DataHub.MeteringPoints.Application/RequestMasterData/GetMasterDataQuery.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Functions/MasterDataRequestListener.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Requests/MasterData/MasterDataRequest.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Requests/MasterData/MasterDataRequestResponse.proto
Due: unit, integration

Registrations
  source/Energinet.DataHub.MeteringPoints.Application/RequestMasterData/GetMasterDataQuery.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Functions/MasterDataRequestListener.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/local.settings.sample.json
Due: unit, integration

Infrastructure
  build/infrastructure/main/func-processing.tf
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/local.settings.sample.json
Due: integration

Updated WebApi and Metering Point Client documentation
  docs/metering-point-client/documentation.md
  docs/metering-point-client/meteringpoint-client.drawio.png
  docs/metering-point-web-api/documentation.md
Due: none

Fixed linting complaints
  docs/metering-point-client/documentation.md
  docs/metering-point-web-api/documentation.md
  wordlist.txt
Due: none

convert to utc before timestamp
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Requests/MasterData/MasterDataRequestResponseOutBoundMapper.cs
Due: none

add policies
  build/infrastructure/main/kv-shared-access-policies.tf
Due: none

Added alt text to image
  docs/metering-point-client/documentation.md
Due: none

Fixed missing word in wordlist
  docs/metering-point-web-api/documentation.md
  wordlist.txt
Due: none

Bumped version number
  docs/metering-point-client/release-notes/release-notes.md
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
Due: none

Create projects and solutions
  source/Energinet.DataHub.MeteringPoints.sln
  source/IntegrationEvents/Class1.cs
  source/IntegrationEvents/IntegrationEvents.csproj
  source/ResponseRequest/Class1.cs
  source/ResponseRequest/ResponseRequest.csproj
Due: none

Rename namespace and license
  source/Energinet.DataHub.MeteringPoints.sln
  source/RequestResponse/Class1.cs
  source/RequestResponse/RequestResponse.csproj
  source/ResponseRequest/Class1.cs
Due: none

Remove default classes
  source/IntegrationEvents/Class1.cs
  source/RequestResponse/Class1.cs
Due: none

Move proto files to new home
  source/IntegrationEvents/ChangeConnectionStatus/MeteringPointDisconnectedIntegrationEvent.proto
  source/IntegrationEvents/ChangeConnectionStatus/MeteringPointReconnectedIntegrationEvent.proto
  source/IntegrationEvents/ChangeMasterData/MasterDataUpdatedIntegrationEvent.proto
  source/IntegrationEvents/Connect/MeteringPointConnectedIntegrationEvent.proto
  source/IntegrationEvents/Contracts/IntegrationEventContract.proto
  source/IntegrationEvents/CreateMeteringPoint/ConsumptionMeteringPointCreated.proto
  source/IntegrationEvents/CreateMeteringPoint/ExchangeMeteringPointCreated.proto
  source/IntegrationEvents/CreateMeteringPoint/MeteringPointMessageDequeued.proto
  source/IntegrationEvents/CreateMeteringPoint/ProductionMeteringPointCreated.proto
  source/IntegrationEvents/IntegrationEvents.csproj
  source/IntegrationEvents/Notifications/EnergySupplierChanged/EnergySupplierChanged.proto
  source/IntegrationEvents/Notifications/FutureEnergySupplierChangeRegistered/FutureEnergySupplierChangeRegistered.proto
Due: none

Add protobuf and grpc libs
  source/IntegrationEvents/IntegrationEvents.csproj
Due: none

Update configuration test
  source/Energinet.DataHub.MeteringPoints.Tests/AzureFunctionHostConfigurationTests.cs
Due: unit

Add kv_shared_access_policy_app_webapi module
  build/infrastructure/main/kv-shared-access-policies.tf
Due: none

add config to test
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
Due: none
