Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Extract test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/DisconnectionTypeTests.cs
Due: none

Move from test to seed data
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202201191330 Add grid access provider test data.sql
Due: integration

Reject if disconnection type value is invalid
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/InvalidDisconnectionTypeValueErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/DisconnectionTypeTests.cs
Due: none

Add settings for b2c tenant id and background service app id
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/kv-shared-resources.tf
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.Tests/AzureFunctionHostConfigurationTests.cs
Due: unit, integration

Make use of newest package from .github repo
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Make use of package from separate branch
  .github/workflows/ci.yml
  .github/workflows/client-publish.yml
Due: none

Make use of official workflow
  .github/workflows/ci.yml
Due: none

Change validation error
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/DisconnectionTypeRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/DisconnectionTypeWrongValueValidationError.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: unit

Update package references
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/client-publish.yml
Due: none

Use package from branch
  .github/workflows/ci.yml
Due: none

Update packages
  source/Energinet.DataHub.MeteringPoints.Application/Energinet.DataHub.MeteringPoints.Application.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher/Energinet.DataHub.MeteringPoints.EntryPoints.InternalCommandDispatcher.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
Due: unit, integration

Set temporary reference
  .github/workflows/ci.yml
Due: none

Update packages
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/client-publish.yml
Due: none

Add missing environment variables to workflow
  .github/workflows/ci.yml
Due: none

More yml
  .github/workflows/ci.yml
Due: none

Disconnection type cannot be removed if required
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/DisconnectionTypeIsRequiredErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/DisconnectionTypeTests.cs
Due: none

Pull up method
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/DisconnectionTypeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ProductionObligationTests.cs
Due: none

Move test to new home
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectionTypeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
Due: none

Reject if connection type value is invalid
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/InvalidConnectionTypeValueErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectionTypeTests.cs
Due: none

Set environment settings in context of integration tests
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/AuthorizationConfiguration.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/IngestionFunctionAppFixture.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
Due: none

Decrease wait time
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
Due: none

Simplify setting environment
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/AuthorizationConfiguration.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/integrationtest.local.settings.sample.json
Due: none

Fix pointer to .github reusable workflow
  .github/workflows/ci.yml
Due: none

Bump client package version
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
Due: none

Connection type cannot be removed if required
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConnectionTypeTests.cs
Due: none

Change error code
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ConnectionTypeIsRequiredRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConnectionTypeTests.cs
Due: none

Update Schema
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
Due: unit, integration

Net settlement group reject tests implemented
  source/Energinet.DataHub.MeteringPoints.Application/Create/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/NetSettlementGroupInvalidValueErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/NetSettlementGroupMandatoryErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ProductionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/NetSettlementGroupTests.cs
Due: unit

Rename
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/GridOperatorPolicies/CurrentActorIsGridOperatorPolicy.cs
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/GridOperatorPolicies/GridOperatorIsOwnerPolicy.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointAuthorizer.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
Due: unit, integration

add missing links
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202201201330 Add grid access provider test data continued.sql
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
Due: integration

Reject when settlement group is missing
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ProductionMeteringPointTests.cs
Due: none

Connection type must be installation for specific net settlement groups
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/ConnectionTypeRequirementRule.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ConsumptionMeteringPointValidationTests.cs
Due: unit

Reject if connection type configurarion is not valid
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConnectionTypeTests.cs
Due: none

Move to new home
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMasterDataRequest.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMasterDataRequestValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ChangeMasterData/ChangeMasterDataResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
Due: unit, integration

Re-upgrade func worker sdk
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
Due: integration

Upgrade .net version in github action
  .github/workflows/client-publish.yml
Due: none

Move test to new home
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/ConsumptionMeteringPoints/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/SettlementMethodTests.cs
Due: none

Reject if settlement method value is invalid
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataUpdater.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/InvalidSettlementMethodErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/SettlementMethodTests.cs
Due: unit

Cannot remove settlement method if required
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/SettlementMethodIsRequiredErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/SettlementMethodTests.cs
Due: none

Rejct if settlement method configuration is invalid
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UpdateMasterData/SettlementMethodTests.cs
Due: none
