Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Remove including testdata for db migrations to test environment
  .github/workflows/infrastructure-cd.yml
Due: none

Remove including testdata for db migrations to test environment (#376)
  .github/workflows/infrastructure-cd.yml
Due: none

Enable swagger in webapi for all environments
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Startup.cs
Due: none

Remove appsettings for local development from repo
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/appsettings.Development.json
Due: none

Disabled idempotency middleware for now
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
Due: integration

Revert "Revert "Converted to using "User properties" in Service Bus instead of "Label"""
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/EventMetadata.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/IntegrationEventReceiver.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/ServiceBusMessageIdempotencyMiddleware.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Notifications/Protobuf/EnergySupplierChanged.proto
Due: integration

Add rule for street name to ensure it cannot be blank
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMasterDataRequest.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/MasterDataDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/StreetNameIsRequiredRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ChangeMasterData/ChangeMasterDataResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/DocumentType.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeMasterDataTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Scenarios.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointMock.cs
Due: unit

Add test to ensure street name can be null, which means the value should remain unchanged
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
Due: unit

Move SubMessageHub and BundleCreator to separate assembly
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Functions/BundleDequeuedQueueSubscriber.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/ActorMessages/MessageHubDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/BundleCreator.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/BundleHandler.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/BundleRequest.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/ConfirmMessageBundleHandler.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/ConfirmMessageSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/IBundleCreator.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/IBundleRequest.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/RejectMessageBundleHandler.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/RejectMessageSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Energinet.DataHub.MeteringPoints.Messaging.csproj
  source/Energinet.DataHub.MeteringPoints.Messaging/ILocalMessageHubClient.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/ILocalMessageHubDataAvailableClient.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/LocalMessageHubClient.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/LocalMessageHubDataAvailableClient.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/MessageHubMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/MeteringPointIntegrationEventHandler.cs
  source/Energinet.DataHub.MeteringPoints.Tests/AzureFunctionHostConfigurationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/BundleCreatorTests.cs
  source/Energinet.DataHub.MeteringPoints.sln
Due: unit, integration

Update MessageHub client
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/Mocks/DataBundleResponseSenderMock.cs
Due: unit, integration

Move SubMessageHub and BundleCreator to separate assembly
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202110121530 Add columns to MessageHubMessages table.sql
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Functions/RequestBundleQueueSubscriber.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/LocalMessageHubTests.cs
Due: unit, integration

Commit transactions with UnitOfWork in LocalMessageHub entry points
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Functions/BundleDequeuedQueueSubscriber.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Functions/RequestBundleQueueSubscriber.cs
Due: none

Move dependencies to individual projects
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
Due: integration

Move SubMessageHub and BundleCreator to separate assembly
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MessageHub/Bundling/IDocumentSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
Due: none

Move SubMessageHub and BundleCreator to separate assembly
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreatedIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreatedOutBoundMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/OnConsumptionMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/Bundling/BundleCreator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/Bundling/BundleHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/Bundling/BundleRequest.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/Bundling/ConfirmMessageBundleHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/Bundling/ConfirmMessageSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/Bundling/IBundleCreator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/Bundling/IBundleRequest.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/Bundling/IDocumentSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/Bundling/RejectMessageSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/ILocalMessageHubClient.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/ILocalMessageHubDataAvailableClient.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/INotificationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/LocalMessageHubClient.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/LocalMessageHubDataAvailableClient.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/MessageHubMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/MessageHubMessageFactory.cs
Due: none

Raise integration event when message is dequeued
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions/SimpleInjectorExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MessageDequeued/MeteringPointDequeuedTopic.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MessageDequeued/MeteringPointMessageDequeued.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MessageDequeued/MeteringPointMessageDequeuedIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MessageDequeued/MeteringPointMessageDequeuedOutBoundMapper.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/LocalMessageHubTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/Mocks/MeteringPointIntegrationEventHandlerMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/Mocks/PostOfficeMessageMetadataRepositoryMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/Mocks/StorageHandlerMock.cs
Due: unit

Add license to csproj
  source/Energinet.DataHub.MeteringPoints.Messaging/Energinet.DataHub.MeteringPoints.Messaging.csproj
Due: none

Downgrade MessageHub client version
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/IntegrationEventDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Messaging/Energinet.DataHub.MeteringPoints.Messaging.csproj
  source/Energinet.DataHub.MeteringPoints.Messaging/LocalMessageHubClient.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/Mocks/DataBundleResponseSenderMock.cs
Due: unit, integration

update
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
Due: integration

add connection string for integrationevents queue
  build/infrastructure/main/azfun-ingestion.tf
  build/infrastructure/main/azfun-localmessagehub.tf
  build/infrastructure/main/azfun-outbox.tf
  build/infrastructure/main/azfun-processing.tf
  build/infrastructure/main/kv-sharedresources.tf
Due: none

add connection string for integrationevents queue (#382)
  build/infrastructure/main/azfun-ingestion.tf
  build/infrastructure/main/azfun-localmessagehub.tf
  build/infrastructure/main/azfun-outbox.tf
  build/infrastructure/main/azfun-processing.tf
  build/infrastructure/main/kv-sharedresources.tf
Due: none

rergister production topic, was removed with last main merge
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
Due: integration

reintroduce production topic
  build/infrastructure/main/azfun-outbox.tf
Due: none

rename keyvault secret
  build/infrastructure/main/azfun-localmessagehub.tf
  build/infrastructure/main/azfun-outbox.tf
  build/infrastructure/main/kv-sharedresources.tf
Due: none

Add logic to change street name
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Events/MasterDataChanged.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MasterDataChangeException.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeMasterData/MasterDataChangedIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeMasterData/OnMasterDataChanged.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeMasterDataTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
Due: unit

Add logic to change post code
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMasterDataRequest.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Events/MasterDataChanged.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/MasterDataDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/PostCodeIsRequiredRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeMasterData/MasterDataChangedIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeMasterData/OnMasterDataChanged.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeMasterDataTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
Due: unit

Add trait
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/MasterDataDocumentReceiveTests.cs
Due: none

Extern code coverage to include integration tests
  .github/workflows/codecov-ci.yml
Due: none

Add logic to change city
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMasterDataRequest.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Events/MasterDataChanged.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/MasterDataDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/CityIsRequiredRule.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeMasterDataTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
Due: unit

fix comments
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/ProductionMeteringPointCreatedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Startup.cs
Due: integration

rename dbhelper
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/OnConsumptionMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Production/OnProductionMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/DbGridAreaHelper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: integration

Create event dispatcher for MeteringPointMessageDequeuedIntegrationEvent
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MeteringPointMessageDequeuedIntegrationEventDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Helpers/OutboxTypeFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MessageDequeued/MeteringPointMessageDequeuedTopic.cs
Due: integration

Set dotnet version in terraform to v5 for app service
  build/infrastructure/main/app-webapi.tf
Due: none

fix register
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Fix connection string in webapi
  build/infrastructure/main/app-webapi.tf
Due: none

Update terraform version for azurerm
  build/infrastructure/main/providers.tf
Due: none

Add logic for changing remaining address properties
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMasterDataRequest.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Addresses/Address.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Events/MasterDataChanged.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/MasterDataDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/InvalidAddressException.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeMasterData/MasterDataChangedIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeMasterData/OnMasterDataChanged.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeMasterDataTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
Due: unit

App service in terraform
  build/infrastructure/main/app-webapi.tf
Due: none

register in webapi startup
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Startup.cs
Due: none
