Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

remove cleanup action
  .github/workflows/cleanup-actions.yml
Due: none

Clean up after package upgrade
  source/Energinet.DataHub.MeteringPoints.Application/Integrations/ChargeLinks/Create/CreateDefaultChargeLinksSucceededHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Integrations/ChargeLinks/Messages/CreateDefaultChargeLinksMessages.cs
  source/Energinet.DataHub.MeteringPoints.Application/Integrations/ChargeLinks/Messages/RequestDefaultChargeLinksMessages.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/RequestDefaultChargeLinksMessagesDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Contracts/Contract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Mappers/CreateDefaultChargeLinksMessagesMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/ChargeLinks/Messages/CreateDefaultChargeLinksMessagesHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Helpers/OutboxTypeFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/CreateDefaultChargeLinksMessages/CreateDefaultChargeLinksMessagesOutboundMapper.cs
Due: unit, integration

add CODEOWNERS change
  .github/CODEOWNERS
Due: none

update domain model with energy suppliers
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SetEnergySupplierInfoHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Extensions/InstantExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/EnergySuppliers.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/EnergySuppliers/EnergySuppliersTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/EnergySuppliers/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
Due: unit

minor infrastructure changes
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/localhost.tfvars.sample
  build/infrastructure/main/locals.tf
  build/infrastructure/main/outputs.tf
  build/infrastructure/main/sqldb-this.tf
  build/infrastructure/main/variables.tf
Due: none

remove duplicate key
  build/infrastructure/main/kv-shared-resources.tf
Due: none

Change to correct error code
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeterNumberMandatoryErrorConverter.cs
Due: none

Add rules for meter number requirements
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataRequest.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MasterDataDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeterId.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/MeterIdRequirementRule.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
Due: unit

fix publish-release-action to be compatible with 1.13.0
  .github/actions/publish-release-contents/action.yml
Due: none

Rename method
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeterId.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
Due: unit

send rsm22 via internal command
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SendAccountingPointCharacteristicsMessage.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SendAccountingPointCharacteristicsMessageHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/EDI/IBusinessDocumentFactory.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Contracts/Contract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/BusinessDocumentFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ConnectMeteringPoint/ConnectMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/Connect/SendAccountingPointCharacteristicsMessageInbound.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/Connect/SendAccountingPointCharacteristicsMessageOutbound.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

handle multiple recipients for rsm 22
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SendAccountingPointCharacteristicsMessageHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/EDI/IBusinessDocumentFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/BusinessDocumentFactory.cs
Due: unit

Add logic to change meter
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Events/MeterIdChanged.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
Due: unit

Move up logic
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
Due: unit

Update Connected event
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MeteringPointConnectedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Connect/MeteringPointConnectedIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Connect/MeteringPointConnectedIntegrationEvent.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Connect/MeteringPointConnectedMapper.cs
Due: integration

What: Created integration test base structure
  .editorconfig
  .gitignore
  source/Energinet.DataHub.MeteringPoints.sln
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/IngestionFunctionAppCollectionFixture.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/IngestionFunctionAppFixture.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointHttpTriggerTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/MeteringPoints.EntryPoints.IntegrationTests.csproj
  source/MeteringPoints.EntryPoints.IntegrationTests/functionapphost.settings.json
  source/MeteringPoints.EntryPoints.IntegrationTests/integrationtest.local.settings.json.sample
  stylecop.json
Due: none

What: Use TestCommon prerelease
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/IngestionFunctionAppFixture.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/MeteringPoints.EntryPoints.IntegrationTests.csproj
Due: none

Extract metering method and meter to separate object
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringDetails/MeteringConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringDetailsTests.cs
Due: unit

Add test cases for virtual and calculated
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringDetailsTests.cs
Due: unit

Add logic to create metering details
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringDetails/MeteringConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringDetailsTests.cs
Due: unit

Add exception handling
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringDetails/InvalidMeteringConfigurationException.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringDetails/MeteringConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringDetailsTests.cs
Due: unit

Remove use of nullable
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringDetails/MeteringConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringDetailsTests.cs
Due: unit

Update
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Connect/OnMeteringPointConnected.cs
Due: none

What: Add test file and get green test
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/TestFileLoader.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointHttpTriggerTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/MeteringPoints.EntryPoints.IntegrationTests.csproj
  source/MeteringPoints.EntryPoints.IntegrationTests/TestFiles/Cim/CreateMeteringPoint.xml
Due: none

Use metering configuration object
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringDetails/MeteringConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Events/MeterIdChanged.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MasterDataDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
Due: unit

What: Use prerelease where we can control which functions we start
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/IngestionFunctionAppFixture.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/MeteringPoints.EntryPoints.IntegrationTests.csproj
Due: none

What: Test use of process variables
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/IngestionFunctionAppFixture.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/MeteringPoints.EntryPoints.IntegrationTests.csproj
Due: none

What: Use existing TestLogger instance
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/IngestionFunctionAppFixture.cs
Due: none

What: Cleanup
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/IngestionFunctionAppFixture.cs
Due: none

What: Disable test parallelization to avoid function app conflict when having multiple fixtures
  source/MeteringPoints.EntryPoints.IntegrationTests/DisableTestParallelization.cs
Due: none

What: Update TestCommon prerelease and add multi function test
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppCollectionFixture.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/MeteringPoints.EntryPoints.IntegrationTests.csproj
Due: none

What: Start two function apps
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
Due: none

queue name updates
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
Due: integration

Move logic to facade
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ChangeMasterDataFacade.cs
Due: unit

Move address validation to facade
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ChangeMasterDataFacade.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
Due: unit

Move change of metering configuration to facade
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ChangeMasterDataFacade.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
Due: unit

Refactor address tests
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
Due: unit

Refactor metering configuration tests
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
Due: unit

Remove proxy method
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ChangeMasterDataFacade.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
Due: unit

Path conditions:
  unit: any of: source/Energinet.DataHub.MeteringPoints.Application/, source/Energinet.DataHub.MeteringPoints.Domain/, source/Energinet.DataHub.MeteringPoints.Tests/
  integration: any of: source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/, source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/
