Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

add empty repository
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/GridAreas/MeteringPointRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/GridAreas/GridAreaCodeFormatRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/GridAreas/CreateGridAreaTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

use grid area code
  source/Energinet.DataHub.MeteringPoints.Application/GridAreas/Create/CreateGridAreaHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridArea.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridAreaDetails.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/GridAreas/CreateGridAreaTests.cs
Due: unit

Price Area Code
  source/Energinet.DataHub.MeteringPoints.Application/GridAreas/Create/Validation/Errors/PriceAreaCodeRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Application/GridAreas/Create/Validation/Rules/PriceAreaCodeRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridArea.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/PriceAreaCode.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/GridAreas/PriceAreaCodeRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/CreateGridAreaXmlMappingConfiguration.cs
Due: unit

add null result handler
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridArea.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridAreaCode.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridAreaName.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/Rules/GridAreaCodeFormatRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/GridAreas/MeteringPointRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/GridAreas/CreateGridAreaNullResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit

Added Value Objects to GridAreaDetail
  source/Energinet.DataHub.MeteringPoints.Application/GridAreas/Create/CreateGridAreaHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridArea.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridAreaDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridAreaName.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/PriceAreaCode.cs
Due: unit

Added Value Objects to GridAreaDetail
  source/Energinet.DataHub.MeteringPoints.Application/GridAreas/Create/CreateGridAreaHandler.cs
Due: unit

Init
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/IIntegrationMetaDataContext.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/IntegrationEventEnvelope.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/IntegrationMetaDataContext.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/OutboxMessageDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/OutboxOrchestrator.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/CreateMeteringPointDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/IntegrationEventDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MeteringPointConnectedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/ITopicSender.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/TopicSender.cs
Due: integration

Rename repo
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/GridAreas/GridAreaRepository.cs
Due: none

Remove unused using
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/GridAreas/GridAreaRepository.cs
Due: none

add tests
  source/Energinet.DataHub.MeteringPoints.Application/GridAreas/Create/CreateGridAreaRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridArea.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridAreaCode.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/Rules/GridAreaCodeFormatRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/GridAreas/CreateGridAreaNullResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/GridAreas/CreateGridAreaTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit

update details and tests
  source/Energinet.DataHub.MeteringPoints.Application/GridAreas/Create/CreateGridAreaHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridArea.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridAreaDetails.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/GridAreas/CreateGridAreaTests.cs
Due: unit

Persistance of GridAreas
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202109230930 Create Grid Area tables.sql
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridArea.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridAreaLink.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridAreaLinkId.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/GridAreas/GridAreaEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/GridAreas/GridAreaLinkEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/GridAreas/GridAreaRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPointContext.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

add gln number
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GlnNumber.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridArea.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/Rules/GlnNumberFormatRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/Rules/GlnNumberFormatRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/GridAreas/GlnNumberFormatRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/GridAreas/CreateGridAreaTests.cs
Due: unit

Refactor: Encapsulate logic for links in grid area entity
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridArea.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/GridAreas/GridAreaRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPointContext.cs
Due: unit

remove operator
  source/Energinet.DataHub.MeteringPoints.Application/GridAreas/Create/CreateGridArea.cs
  source/Energinet.DataHub.MeteringPoints.Application/GridAreas/Create/CreateGridAreaHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GlnNumber.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridArea.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridAreaDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/Rules/GlnNumberFormatRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/Rules/GlnNumberFormatRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/GridAreas/GlnNumberFormatRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/CreateGridAreaXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/GridAreas/CreateGridAreaTests.cs
Due: unit

add domain tests
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/GridAreas/CreateGridAreaTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/GridAreas/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/GridAreas/SampleData.cs
Due: unit

remove operator from script
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202109230930 Create Grid Area tables.sql
Due: integration

Removed operator name and id from entity configuration
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/GridAreas/GridAreaEntityConfiguration.cs
Due: none

basic implementation done
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/IIntegrationMetaDataContext.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/IntegrationEventEnvelope.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/IntegrationMetaDataContext.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/OutboxMessageDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/OutboxOrchestrator.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/CreateMeteringPointDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/IntegrationEventDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MeteringPointConnectedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
Due: integration

make null result handler actual null implementatio
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/GridAreas/CreateGridAreaNullResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Add rule for meter reading occurrence
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/CreationRules.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/CreationRules.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Rules/InvalidMeterReadingOccurrenceRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Rules/MeterReadingOccurrenceRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/InvalidMeterReadingOccurrenceRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
Due: unit

Remove unused using
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoint.cs
Due: unit

Add WebAPI
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Controllers/GridAreaController.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Properties/launchSettings.json
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Startup.cs
  source/Energinet.DataHub.MeteringPoints.sln
Due: none

check for grid area in handler
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
Due: unit

Add appsettings
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/appsettings.Development.json
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/appsettings.json
Due: none

add stuff to composition root
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Startup.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedNotificationHandler.cs
Due: none

trying to add appconfig
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Startup.cs
Due: none

Encapsulate power limit in object and adjust input validation rule
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/PowerLimitRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/InvalidPowerLimitException.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/PowerLimit.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/AmperePowerLimitRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/InvalidAmperePowerLimitRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/InvalidKwhPowerLimitRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/KwhPowerLimitRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/AmperePowerLimitErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/PowerLimitTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/PowerLimitRuleTests.cs
Due: unit

Remove ContractedConnectionCapacity and RatedCurrent from command, since these correspond to the MaximumPower and MaximumCurrent properties.
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Contracts/Contract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Mappers/CreateMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/CreateMeteringPointXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/Mappers/CreateMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/PowerLimitRuleTests.cs
Due: unit

Fix Composition Root
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Startup.cs
Due: none

Add content to result of create action
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Controllers/GridAreaController.cs
Due: none

Add sample appsettings.Development.json
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/appsettings.Development.json
Due: none

updates
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/OutboxMessageDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/OutboxOrchestrator.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/OutboxWatcher.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/IntegrationEvents/MeteringPointCreatedServicebusOptions.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/IntegrationEvents/MeteringPointCreatedTests.cs
Due: integration

.
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/IntegrationEvents/MeteringPointCreatedServicebusOptions.cs
Due: none

Working Test
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/IOutboxManager.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/IntegrationEvents/MeteringPointCreatedTests.cs
Due: none

add grid area rule and test data
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Helpers/DefaultUpgrader.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202109232130 Create Grid Area test data.sql
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/MeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/GridAreaMustExistRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/GridAreaMustExistRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/GridAreas/GridAreaRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/GridAreaMustExistRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/GridAreas/CreateGridAreaTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/DatabaseFixture.cs
Due: unit, integration

add clean up test script
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202109232129 Clean database.sql
Due: integration

Change domain models to use PowerLimit value object
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/MeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
Due: unit

Encapsulate location description
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/LocationDescriptionMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/MeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/InvalidLocationDescriptionException.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/LocationDescription.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/InvalidLocationDescriptionRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/LocationDescriptionLengthRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/LocationDescriptionMaximumLengthValidErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/LocationDescriptionTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/LocalDescriptionRuleTests.cs
Due: unit

add seed data
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202109232130 Create Grid Area seed data.sql
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/GridAreas/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
Due: integration
