Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Topic dispatchers implemented
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MeteringPointDisconnectedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MeteringPointReconnectedDispatcher.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/MeteringPoints.EntryPoints.IntegrationTests.csproj
  source/MeteringPoints.EntryPoints.IntegrationTests/TestFiles/Cim/DisconnectMeteringPoint.xml
Due: integration

Add code and message to validation error
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/GridAreaCodeUniqueRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Errors/UnitTypeIsNotValidForMeteringPointType.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/ValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/GridAreaCodeUniqueRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ConsumptionMeteringPointValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
Due: unit

License update
  source/Energinet.DataHub.MeteringPoints.Application/Disconnect/DisconnectReconnectMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Disconnect/DisconnectReconnectMeteringPointRequest.cs
  source/Energinet.DataHub.MeteringPoints.Application/Disconnect/DisconnectReconnectMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Disconnect/DisconnectReconnectSettings.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Events/MeteringPointDisconnected.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Events/MeteringPointReconnected.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Exceptions/MeteringPointDisconnectException.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Exceptions/MeteringPointReconnectException.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Disconnect/ConnectionStateMustBeConnectedOrDisconnectedError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Disconnect/ConnectionStateMustbeConnectedOrDisconnectedRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Disconnect/PhysicalStateMustBeConnectedError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Disconnect/PhysicalStateMustBeConnectedRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Disconnect/PhysicalStateMustBeDisconnectedError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Disconnect/PhysicalStateMustBeDisconnectedRule.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MeteringPointDisconnectedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MeteringPointReconnectedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/DisconnectMeteringPoint/DisconnectReconnectMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Disconnect/ConnectionStateMustBeConnectedOrDisconnectedErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Disconnect/PhysicalStateMustBeConnectedErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Disconnect/PhysicalStateMustBeDisconnectedErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Disconnect/MeteringPointDisconnectedIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Disconnect/MeteringPointDisconnectedMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Disconnect/MeteringPointDisconnectedTopic.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Disconnect/OnMeteringPointDisconnected.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Reconnect/MeteringPointReconnectedIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Reconnect/MeteringPointReconnectedTopic.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Reconnect/OnMeteringPointReconnected.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/DisconnectMeteringPoints/DisconnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ReconnecMeteringPoints/ReconnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/DisconnectTests.cs
Due: unit, integration

Use code and message from validation error if present
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/UnitTypeIsNotValidForMeteringPointTypeConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/ErrorMessageFactory.cs
Due: none

More license update
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/ReconnectTests.cs
Due: unit

Specified Id in query
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointByIdQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointDtoQueryHelper.cs
Due: none

update roles
  source/Energinet.DataHub.MeteringPoints.Domain/Actors/Role.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageService.cs
Due: unit

update sql query
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/MeteringPoints/Queries/MeteringPointByGsrnQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointDtoQueryHelper.cs
Due: none

Fixed license text
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointDtoQueryHelper.cs
Due: none

Error message description
  source/Energinet.DataHub.MeteringPoints.Application/Disconnect/DisconnectReconnectMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Disconnect/ConnectionStateMustBeConnectedOrDisconnectedError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Disconnect/ConnectionStateMustbeConnectedOrDisconnectedRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Disconnect/PhysicalStateMustBeConnectedError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Disconnect/PhysicalStateMustBeConnectedRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Disconnect/PhysicalStateMustBeDisconnectedError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Disconnect/PhysicalStateMustBeDisconnectedRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Disconnect/ConnectionStateMustBeConnectedOrDisconnectedErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Disconnect/PhysicalStateMustBeConnectedErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Disconnect/PhysicalStateMustBeDisconnectedErrorConverter.cs
Due: unit

make subnet larger
  build/infrastructure/main/subnets.tf
Due: none

MeteringPointReconnectedIntegrationEvent outboundmapper
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Reconnect/MeteringPointReconnectedMapper.cs
Due: none

Add support for asserting both type and code
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ConsumptionMeteringPointValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
Due: unit

adjust subnets
  build/infrastructure/main/subnets.tf
Due: none

Added userId param to user provider query
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/UserProvider.cs
Due: none

Fixed Mp by Gsrn query
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/MeteringPoints/Queries/MeteringPointByGsrnQueryHandler.cs
Due: none

upgrade plan to standard
  build/infrastructure/main/plan-shared.tf
Due: none

Update entry point test
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
Due: none

fix actor messages
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageService.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Extensions/ActorExtensions.cs
Due: none

Add process type
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcessType.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Program.cs
Due: unit, integration

Terraform + processing program
  build/infrastructure/main/func-outbox.tf
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
Due: integration

fix merge errors
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageService.cs
Due: none

Close down request is accepted
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/RequestCloseDown.cs
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/RequestCloseDownHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/RequestCloseDownValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/EDI/IActorMessageService.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Acknowledgements/ConfirmMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageService.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CloseDown/CloseDownResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/DocumentType.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDownMeteringPoint/RequestCloseDownTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

Reject if gsrn number is missing
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/RequestCloseDownValidator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Acknowledgements/RejectMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageService.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/DocumentType.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDownMeteringPoint/RequestCloseDownTests.cs
Due: unit

re-add elements in ci pipeline
  .github/workflows/ci.yml
  .github/workflows/sonarcloud.yml
Due: none

update tf used by sql database
  build/infrastructure/main/mssqldb-this.tf
Due: none

Accept close down request Reject close down if date is invalid Reject close down if gsrn is missing Reject close down if transaction id is missing Reject if metering point does not exist
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/RequestCloseDown.cs
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/RequestCloseDownHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/RequestCloseDownValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/ConnectMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Disconnect/DisconnectReconnectMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/ValidationRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/UpdateMasterData/UpdateMasterDataRequestValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/EffectiveDateValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/TransactionIdValidator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageService.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDownMeteringPoint/RequestCloseDownTests.cs
Due: unit

Rename GSRN code to GSRN number
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Disconnect/ConnectionStateMustBeConnectedOrDisconnectedError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Disconnect/ConnectionStateMustBeConnectedOrDisconnectedErrorConverter.cs
Due: unit

Fix test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDownMeteringPoint/RequestCloseDownTests.cs
Due: none

Use .EffectiveDate instead of .OccurredOn
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedNotificationHandler.cs
Due: none

New business process is created when request is received
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/RequestCloseDownHandler.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202202031200 Create business processes table.sql
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/BusinessProcess.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/BusinessProcessId.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/IBusinessProcessRepository.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Energinet.DataHub.MeteringPoints.Domain.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/BusinessProcesses/BusinessProcessConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/BusinessProcesses/BusinessProcessRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPointContext.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/AssertBusinessProcess.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDownMeteringPoint/RequestCloseDownTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

Assert transaction id
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/AssertBusinessProcess.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDownMeteringPoint/RequestCloseDownTests.cs
Due: none

Correct connectionstate rules to target correct prop
  source/Energinet.DataHub.MeteringPoints.Application/Disconnect/DisconnectReconnectMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Disconnect/ConnectionStateMustbeConnectedOrDisconnectedRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Disconnect/PhysicalStateMustBeConnectedOrDisconnectedRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Disconnect/PhysicalStateMustBeConnectedorDisconnectedError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Disconnect/PhysicalStateMustBeConnectedErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/DisconnectTests.cs
Due: unit

Assert business process type
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/RequestCloseDownHandler.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202202031330 Create business processes table.sql
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/BusinessProcess.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/BusinessProcesses/BusinessProcessConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/AssertBusinessProcess.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDownMeteringPoint/RequestCloseDownTests.cs
Due: unit, integration

Renaming and cleaning
  source/Energinet.DataHub.MeteringPoints.Application/Disconnect/DisconnectReconnectMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Disconnect/PhysicalStateMustBeConnectedOrDisconnectedError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Disconnect/PhysicalStateMustBeConnectedOrDisconnectedRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Disconnect/PhysicalStateMustBeDisconnectedError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/Disconnect/PhysicalStateMustBeDisconnectedRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Disconnect/PhysicalStateMustBeConnectedOrDisconnectedErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Disconnect/PhysicalStateMustBeDisconnectedErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/DisconnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/ReconnectTests.cs
Due: unit

Remove setup step
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDownMeteringPoint/RequestCloseDownTests.cs
Due: none

Consolidate in to one folder and renaming
  source/Energinet.DataHub.MeteringPoints.Application/ChangeConnectionStatus/DisconnectReconnectMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeConnectionStatus/DisconnectReconnectMeteringPointRequest.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeConnectionStatus/DisconnectReconnectMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeConnectionStatus/DisconnectReconnectSettings.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MeteringPointDisconnectedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MeteringPointReconnectedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ChangeConnectionStatus/DisconnectReconnectMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Helpers/OutboxTypeFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeConnectionStatus/Disconnect/MeteringPointDisconnectedIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeConnectionStatus/Disconnect/MeteringPointDisconnectedIntegrationEvent.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeConnectionStatus/Disconnect/MeteringPointDisconnectedMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeConnectionStatus/Disconnect/MeteringPointDisconnectedTopic.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeConnectionStatus/Disconnect/OnMeteringPointDisconnected.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeConnectionStatus/Reconnect/MeteringPointReconnectedIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeConnectionStatus/Reconnect/MeteringPointReconnectedIntegrationEvent.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeConnectionStatus/Reconnect/MeteringPointReconnectedMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeConnectionStatus/Reconnect/MeteringPointReconnectedTopic.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeConnectionStatus/Reconnect/OnMeteringPointReconnected.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/DisconnectMeteringPoints/DisconnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ReconnecMeteringPoints/ReconnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

add process overview to client
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/ProcessStatus.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/IMeteringPointClient.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/ErrorDto.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/ProcessDetailDto.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/ProcessDto.cs
  source/Energinet.DataHub.MeteringPoints.Client/MeteringPointClient.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/Controllers/MeteringPointController.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/MeteringPoints/Queries/MeteringPointProcessesByGsrnQuery.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebApi/MeteringPoints/Queries/MeteringPointProcessesByGsrnQueryHandler.cs
Due: none

Process status is changed when request is accepted
  source/Energinet.DataHub.MeteringPoints.Application/CloseDown/RequestCloseDownHandler.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202202031350 Create business processes table.sql
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/BusinessProcess.cs
  source/Energinet.DataHub.MeteringPoints.Domain/BusinessProcesses/RequestWasAccepted.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/BusinessProcesses/BusinessProcessConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/AssertBusinessProcess.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CloseDownMeteringPoint/RequestCloseDownTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/BusinessProcesses/BusinessProcessTests.cs
Due: unit, integration

Refactoring
  source/Energinet.DataHub.MeteringPoints.Application/ChangeConnectionStatus/DisconnectReconnectMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/ChangeConnectionStatus/ConnectionStateMustBeConnectedOrDisconnectedError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/ChangeConnectionStatus/ConnectionStateMustBeConnectedRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/ChangeConnectionStatus/ConnectionStateMustBeDisconnectedRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/ChangeConnectionStatus/PhysicalStateMustBeConnectedOrDisconnectedError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/ChangeConnectionStatus/PhysicalStateMustBeConnectedOrDisconnectedRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Disconnect/ConnectionStateMustBeConnectedOrDisconnectedErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Disconnect/PhysicalStateMustBeConnectedOrDisconnectedErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/DisconnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/ReconnectTests.cs
Due: unit

Path conditions:
  unit: any of: source/Energinet.DataHub.MeteringPoints.Application/, source/Energinet.DataHub.MeteringPoints.Domain/, source/Energinet.DataHub.MeteringPoints.Tests/
  integration: any of: source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/, source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/
