Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

switched up test names
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
Due: none

remove redundant
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/ValidationRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
Due: unit

Add missing connection string
  build/infrastructure/main/azfun-localmessagehub.tf
Due: none

Reintroduce invalid settlement method on application level for consumption mps instead of all market documents
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
Due: unit

Add missing connection string (#403)
  build/infrastructure/main/azfun-localmessagehub.tf
Due: none

Add message hub container name to app settings
  build/infrastructure/main/azfun-localmessagehub.tf
  build/infrastructure/main/azfun-outbox.tf
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/local.settings.sample.json
Due: integration

First implementation of Charges Client Package
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Create/CreateDefaultChargeLinksDto.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Create/CreateDefaultChargeLinksFailed.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Create/CreateDefaultChargeLinksFailedHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Create/CreateDefaultChargeLinksHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Create/CreateDefaultChargeLinksNotificationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Create/CreateDefaultChargeLinksSucceeded.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Create/CreateDefaultChargeLinksSucceededHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/DefaultChargeLinkRequestClientMock.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/IDefaultChargeLinkRequestClientMock.cs
  source/Energinet.DataHub.MeteringPoints.Application/Energinet.DataHub.MeteringPoints.Application.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/ChargesResponseReceiver.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/EventMetadata.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Requests/CreateDefaultChargeLinksOutBoundMapper.cs
Due: unit, integration

Add rules for production MP
  source/Energinet.DataHub.MeteringPoints.Application/Create/Production/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/ValidationRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Rules/CapacityRequirementRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/Rules/AssetTypeRequirementRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/AssetTypeIsRequiredRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ProductionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Production/CreationTests.cs
Due: unit

Add rule for powerplant requirement
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/Rules/PowerPlantRequirementRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/Rules/PowerplantRequirementRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/Production/PowerplantRequirementRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Production/CreationTests.cs
Due: unit

Send all outgoing notifications to MessageHub trough Outbox
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/ActorMessages/MessageHubDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/OutboxOrchestrator.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MeteringPointConnectedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/MessageHub/DataAvailableNotificationDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/MessageHub/DataBundleResponseDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Helpers/OutboxTypeFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/DataAvailableNotification.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/DataBundleResponse.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/IOutboxDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/OutboxMessageCategory.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/DataAvailableNotificationOutboxDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/DataBundleResponseOutboxDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Energinet.DataHub.MeteringPoints.Messaging.csproj
  source/Energinet.DataHub.MeteringPoints.Messaging/LocalMessageHubClient.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/LocalMessageHubDataAvailableClient.cs
  source/Energinet.DataHub.MeteringPoints.Tests/AzureFunctionHostConfigurationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/LocalMessageHubTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/Mocks/DataAvailableNotificationOutboxDispatcherMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/Mocks/DataBundleResponseOutboxDispatcherMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/Mocks/MeteringPointMessageDequeuedIntegrationEventOutboxDispatcherMock.cs
Due: unit, integration

begin doing the work around internal command
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Create/CreateDefaultChargeLinks.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Create/CreateDefaultChargeLinksNotification.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Create/CreateDefaultChargeLinksNotificationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Create/CreateDefaultChargeLinksSucceeded.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Create/CreateDefaultChargeLinksSucceededHandler.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/ChargesResponseReceiver.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Contracts/Contract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Notifications/MeteringPointMessageDequeued/MeteteringPointMessageDequeuedInboundMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/CreateDefaultChargeLinks/CreateDefaultChargeLinksOutBoundMapper.cs
Due: unit, integration

Add MessageHub to wordlist
  .github/utilities/md-spellcheck/wordlist.txt
Due: none

Add message hub container name to app settings (#404)
  build/infrastructure/main/azfun-localmessagehub.tf
  build/infrastructure/main/azfun-outbox.tf
  build/infrastructure/main/kv-sharedresources.tf
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/local.settings.sample.json
Due: integration

Inboundmapper processing added
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Mappers/CreateDefaultChargeLinksMapper.cs
Due: none

Internal command handling
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/ChargeLinksRequestMetadata.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Create/CreateDefaultChargeLinksSucceededHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Messages/CreateDefaultChargeLinksMessages.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Messages/CreateDefaultChargeLinksMessagesFailed.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Messages/CreateDefaultChargeLinksMessagesHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Messages/CreateDefaultChargeLinksMessagesSucceeded.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Contracts/Contract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Mappers/CreateDefaultChargeLinksMessagesMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Notifications/MeteringPointMessageDequeued/MeteteringPointMessageDequeuedInboundMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/CreateDefaultChargeLinks/CreateDefaultChargeLinksOutBoundMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/CreateDefaultChargeLinksMessages/CreateDefaultChargeLinksMessagesOutboundMapper.cs
Due: unit

BOM
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Mappers/CreateDefaultChargeLinksMessagesMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/CreateDefaultChargeLinksMessages/CreateDefaultChargeLinksMessagesOutboundMapper.cs
Due: none

Remove Reduntant
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Requests/CreateDefaultChargeLinksOutBoundMapper.cs
Due: none

Correct connection string set
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/ChargesResponseReceiver.cs
Due: integration

Remove unused record
  source/Energinet.DataHub.MeteringPoints.Application/Create/Address.cs
Due: unit

Remove unused usings
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/ValidationRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/NetSettlementGroupRule.cs
Due: unit

Fix typo
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/InvalidCapacityException.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/StreetNameIsRequiredRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/StreetNameIsRequiredRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/CapacityTests.cs
Due: unit

Add exchange metering point topic to terraform
  build/infrastructure/main/azfun-outbox.tf
Due: none

Add factory method for exchange in testbase
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
Due: unit

Add interface to make CreateMeteringPointResultHandler generic
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/CreateConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/ICreateMeteringPointRequest.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Production/CreateProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointResultHandler.cs
Due: unit

Remove unused using
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/InvalidConnectionTypeRuleErrorConverter.cs
Due: none

Use hashset
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/NetSettlementGroupRule.cs
Due: unit

Remove unused usings
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/OnConsumptionMeteringPointCreated.cs
Due: none

Remove not used environment variable
  source/Energinet.DataHub.MeteringPoints.Tests/AzureFunctionHostConfigurationTests.cs
Due: unit

Fix typo
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Capacity.cs
  source/Energinet.DataHub.MeteringPoints.Tests/AzureFunctionHostConfigurationTests.cs
Due: unit

Change to and from grid column data types for exchange
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202110211630 Change FromGrid and ToGrid datatypes.sql
Due: integration

Add Exchange to CommandFactory
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
Due: unit

Correct type in command factory
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
Due: unit

Add registration
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
Due: integration

Fix settlement being required for other types than consumption
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/MasterDataDocumentReceiveTests.cs
Due: unit

Send all outgoing notifications to MessageHub trough Outbox (#406)
  .github/utilities/md-spellcheck/wordlist.txt
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/ActorMessages/MessageHubDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/OutboxOrchestrator.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MeteringPointConnectedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/MessageHub/DataAvailableNotificationDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/MessageHub/DataBundleResponseDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Helpers/OutboxTypeFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/DataAvailableNotification.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/DataBundleResponse.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/IOutboxDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/OutboxMessageCategory.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/DataAvailableNotificationOutboxDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/DataBundleResponseOutboxDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Energinet.DataHub.MeteringPoints.Messaging.csproj
  source/Energinet.DataHub.MeteringPoints.Messaging/LocalMessageHubClient.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/LocalMessageHubDataAvailableClient.cs
  source/Energinet.DataHub.MeteringPoints.Tests/AzureFunctionHostConfigurationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/LocalMessageHubTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/Mocks/DataAvailableNotificationOutboxDispatcherMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/Mocks/DataBundleResponseOutboxDispatcherMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/Mocks/MeteringPointMessageDequeuedIntegrationEventOutboxDispatcherMock.cs
Due: unit, integration

Extract creation of MP types to factory methods
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
Due: unit

Add GsrnNumber to MessageHubEnvelope and MessageDequeuedEvent
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202110251200 Add GsrnNumber column to MessageHubMessages table.sql
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MessageHub/MessageHubMessageEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ConnectMeteringPoint/ConnectMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/IMessageHubDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/MessageHubDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/MessageHubEnvelope.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MessageDequeued/MeteringPointMessageDequeued.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MessageDequeued/MeteringPointMessageDequeuedIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MessageDequeued/MeteringPointMessageDequeuedOutBoundMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/MessageHubMessage.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/TestBusinessRequestResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/ILocalMessageHubDataAvailableClient.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/LocalMessageHubDataAvailableClient.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/MessageHubMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/MeteringPointIntegrationEventHandler.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/BundleCreatorTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/LocalMessageHubTests.cs
Due: unit, integration
