Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Rename test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ParentChildTests.cs
Due: none

Remove unused imports
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ParentChildTests.cs
Due: none

Remove invalid fixture
  source/MeteringPoints.EntryPoints.IntegrationTests/TestFiles/Cim/CreateMeteringPoint.xml
Due: none

Add validation of parent gsrn number
  source/Energinet.DataHub.MeteringPoints.Application/Create/Validation/InvalidParentGsrnNumber.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ParentChild/InvalidParentGsrnNumberConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ParentChildTests.cs
Due: unit

updates roles
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Seed/202112141430 Actor seed data.sql
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Test/202112141430 Actor test data.sql
  source/Energinet.DataHub.MeteringPoints.Domain/Actors/Actor.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Actors/Role.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/ActorAccessor.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/Actors/ActorEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ChangeMasterData/ChangeMasterDataResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointResultHandler.cs
Due: unit, integration

remove actorid rules
  source/Energinet.DataHub.MeteringPoints.Domain/Actors/ActorId.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Actors/Rules/ActorIdFormatRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Actors/Rules/ActorIdFormatRuleError.cs
Due: unit

update reject message factory
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ChangeMasterData/ChangeMasterDataResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/IActorMessageFactory.cs
Due: none

Remove obsolete rule
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/PowerPlantIsRequiredForNetSettlementGroupRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/PowerPlantIsRequiredForNetSettlementGroupRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/PowerPlantIsRequiredForNetSettlementGroupErrorConverter.cs
Due: unit

Move rules for consumption metering points
  source/Energinet.DataHub.MeteringPoints.Application/Create/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/ConsumptionMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/Rules/AssetTypeRequirementRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/Rules/InvalidScheduledMeterReadingDateNetSettlementGroupRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/Rules/InvalidScheduledMeterReadingDateRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/Rules/InvalidSettlementMethodRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/Rules/ScheduledMeterReadingDateFormatRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/Rules/ScheduledMeterReadingDateNotAllowedRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/Rules/ScheduledMeterReadingDateRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/Rules/SettlementMethodMustBeFlexOrNonProfiledRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ScheduledMeterReadingDate.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/CityIsRequiredRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/Consumption/InvalidScheduledMeterReadingDateNetSettlementGroupRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/Consumption/InvalidScheduledMeterReadingDateRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/Consumption/InvalidSettlementMethodRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/Consumption/ScheduledMeterReadingDateNotAllowedRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/PostCodeIsRequiredRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/InvalidMeterReadingOccurrenceRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeterReadingOccurenceInvalidValueErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ConsumptionMeteringPointValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ScheduledMeterReadingDateTests.cs
Due: unit

Move general master data related rules
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/PowerLimitRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Energinet.DataHub.MeteringPoints.Domain.csproj
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/ConsumptionMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Exchange/ExchangeMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Production/ProductionMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/AmperePowerLimitRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/CapacityFormatRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/CapacityIsRequiredRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/InvalidAmperePowerLimitRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/InvalidCapacityFormatRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/InvalidKwhPowerLimitRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/InvalidMeterIdRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/KwhPowerLimitRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/MeterReadingOccurrenceRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/SpecialMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringDetails/MeterIdLengthRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Capacity.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/PowerLimit.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/MeterReadingOccurrenceRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/AmperePowerLimitErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/CapacityIsMandatoryErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/InvalidCapacityFormatRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/KilowattPowerLimitErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeterNumberMaximumLengthErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ConsumptionMeteringPointValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/CapacityTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeterIdTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/PowerLimitTests.cs
Due: unit

Move components
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/MasterDataDetails.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/MasterDataValueTransformer.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/ConnectionTypeRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/DisconnectionTypeRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/NetSettlementGroupRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Energinet.DataHub.MeteringPoints.Domain.csproj
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Components/ConnectionType.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Components/DisconnectionType.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Components/NetSettlementGroup.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/Rules/PowerPlantIsRequiredForNetSettlementGroupRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/Rules/PowerPlantIsRequiredForNetSettlementGroupRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Rules/ConnectionTypeIsRequiredRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Rules/ConnectionTypeRequirementRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Rules/MeteringMethodDoesNotMatchNetSettlementGroupRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Rules/MeteringMethodRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Special/Rules/MeteringMethodRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointByGsrnQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ChangeMasterDataTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Scenarios.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SampleData.cs
Due: unit

Move rule
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Production/ProductionMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Production/Rules/AssetTypeRequirementRule.cs
Due: unit

Remove obsolete objects
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPointException.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/Rules/PowerPlantRequirementRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/Rules/PowerplantRequirementRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Special/Rules/MeterReadingOccurrenceConditionalRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Special/Rules/MeteringMethodRule.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/ProductionMeteringPointCreatedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Production/CreationTests.cs
Due: unit, integration

Move to master data
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/Rules/AssetTypeRequirementRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/Rules/CapacityRequirementRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Production/Rules/AssetTypeRequirementRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/AssetTypeIsRequiredRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/CityIsRequiredRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/CityIsRequiredRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/ConnectionTypeDoesNotMatchNetSettlementGroupRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/ConnectionTypeIsNotAllowedRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/ConnectionTypeIsRequiredRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/ConnectionTypeRequirementRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/GeoInfoReferenceIsRequiredRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/GeoInfoReferenceRequirementRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/InvalidMeterReadingOccurrenceRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/MeteringMethodDoesNotMatchNetSettlementGroupRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/MeteringMethodRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/PostCodeIsRequiredRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Rules/PostCodeIsRequiredRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Rules/ConnectionTypeIsNotAllowedRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/AssetTypeIsRequiredRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ConnectionTypeDoesNotMatchNetSettlementGroupRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ConnectionTypeIsNotAllowedRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ConnectionTypeIsRequiredRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/CityIsRequiredRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/MarketMeteringPoints/MeteringMethodDoesNotMatchNetSettlementGroupRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/PostCodeIsRequiredRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/GeoInfoReferenceRequirementRuleErrorConveter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/InvalidMeterReadingOccurrenceRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
Due: unit

add UnitType enum
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/UnitType.cs
Due: none

change enum name
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/Unit.cs
Due: none

add enum ProductID
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/ProductID.cs
Due: none

change enum names
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/ProductType.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/UnitType.cs
Due: none

bump package version
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
Due: none

add properties to dto
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/MeteringPointCimDto.cs
Due: none

rename enums again and refactor query handler
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/ProductId.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/Unit.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/UnitType.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/MeteringPointCimDto.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointByGsrnQueryHandler.cs
Due: none

introduced party for edi actors
  source/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub/Energinet.DataHub.MeteringPoints.EntryPoints.LocalMessageHub.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/ActorAccessor.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ChangeMasterData/ChangeMasterDataResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/IActorMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Parties/Party.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Parties/PartyProvider.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Energinet.DataHub.MeteringPoints.Messaging.csproj
  source/MeteringPoints.EntryPoints.IntegrationTests/Extensions/FunctionAppHostManagerExtensions.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
Due: integration

Add test for metering point connected
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/AssertMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
Due: none

rename party to actor
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Actors/Actor.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Actors/ActorProvider.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ChangeMasterData/ChangeMasterDataResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/IActorMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: integration

fix smoke tests
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/MeteringPoints.EntryPoints.IntegrationTests.csproj
Due: none

Lki/528 add properties to api endpoint (#562)
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Energinet.DataHub.MeteringPoints.Client.Abstractions.csproj
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/ProductId.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Enums/Unit.cs
  source/Energinet.DataHub.MeteringPoints.Client.Abstractions/Models/MeteringPointCimDto.cs
  source/Energinet.DataHub.MeteringPoints.Client/Energinet.DataHub.MeteringPoints.Client.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointByGsrnQueryHandler.cs
Due: none

remove currentrole from ef config
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/Actors/ActorEntityConfiguration.cs
Due: none

Rename request object for connect metering point
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/ConnectMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/ConnectMeteringPointRequest.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/ConnectMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Authorization/AuthorizationRegistrationExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/ConnectMeteringPointXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/ConnectMeteringPointRulesTest.cs
Due: unit, integration

Refactor actor message handling
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Acknowledgements/ConfirmMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Acknowledgements/RejectMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ConnectMeteringPoint/ConnectMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/IActorMessageFactory.cs
Due: none

Ensure production and consumption metering points cannot be connected with an energy supplier assigned
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
Due: none

Fix merge conflict
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/ParentChildTests.cs
Due: unit

Ensure metering point exists
  source/Energinet.DataHub.MeteringPoints.Application/Connect/ConnectMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
Due: unit

Init commit
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Contracts/IntegrationEventContract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedEventMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedEventMessageMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedIntegrationEventExtension.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedNotificationHandler.cs
Due: none

Refactor test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
Due: none

Add test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Authenticated user must be the owner of the metering point
  source/Energinet.DataHub.MeteringPoints.Application/Connect/Authorizer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Authorization/AuthorizationRegistrationExtensions.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit
