Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Refactor method
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
Due: unit

Add configuration settings object for change master data
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataSettings.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

Define default values
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Policies/EffectiveDatePolicy.cs
Due: unit

Change namespace
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMasterDataSettings.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

Add traits
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/AddressChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/Policies/EffectiveDatePolicyTests.cs
Due: unit

Add traits
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/AddressChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
Due: unit

Refactor validator
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataRequestValidator.cs
Due: unit

fix casing
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreatedIntegrationEventExtension.cs
Due: none

update set energy supplier info
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SetEnergySupplierInfo.cs
Due: unit

.
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SetEnergySupplierInfo.cs
Due: unit

Revert "."
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SetEnergySupplierInfo.cs
Due: unit

Revert "update set energy supplier info"
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SetEnergySupplierInfo.cs
Due: unit

use setEnergySupplierInfo instead of setFuture
  source/Energinet.DataHub.MeteringPoints.Application/Connect/FutureEnergySupplierChangeRegisteredHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SetFutureEnergySupplierInfo.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SetFutureEnergySupplierInfoHandler.cs
Due: unit

Add metering point owner authorization handler
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Authorization/GridOperatorIsNotOwnerOfMeteringPointErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeTests.cs
Due: unit

Add metering point ownership provider
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit

Add user context stub
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/UserContextStub.cs
Due: none

Add logic to manipulate current authenticated user
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Move provider to another home
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Providers/MeteringPointOwnership/IMeteringPointOwnershipProvider.cs
  source/Energinet.DataHub.MeteringPoints.Application/Providers/MeteringPointOwnership/MeteringPointOwnershipProvider.cs
  source/Energinet.DataHub.MeteringPoints.Application/Providers/MeteringPointOwnership/Owner.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit

Remove GLN number parameter and fetch from authenticated user instead
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
Due: unit

Move policy handler to new home
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/GridOperatorPolicies/GridOperatorIsNotOwnerOfMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/GridOperatorPolicies/GridOperatorOwnsMeteringPointPolicy.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Authorization/GridOperatorIsNotOwnerOfMeteringPointErrorConverter.cs
Due: unit

Rename policy
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/GridOperatorPolicies/GridOperatorIsOwnerPolicy.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
Due: unit

Extract interface
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/GridOperatorPolicies/GridOperatorIsOwnerPolicy.cs
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/GridOperatorPolicies/IGridOperatorIsOwnerPolicy.cs
Due: unit

added consume energy supplier changed registered event
  source/Energinet.DataHub.MeteringPoints.Application/Connect/FutureEnergySupplierChangeRegisteredHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Notifications/FutureEnergySupplierChangeRegistered/FutureEnergySupplierChangeRegisteredInboundMapper.cs
Due: unit

Move authorization to authorizer object
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Authorizer.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/IAuthorizer.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit

Update NuGets
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
Due: integration

Refactor authorizer
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Authorizer.cs
Due: unit

Invoke process authorizer from pipeline behaviour
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessResult.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Authorization/NullAuthorizer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Pipeline/AuthorizationBehavior.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit

Register process authorizers
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
Due: integration

Extract authorizer registration to extension method
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Authorization/AuthorizationRegistrationExtensions.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: integration

Remove example handlers
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/AuthorizationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/AuthorizationHandlers/ExampleAuthorizationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/IAuthorizationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions/SimpleInjectorExtensions.cs
Due: unit

Remove interface
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/GridOperatorPolicies/GridOperatorIsOwnerPolicy.cs
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/GridOperatorPolicies/IGridOperatorIsOwnerPolicy.cs
Due: unit

Add restriction
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/IAuthorizer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Authorization/NullAuthorizer.cs
Due: unit

Move to new home
  source/Energinet.DataHub.MeteringPoints.Application/Authorization/IAuthorizer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Authorization/AuthorizationRegistrationExtensions.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit

Remove unused imports
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
Due: unit

Set correlation id for message hub items in outbox
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/MessageHubMessage.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/LocalMessageHubDataAvailableClient.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/LocalMessageHubTests.cs
Due: unit, integration

fixes from PR
  .github/actions/dotnet-build-and-test/action.yml
  .github/actions/publish-release-contents/action.yml
  .github/templates/azure-function-cd-template.yml
  .github/templates/azure-function-ci-template.yml
Due: none

Move to infrastructure
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Providers/MeteringPointOwnership/MeteringPointOwnershipProvider.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: integration

Add settlement method input validation
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataRequest.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataRequestValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodValidator.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/TestUtils.cs
Due: unit

rename files
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-ingestion.tf
  build/infrastructure/main/func-internalcommanddispatcher.tf
  build/infrastructure/main/func-localmessagehub.tf
  build/infrastructure/main/func-outbox.tf
  build/infrastructure/main/func-processing.tf
  build/infrastructure/main/plan-shared.tf
Due: none
