Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

.
  source/Energinet.DataHub.MeteringPoints.Application/Queries/MeteringPointGridAreaCodeQuery.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointGridAreaCodeQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/OnConsumptionMeteringPointCreated.cs
Due: unit

Remove squadron azure
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
Due: none

Remove
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
Due: none

Fix syntax
  .github/workflows/infrastructure-cd.yml
Due: none

Moved connection strings in .tf
  build/infrastructure/main/app-webapi.tf
Due: none

Changed webapi cd to use azure webapps deploy
  .github/workflows/webapi-cd.yml
Due: none

Contract updates
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeasurementUnitType.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreated.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreatedIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreatedIntegrationEventExtension.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/OnConsumptionMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: unit, integration

.
  .github/workflows/webapi-cd.yml
  .github/workflows/webapi-ci.yml
Due: none

Removed setup .net 3.1 from .yml file
  .github/workflows/webapi-cd.yml
Due: none

Update mapper
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreatedOutBoundMapper.cs
Due: none

Clean up
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/OnConsumptionMeteringPointCreated.cs
Due: none

.
  .github/workflows/webapi-cd.yml
Due: none

revert to internal
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/IOutboxMessageDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/OutboxMessageDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/OutboxOrchestrator.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/OutboxWatcher.cs
Due: integration

Encapsulate capacity
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/CapacityRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Capacity.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/CreationRules.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/MeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/CapacityRequirementRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/InvalidCapacityExeception.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/CapacityIsRequiredRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/CapcityFormatRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/InvalidCapacityFormatRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/BusinessRulesValidationResult.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/InvalidCapacityFormatRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/CapacityTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CapacityRuleTests.cs
Due: unit

Added license to plan-meteringpoint.tf
  build/infrastructure/main/plan-meteringpoint.tf
Due: none

Removed all environments than U from deployment matrix
  .github/workflows/webapi-cd.yml
Due: none

Renamed app name in webapi-cd.yml
  .github/workflows/webapi-cd.yml
Due: none

moved into respective folders
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Exchange/ExchangeMeteringPointCreated.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Production/ProductionMeteringPointCreated.proto
Due: none

Clean up input validation rule
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/CapacityRule.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CapacityRuleTests.cs
Due: unit

Register repository with DI
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
Due: integration

lwoer snake case
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Exchange/ExchangeMeteringPointCreated.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Production/ProductionMeteringPointCreated.proto
Due: none

Fix nullable bug
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPointCreated.cs
Due: unit

Add capacity to domain model
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202109301530 Add capacity.sql
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Capacity.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/CapacityFormatRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
Due: unit, integration

Follow ups from Pr feedback
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/EntryPoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/IIntegrationEventMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/IIntegrationMetadataContext.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/IntegrationEventServiceBusMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/IntegrationMetadataContext.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/OutboxMessageDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/OutboxOrchestrator.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/ConsumptionMeteringPointCreatedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/CreateMeteringPointDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/IntegrationEventDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MeteringPointConnectedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreated.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/OnConsumptionMeteringPointCreated.cs
Due: integration

Update PostOffice PoorMansPackage
  source/Energinet.DataHub.MeteringPoints.Infrastructure/SubPostOffice/SubPostOfficeClient.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/DummyDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/DummyPostOfficeMessageMetadataRepository.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SubPostOffice/SubPostOfficeTests.cs
  source/PoorMansPackages/GreenEnergyHub.PostOffice.Communicator.dll
Due: unit

Clean up
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/EntryPoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
Due: integration

Pr updates
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/IIntegrationEventMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/IIntegrationMetadataContext.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/IntegrationEventServiceBusMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/IntegrationMetadataContext.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/ServiceBusMessageExtension.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/ConsumptionMeteringPointCreatedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/CreateMeteringPointDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/IntegrationEventDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MeteringPointConnectedDispatcher.cs
Due: integration

Add extension methods with tests for mapping from and to EnumerationType/enum
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Helpers/EnumerationMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreatedIntegrationEventExtension.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/Consumption/ConsumptionMeteringPointCreatedOutBoundMapper.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EnumerationMapperTests.cs
Due: unit

Revert to scoped
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
Due: integration

Cleanup and renaming
  source/Energinet.DataHub.MeteringPoints.Tests/EnumerationMapperTests.cs
Due: unit

Add license
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Helpers/EnumerationMapper.cs
Due: none

Add connection type rules for market metering points
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/CreateMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/ConnectionTypeRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/InvalidConnectionTypeRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/MeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Rules/ConnectionTypeIsRequiredRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Rules/ConnectionTypeRequirementRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ConnectionTypeIsRequiredRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/InvalidConnectionTypeRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/ConnectionRuleTypeTests.cs
Due: unit

Remove unused field
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
Due: unit

Remove obsolete code
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
Due: unit

Move connection type column to market metering points
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202110011345 Add ConnectionType.sql
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
Due: integration

Remove unused configuration
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
Due: none

Rename property
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Capacity.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/CapacityTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
Due: unit
