Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

add nonclustered index
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202105251000 Add outbox index.sql
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/OutboxManager.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: integration

Clean up
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Repository/IIntegrationEventRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Repository/IntegrationEventRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Services/IntegrationEventDispatchOrchestrator.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Outbox/IntegrationEventTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Repositories/IntegrationEventRepositoryTests.cs
Due: unit, integration

Added validation for meteringpoint type. Added test.
  source/Energinet.DataHub.MeteringPoints.Application/Validation/CreateMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringPointTypeRequiredValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringPointTypeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringPointTypeValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit

Add connection type
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConnectionType.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeteringPointTests.cs
Due: unit

add nonclustered index (#100)
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202105251000 Add outbox index.sql
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/OutboxManager.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: integration

Corrections and test updates
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Dispatchers/MeteringPointCreatedNotificationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Helpers/IntegrationEventTypeFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Mappers/CreateMeteringPointEventMessageMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Services/IntegrationEventDispatchOrchestrator.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/CreateMeteringPointEventMessageHandlerTestDispatcher.cs
Due: none

Update
  source/Energinet.DataHub.MeteringPoints.Tests/Outbox/IntegrationEventTests.cs
Due: unit

Moved deserialization to its own class
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/CreateMeteringPointHttpTrigger.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/Input/CreateMeteringPointXmlDeserializer.cs
Due: integration

Re-add CleanupDatabase
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Integration message updated
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPointCreated.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Dispatchers/CreateMeteringPointEventMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Dispatchers/MeteringPointCreatedNotificationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Mappers/CreateMeteringPointEventMessageMapper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit

Added connection strings to Terraform configuration
  build/infrastructure/azfun-outbox.tf
  build/infrastructure/azfun-processing.tf
Due: none

don't verify container in buildermediator
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/MediatR/SimpleInjectorMediatorContainerExtensions.cs
Due: integration

Cleanup database was commented out
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Add powerplant GSRN number
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/SampleData.cs
Due: unit

More Terraform configuration
  build/infrastructure/azfun-outbox.tf
  build/infrastructure/azfun-processing.tf
  build/infrastructure/kv-sharedresources.tf
  build/infrastructure/sqldb-meteringpoint.tf
  build/infrastructure/sqlsrv-meteringpoint.tf
Due: none

Added validation for street name, city name, post code. Added shared validation error. Added tests for new validations.
  source/Energinet.DataHub.MeteringPoints.Application/Validation/CreateMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/CityNameMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/PostCodeMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/StreetNameMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/MandatoryFieldForMeteringPointTypeValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/MaximumLengthValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/WrongFormatValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit

Refactor for structure for ValidationErrors.
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/CityNameMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/GsrnNumberMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringGridAreaValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringPointTypeRequiredValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringPointTypeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringPointTypeValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/OccurenceDateValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/PostCodeMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/StreetNameMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/GsrnNumberMustBeValidValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/MeteringGridAreaLengthValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/MeteringGridAreaMandatoryValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/MeteringPointTypeRequiredValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/MeteringPointTypeValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/OccurenceDateWrongFormatValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/OccurenceRequiredValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/SettlementMethodMissingRequiredDomainValuesValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/SettlementMethodNotAllowedValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/SettlementMethodRequiredValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/WrongFormatValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/GsrnNumberMustBeValidErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/SettlementMethodMissingRequiredDomainValuesErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/SettlementMethodRequiredErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/ErrorValidationRegistrationTests.cs
Due: unit

Add reading occurrence
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202118051215 Create MeteringPoints tables.sql
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ReadingOccurrence.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeteringPointTests.cs
Due: unit, integration

Added error converters for validation errors
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringPointTypeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MandatoryFieldForMeteringPointTypeErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MaximumLengthErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringGridAreaLengthErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringGridAreaMandatoryErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringPointTypeErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringPointTypeRequiredErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/OccurenceDateWrongFormatErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/OccurenceRequiredErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/WrongFormatErrorConverter.cs
Due: unit

Adding missing license header
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringPointTypeErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringPointTypeRequiredErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/OccurenceDateWrongFormatErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/OccurenceRequiredErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/WrongFormatErrorConverter.cs
Due: none

Add product type
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductType.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeteringPointTests.cs
Due: unit

Added missing license header in MaximumLengthValidationError
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/MaximumLengthValidationError.cs
Due: unit

Pr comment updates
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Events/CreateMeteringPointEventMessage.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Dispatchers/MeteringPointCreatedNotificationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Repository/IIntegrationEventRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Repository/IntegrationEventRepository.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/IntegrationServices/Services/IntegrationEventDispatchOrchestrator.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: unit, integration

Changed deserializer to accept stream
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/CreateMeteringPointHttpTrigger.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/Input/CreateMeteringPointXmlDeserializer.cs
Due: integration

Added unit test
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/CreateMeteringPointCimXml.xml
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlDeserializerTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Energinet.DataHub.MeteringPoints.Tests.csproj
Due: unit

Restructuring
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/RequestHandlers/CreateMeteringPointEventHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Channels/AzureEventHubChannel.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Contracts/IntegrationEventContract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Dispatchers/IntegrationEventToEventHubDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Handlers/MeteringPointCreatedNotificationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Helpers/IntegrationEventTypeFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Mappers/CreateMeteringPointEventMessageMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Messages/CreateMeteringPointEventMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Services/IntegrationEventDispatchOrchestrator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Processing/Contracts/Contract.proto
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/CreateMeteringPointEventMessageHandlerTestDispatcher.cs
Due: integration

Disable test due to flackyness
  source/Energinet.DataHub.MeteringPoints.Tests/EnumerationTypeTest/ReflectionStrategyTests.cs
Due: unit

Add settlement method
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/SettlementMethod.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeteringPointTests.cs
Due: unit

Add asset type
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/AssetType.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeteringPointTests.cs
Due: unit

Update sqldb-meteringpoint.tf
  build/infrastructure/sqldb-meteringpoint.tf
Due: none

Update resource-group.tf
  build/infrastructure/resource-group.tf
Due: none

Add asset type (#109)
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/AssetType.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeteringPointTests.cs
Due: unit

Add settlement method (#108)
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/SettlementMethod.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeteringPointTests.cs
Due: unit

Add product type (#106)
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductType.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EnumerationTypeTest/ReflectionStrategyTests.cs
Due: unit

Set up translation of constants
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/Input/CreateMeteringPointXmlDeserializer.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/CreateMeteringPointCimXml.xml
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlDeserializerTests.cs
Due: unit

fix wrong variable
  build/infrastructure/sqldb-meteringpoint.tf
Due: none
