Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Refactor location description validation rule
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Exchange/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Production/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/ValidationRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/LocationDescriptionMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/MasterDataDocumentReceiveTests.cs
Due: unit

Refactor power plant validation rule
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Production/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/ValidationRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/PowerPlantMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/PowerPlantRuleTests.cs
Due: unit

Refactor asset type validation rule
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Production/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/ValidationRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/AssetTypeRule.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/MasterDataDocumentReceiveTests.cs
Due: unit

Move country code validation rule to command level
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Exchange/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Production/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/ValidationRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/MasterDataDocumentReceiveTests.cs
Due: unit

Remove duplicate rule definition
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/Validation/RuleSet.cs
Due: unit

Move effective date validation rule definition to command level
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Exchange/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Production/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/ValidationRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit

Remove test since the rule is enforced at domain level
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit

Fix broken test
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit

Move test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: none

Move test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/MasterDataDocumentReceiveTests.cs
Due: none

Remove obsolete test class
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/MasterDataDocumentReceiveTests.cs
Due: none

Remove obsolete class
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/TestHost.cs
Due: none

Remove obsolete class
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/TestBusinessRequestResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Remove obsolete objects
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/TestBusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/TestBusinessRequest.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/TestBusinessRequestHandler.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Add location description as parameter
  source/Energinet.DataHub.MeteringPoints.Application/Address.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/AddressValidator.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/CreateConsumptionMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Exchange/CreateExchangeMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Production/CreateProductionMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Addresses/Address.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/AddressTests.cs
Due: unit

Add test for location description
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/AddressTests.cs
Due: unit

Add location description to address
  source/Energinet.DataHub.MeteringPoints.Domain/Addresses/Address.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/AddressTests.cs
Due: unit

Handle location description
  source/Energinet.DataHub.MeteringPoints.Domain/Addresses/Address.cs
Due: unit

Update configuration to include location description for address
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
Due: none

Remove location description as constructor parameter
  source/Energinet.DataHub.MeteringPoints.Domain/Addresses/Address.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Exchange/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Exchange/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Production/CreationTests.cs
Due: unit

Remove location description from metering point
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
Due: unit

Remove location description from parameter objects
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/CreateConsumptionMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Exchange/CreateExchangeMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Production/CreateProductionMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Exchange/ExchangeMeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPointDetails.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Exchange/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Production/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
Due: unit

Add location details to factory methods
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/CreateConsumptionMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Exchange/CreateExchangeMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Production/CreateProductionMeteringPointHandler.cs
Due: unit

Remove location description value object
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/ValidationRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/LocationDescriptionMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/LocationDescription.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/MasterDataDocumentReceiveTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Exchange/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/LocationDescriptionTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Production/CreationTests.cs
Due: unit

Move location description rule to new home
  source/Energinet.DataHub.MeteringPoints.Domain/Addresses/Rules/InvalidLocationDescriptionRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Addresses/Rules/LocationDescriptionLengthRule.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/LocationDescriptionMaximumLengthValidErrorConverter.cs
Due: unit

Remove unnecessary cascade definition
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/Validation/RuleSet.cs
Due: unit

move from gsrn to id
  source/Energinet.DataHub.MeteringPoints.Application/Connect/ConnectMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SendAccountingPointCharacteristicsMessageHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/EDI/IBusinessDocumentFactory.cs
  source/Energinet.DataHub.MeteringPoints.Application/EnergySuppliers/EnergySupplierDto.cs
  source/Energinet.DataHub.MeteringPoints.Application/EnergySuppliers/Queries/EnergySuppliersByMeteringPointIdQuery.cs
  source/Energinet.DataHub.MeteringPoints.Application/MeteringPointPipelineContext.cs
  source/Energinet.DataHub.MeteringPoints.Application/Queries/MeteringPointByIdQuery.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Contracts/Contract.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/EnergySuppliers/Queries/EnergySuppliersByMeteringPointIdQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointByIdQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/BusinessDocumentFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ConnectMeteringPoint/ConnectMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/Connect/SendAccountingPointCharacteristicsMessageInbound.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/Connect/SendAccountingPointCharacteristicsMessageOutbound.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/AccountingPointCharacteristics/AccountingPointCharacteristicsSerializerTests.cs
Due: unit, integration

Separate the process of creating updated values and updating the metering point to individual objects
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataRequest.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/MasterDataDetails.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/MasterDataValueTransformer.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/MasterDataValueUpdater.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/MasterDataDocument.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringMethodMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ChangeMasterDataFacade.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
Due: unit

update cim message
  source/Energinet.DataHub.MeteringPoints.Application/EnergySuppliers/EnergySupplierDto.cs
  source/Energinet.DataHub.MeteringPoints.Domain/Extensions/InstantExtensions.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/EnergySuppliers/Queries/EnergySuppliersByMeteringPointIdQueryHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/NodaTimeSqlMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/BusinessDocumentFactory.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/AccountingPointCharacteristics/AccountingPointCharacteristicsSerializerTestOutput.xml
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/AccountingPointCharacteristics/AccountingPointCharacteristicsSerializerTests.cs
Due: unit

Add logic to ensure closed down metering points cannot be updated or changed
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConnectionState.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/ClosedDownMeteringPointCannotBeChangedError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/ChangeMasterData/ClosedDownMeteringPointCannotBeChangedErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
Due: unit

fix unit test
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/AccountingPointCharacteristics/AccountingPointCharacteristicsSerializerTests.cs
Due: unit

remove test output file
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/AccountingPointCharacteristics/AccountingPointCharacteristicsSerializerTestOutput.xml
Due: unit
