Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Change name back to obj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Connect/MeteringPointConnectedMapper.cs
Due: none

Pr updates
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringPointSubTypeMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/MeteringPointExchangeReactiveEnergySubTypeMustBePhysicalOrVirtualValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringPointExchangeReactiveEnergySubTypeMustBePhysicalOrVirtualErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringPointSubTypeMustBePhysicalOrVirtualErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/MeteringPointSubTypeRuleTests.cs
Due: unit

Added validations for Physical State
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/CreateMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/PhysicalStateRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/PhysicalStateInvalidValueValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/PhysicalStateMandatoryValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/PhysicalStateInvalidValueErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/PhysicalStateMandatoryErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/PhysicalStateTests.cs
Due: unit

Add integration test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Change all fields in CreateMeteringPoint to nullable if not mandatory in every case
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/BuildingNumberRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/CityNameMandatoryForMeteringPointTypeMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/CityNameRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/CitySubDivisionNameRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/ConnectionTypeRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/FloorIdentificationRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/LocationDescriptionMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringPointSubTypeMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/NetSettlementGroupRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/PostCodeMandatoryForMeteringPointTypeMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/PostCodeRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/PowerPlantMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/RoomIdentificationRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/StreetNameMandatoryForMeteringPointTypeMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/StreetNameRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/ConnectionTypeMandatoryValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/ConnectionTypeNetSettlementGroupValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/ConnectionTypeWrongValueValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/PowerPlantValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/SettlementMethodRequiredValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Address.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Processing/Contracts/Contract.proto
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
Due: unit

Add topic configuration file
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Connect/MeteringPointConnectedTopic.cs
Due: none

Refactor: Add integration event base handler to remove duplication of outbox message creation and handling
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Connect/OnMeteringPointConnected.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedNotificationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/IntegrationEventPublisher.cs
Due: none

Added business rules for Connect Metering Point
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessResult.cs
  source/Energinet.DataHub.MeteringPoints.Application/ConnectMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringPointMustBeKnownRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/MeteringPointMustBeKnownRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/MeteringPointMustHavePhysicalStateNewRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/MeteringPointMustHavePhysicalStateNewRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/BusinessRulesValidationResult.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringPointMustBeKnownRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringPointMustHavePhysicalStateNewErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
Due: unit

Added test cases with value null for Building Number
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ConnectMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/Address/BuildingNumberRuleTests.cs
Due: unit

Settlement Method changed to nullable type (#217)
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/SettlementMethodNotAllowedValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/SettlementMethodRequiredValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Processing/Contracts/Contract.proto
Due: unit

Stopped forward slash happy hour
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/MeteringPointSubTypeMustBePhysicalOrVirtualValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/MeteringPointSubTypeValueMustBeValidValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/MeteringPointTypeConsumptionOrProductionIsNotInNetSettlementZeroOrNinetyNineMustBeSubtypeVirtualOrCalculatedValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringPointSubTypeMustBePhysicalOrVirtualErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringPointSubTypeValueMustBeValidErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringPointTypeConsumptionOrProductionIsNotInNetSettlementZeroOrNinetyNineSubtypeVirtualOrCalculatedErrorConverter.cs
Due: unit

Add trait
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
Due: none

Added traits
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/ConnectionRuleTypeTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/DisconnectionRuleTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/LocalDescriptionRuleTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/MeteringPointSubTypeRuleTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/PowerPlantRuleTests.cs
Due: unit

Add trait
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/PhysicalStateTests.cs
Due: unit

Added test for connect with not existing metering point
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
Due: none

Added business rules for Connect Metering Point (#220)
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessResult.cs
  source/Energinet.DataHub.MeteringPoints.Application/ConnectMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringPointMustBeKnownRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/MeteringPointMustBeKnownRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/MeteringPointMustHavePhysicalStateNewRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Rules/MeteringPointMustHavePhysicalStateNewRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/SeedWork/BusinessRulesValidationResult.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringPointMustBeKnownRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringPointMustHavePhysicalStateNewErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/SampleData.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/ConnectionRuleTypeTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/DisconnectionRuleTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/LocalDescriptionRuleTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/MeteringPointSubTypeRuleTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/PowerPlantRuleTests.cs
Due: unit

initial
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/EventDispatchers/IntegrationEventDispatchOrchestrator.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/EventDispatchers/MeteringPointConnectedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/OutboxActorWatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/OutboxEventWatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Helpers/IntegrationEventTypeFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Connect/MeteringPointConnectedIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/Connect/MeteringPointConnectedMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MeteringPointCreatedEventMessageMapper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: integration

Added validations for Physical State and changed to nullable fields (#218)
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ConnectMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/CreateMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/BuildingNumberRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/CityNameMandatoryForMeteringPointTypeMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/CityNameRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/CitySubDivisionNameRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/ConnectionTypeRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/FloorIdentificationRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/LocationDescriptionMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringPointSubTypeMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/NetSettlementGroupRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/PhysicalStateRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/PostCodeMandatoryForMeteringPointTypeMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/PostCodeRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/PowerPlantMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/StreetNameMandatoryForMeteringPointTypeMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/StreetNameRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/ConnectionTypeMandatoryValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/ConnectionTypeNetSettlementGroupValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/ConnectionTypeWrongValueValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/PhysicalStateInvalidValueValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/PhysicalStateMandatoryValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/PowerPlantValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Address.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/PhysicalStateInvalidValueErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/PhysicalStateMandatoryErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Processing/Contracts/Contract.proto
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/Address/BuildingNumberRuleTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/PhysicalStateTests.cs
Due: unit

init 2
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/EventDispatchers/IIntegrationEventDispatchOrchestrator.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: integration

Added input validations for Power Limit (#213)
  source/Energinet.DataHub.MeteringPoints.Application/CreateMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/CreateMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/PowerLimitRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/AmperePowerLimitValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/KilowattPowerLimitValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/KilowattPowerLimitErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/PowerLimitErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/CreateMeteringPointXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/Mappers/CreateMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Processing/Mappers/CreateMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/PowerLimitRuleTests.cs
Due: unit

init commit
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/ActorMessages/ActorMessageCoordinator.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/ActorMessages/ActorMessageDispatcherTelemetryDecorator.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/ActorMessages/IActorMessageCoordinator.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/IOutboxMessageDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/OutboxMessageDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/OutboxOrchestrator.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/EventDispatchers/IIntegrationEventDispatchOrchestrator.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/EventDispatchers/IntegrationEventDispatchOrchestrator.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/CreateMeteringPointDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/IntegrationEventDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MeteringPointConnectedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/OutboxActorWatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/OutboxWatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Helpers/OutboxTypeFactory.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: integration

init commit part 2
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/IOutboxMessageDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/OutboxMessageDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/OutboxOrchestrator.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/CreateMeteringPointDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/IntegrationEventDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/MeteringPointConnectedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/OutboxWatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Helpers/OutboxTypeFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/IOutboxManager.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/OutboxManager.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: integration

Rename
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions/SimpleInjectorExtensions.cs
Due: none

Added external annotations to apply UsedImplicitly attributes to implementations of IValidator and IRequestHandler
  source/ExternalAnnotations/FluentValidation.xml
  source/ExternalAnnotations/MediatR.xml
Due: none

Integration event outbox
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/OutboxWatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Outbox/OutboxTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Tooling/InMemoryOutbox.cs
Due: integration

Added licenses
  source/ExternalAnnotations/FluentValidation.xml
  source/ExternalAnnotations/MediatR.xml
Due: none

.
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/ActorMessages/AcceptMessageDispatcher.cs
Due: integration

ActorMessages implementation
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/ActorMessages/AcceptMessageDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/PostOfficeEnvelope.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Helpers/OutboxTypeFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/PostOffice/TempPostOfficeStorageClient.cs
Due: integration

Naming update
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringPointTypeConsumptionOrProductionIsNotInNetSettlementZeroOrNinetyNineMustBeSubtypeVirtualOrCalculatedErrorConverter.cs
Due: none

minor refactor
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/ActorMessages/PostOfficeDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Common/OutboxMessageDispatcherTelemetryDecorator.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Helpers/OutboxTypeFactory.cs
Due: integration

External Annotations (#221)
  source/Energinet.DataHub.MeteringPoints.Infrastructure/ContainerExtensions/SimpleInjectorExtensions.cs
  source/ExternalAnnotations/FluentValidation.xml
  source/ExternalAnnotations/MediatR.xml
Due: none

remove reference to mediatr
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointAccepted.cs
Due: none

fix correlation bug
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Correlation/CorrelationContext.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Correlation/ICorrelationContext.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Outbox/OutboxMessageFactory.cs
Due: none

Added MP connected topic to func variables
  build/infrastructure/main/azfun-outbox.tf
Due: none

Add method for checking business rules prior to constructing consumption metering point. Add rule for powerplant requirement
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/PowerPlantIsRequiredForNetSettlementGroupRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/PowerPlantIsRequiredForNetSettlementGroupRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
Due: unit

Add rule for required street name
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/StreetNameIsRequiredRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/StreetNameIsRequiredRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
Due: unit

Add business rule to ensure that consumption metering point cannot be connected if an energysupplier has not been assigned
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/Connect/MustHaveEnergySupplierRule.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Rules/Connect/MustHaveEnergySupplierRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/ConnectTests.cs
Due: unit

Add validation error converter
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Connect/MustHaveEnergySupplierRuleErrorConverter.cs
Due: none

Remove disabled code
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
Due: unit

Move to correct namespace
  source/Energinet.DataHub.MeteringPoints.Application/Connect/ConnectMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Connect/ConnectMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ConnectMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ConnectMeteringPoint/ConnectMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/ConnectMeteringPointXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Ingestion/Mappers/ConnectMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Processing/Mappers/ConnectMeteringPointMapper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Application/ConnectMeteringPointMapperTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/EDI/CreateMeteringPoint/XmlConverterTests.cs
Due: unit, integration

Path conditions:
  unit: any of: source/Energinet.DataHub.MeteringPoints.Application/, source/Energinet.DataHub.MeteringPoints.Domain/, source/Energinet.DataHub.MeteringPoints.Tests/
  integration: any of: source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/, source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/
