Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

Remove duplicate reference in .csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
Due: integration

missing import after main merge
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
Due: unit

Add GsrnNumber to MessageHubEnvelope and MessageDequeuedEvent (#411)
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202110251200 Add GsrnNumber column to MessageHubMessages table.sql
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MessageHub/MessageHubMessageEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ConnectMeteringPoint/ConnectMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/IMessageHubDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/MessageHubDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/MessageHubEnvelope.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MessageDequeued/MeteringPointMessageDequeued.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MessageDequeued/MeteringPointMessageDequeuedIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MessageDequeued/MeteringPointMessageDequeuedOutBoundMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/LocalMessageHub/MessageHubMessage.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/TestBusinessRequestResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/ILocalMessageHubDataAvailableClient.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/LocalMessageHubDataAvailableClient.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/MessageHubMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/MeteringPointIntegrationEventHandler.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/BundleCreatorTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/LocalMessageHub/LocalMessageHubTests.cs
Due: unit, integration

add fullflexfromdate property
  source/Energinet.DataHub.MeteringPoints.Application/GridAreas/Create/CreateGridAreaHandler.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202110251315 Add FullFlexFromDate column.sql
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/FullFlexFromDate.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridArea.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridAreaDetails.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/GridAreas/GridAreaEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/GridAreas/CreationTests.cs
Due: unit, integration

Updating dequeue contracts and mappers
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Create/CreateDefaultChargeLinksNotification.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChargeLinks/Create/CreateDefaultChargeLinksNotificationHandler.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202110080920 Alter Correlation in QueuedInternalCommands.sql
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/ExchangeMeteringPointCreatedDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MessageDequeued/MeteringPointMessageDequeued.proto
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/CreateMeteringPoint/MessageDequeued/MeteringPointMessageDequeuedOutBoundMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Notifications/MeteringPointMessageDequeued/MeteteringPointMessageDequeuedInboundMapper.cs
Due: unit, integration

Set default value for GsrnNumber
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202110251200 Add GsrnNumber column to MessageHubMessages table.sql
Due: integration

Add default value for GsrnNumber in MessageHubMessage column (#412)
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202110251200 Add GsrnNumber column to MessageHubMessages table.sql
Due: integration

Seems we need to ignore types and only check values if settlement method is present
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/MasterDataDocumentReceiveTests.cs
Due: unit

fix startup registrations
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Startup.cs
Due: none

Update source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodMustBeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodMustBeValidRule.cs
Due: unit

use hashset
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/SettlementMethodMustBeValidRule.cs
Due: unit

Add wildcard to path in Infrastructure CD yml
  .github/workflows/infrastructure-cd.yml
Due: none

Add missing topic to local message hub TF
  build/infrastructure/main/azfun-localmessagehub.tf
Due: none

Add wildcard to path in Infrastructure CD yml (#415)
  .github/workflows/infrastructure-cd.yml
Due: none

Add missing topic to local message hub TF (#416)
  build/infrastructure/main/azfun-localmessagehub.tf
Due: none

remove gsrn from error message
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/Production/PowerplantRequirementRuleErrorConverter.cs
Due: none

Make FullFlexFromDate ValueObject nullable
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202110251315 Add FullFlexFromDate column.sql
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridArea.cs
  source/Energinet.DataHub.MeteringPoints.Domain/GridAreas/GridAreaDetails.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/GridAreas/CreateGridAreaTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/GridAreas/CreationTests.cs
Due: unit, integration

add solution folders
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.sln
Due: none

Change disconnection type rule to not be "legacy" style. Remove irrelevant tests because rule is changed. Add new tests where relevant.
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Production/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/DisconnectionTypeRule.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ProductionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/MarketDocuments/MasterDataDocumentReceiveTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/DisconnectionRuleTests.cs
Due: unit

adjust namespaces
  source/Energinet.DataHub.MeteringPoints.Application.MeteringPoints/Connect/ConnectMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application.MeteringPoints/Connect/ConnectMeteringPointRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application.MeteringPoints/Connect/EnergySupplierChanged.cs
  source/Energinet.DataHub.MeteringPoints.Application.MeteringPoints/Connect/EnergySupplierChangedHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application.MeteringPoints/Connect/SetEnergySupplierInfo.cs
  source/Energinet.DataHub.MeteringPoints.Application.MeteringPoints/Connect/SetEnergySupplierInfoHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application.MeteringPoints/Create/Consumption/CreateConsumptionMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application.MeteringPoints/Create/Consumption/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application.MeteringPoints/Create/Consumption/Validation/ScheduledMeterReadingDateIsRequiredRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Application.MeteringPoints/Create/Exchange/CreateExchangeMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application.MeteringPoints/Create/Exchange/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application.MeteringPoints/Create/Production/CreateProductionMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application.MeteringPoints/Create/Production/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.Application/MeteringPoints/Connect/ConnectMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/MeteringPoints/Create/Consumption/CreateConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/MeteringPoints/Create/Exchange/CreateExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/MeteringPoints/Create/ICreateMeteringPointRequest.cs
  source/Energinet.DataHub.MeteringPoints.Application/MeteringPoints/Create/Production/CreateProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ConnectMeteringPoint/ConnectMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/CreateMeteringPoint/CreateMeteringPointResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/Consumption/ScheduledMeterReadingDateIsRequiredRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/ConnectMeteringPointXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Notifications/Protobuf/EnergySupplierChangedInboundMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/Connect/SetEnergySupplierInfoInbound.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/Connect/SetEnergySupplierInfoOutbound.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ConsumptionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ExchangeMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/ProductionMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/Scenarios.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/ConnectMeteringPointRulesTest.cs
Due: unit, integration

method name changed to reflect what's returned
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/DisconnectionTypeRule.cs
Due: unit

move grid area related logic to the entrypoint
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Controllers/GridAreaController.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Create/CreateGridArea.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Create/CreateGridAreaHandler.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Create/CreateGridAreaNullResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Create/CreateGridAreaRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Create/Validation/Converters/GridAreaCodeFormatRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Create/Validation/Converters/GridAreaNameMaxLengthRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Create/Validation/Converters/PriceAreaCodeRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Create/Validation/Errors/PriceAreaCodeRuleError.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Create/Validation/Rules/PriceAreaCodeRule.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Startup.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/DbGridAreaHelper.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Energinet.DataHub.MeteringPoints.IntegrationTests.csproj
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/GridAreas/CreateGridAreaTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: integration

Fix test
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
Due: unit

add new assembly
  source/Energinet.DataHub.MeteringPoints.Application.Backend/Energinet.DataHub.MeteringPoints.Application.Backend.csproj
  source/Energinet.DataHub.MeteringPoints.Application.Backend/GridAreas/Create/CreateGridArea.cs
  source/Energinet.DataHub.MeteringPoints.Application.Backend/GridAreas/Create/CreateGridAreaHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application.Backend/GridAreas/Create/CreateGridAreaRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application.Backend/GridAreas/Create/Validation/Errors/PriceAreaCodeRuleError.cs
  source/Energinet.DataHub.MeteringPoints.Application.Backend/GridAreas/Create/Validation/Rules/PriceAreaCodeRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/GridAreas/Create/Validation/Errors/PriceAreaCodeRuleError.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Controllers/GridAreaController.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Startup.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/GridAreas/PriceAreaCodeRuleErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/GridAreas/CreateGridAreaNullResultHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/XmlConverter/Mappings/CreateGridAreaXmlMappingConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/GridAreas/CreateGridAreaTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
  source/Energinet.DataHub.MeteringPoints.sln
Due: unit, integration

Fix test
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/TestBase.cs
Due: unit

Move common logic to base class
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
Due: unit

Change namespace
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MasterDataDetails.cs
Due: unit

Flow from Dequeue to first charges request complete
  source/Energinet.DataHub.MeteringPoints.Application/Energinet.DataHub.MeteringPoints.Application.csproj
  source/Energinet.DataHub.MeteringPoints.Application/Integrations/ChargeLinks/Create/CreateDefaultChargeLinks.cs
  source/Energinet.DataHub.MeteringPoints.Application/Integrations/ChargeLinks/Create/CreateDefaultChargeLinksNotification.cs
  source/Energinet.DataHub.MeteringPoints.Application/Integrations/ChargeLinks/Create/CreateDefaultChargeLinksNotificationHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Integrations/ChargeLinks/Create/CreateDefaultChargeLinksSucceeded.cs
  source/Energinet.DataHub.MeteringPoints.Application/Integrations/ChargeLinks/Create/CreateDefaultChargeLinksSucceededHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Integrations/ChargeLinks/Create/RequestDefaultChargeLinks.cs
  source/Energinet.DataHub.MeteringPoints.Application/Integrations/ChargeLinks/Messages/CreateDefaultChargeLinksMessages.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/RequestDefaultChargeLinksDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/Program.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/local.settings.sample.json
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/ChargesResponseReceiver.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Program.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Mappers/CreateDefaultChargeLinksMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/BusinessRequestProcessing/Protobuf/Mappers/CreateDefaultChargeLinksMessagesMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/ChargeLinks/Create/CreateDefaultChargeLinksHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/ChargeLinks/Messages/CreateDefaultChargeLinksMessagesHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Helpers/OutboxTypeFactory.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Notifications/MeteringPointMessageDequeued/MeteteringPointMessageDequeuedInboundMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/CreateDefaultChargeLinks/CreateDefaultChargeLinksOutBoundMapper.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/InternalCommands/Protobuf/Mappers/CreateDefaultChargeLinksMessages/CreateDefaultChargeLinksMessagesOutboundMapper.cs
  source/Energinet.DataHub.MeteringPoints.Tests/AzureFunctionHostConfigurationTests.cs
Due: unit, integration

Rename domain event
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/Events/AddressChanged.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeMasterData/OnMasterDataChanged.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
Due: unit

Raise specific domain event when address is changed
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
Due: unit

Remove integration event
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeMasterData/MasterDataChangedIntegrationEvent.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/IntegrationEvents/ChangeMasterData/OnMasterDataChanged.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeMasterDataTests.cs
Due: none

Rename test
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeMasterDataTests.cs
Due: none

Rename tests
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ChangeMasterData/ConsumptionMeteringPoints/ChangeMasterDataTests.cs
Due: none

From first Charges response to request messages flow
  source/Energinet.DataHub.MeteringPoints.Application/Integrations/ChargeLinks/Messages/RequestDefaultChargeLinksMessages.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/RequestDefaultChargeLinksDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/IntegrationEventDispatchers/RequestDefaultChargeLinksMessagesDispatcher.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/ChargesResponseReceiver.cs
  source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/Energinet.DataHub.MeteringPoints.EntryPoints.Processing.csproj
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/ChargeLinks/Messages/CreateDefaultChargeLinksMessagesHandler.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Integration/Helpers/OutboxTypeFactory.cs
Due: unit, integration

update mediatr registration
  source/Energinet.DataHub.MeteringPoints.EntryPoints.WebAPI/Startup.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/TestHost.cs
Due: none

Change namespace
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Events/AddressChanged.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/ChangeMasterDataTests.cs
Due: unit

Remove abstract methods
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Exchange/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointMock.cs
Due: unit

Path conditions:
  unit: any of: source/Energinet.DataHub.MeteringPoints.Application/, source/Energinet.DataHub.MeteringPoints.Domain/, source/Energinet.DataHub.MeteringPoints.Tests/
  integration: any of: source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/, source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/, source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/
