Repository Energinet-DataHub/ARCHIVED-geh-metering-point: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/Energinet.DataHub.MeteringPoints.Application/
      - source/Energinet.DataHub.MeteringPoints.Domain/
      - source/Energinet.DataHub.MeteringPoints.Tests/
  integration:
    paths:
      - source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Common/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Ingestion/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Outbox/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.Processing/
      - source/Energinet.DataHub.MeteringPoints.EntryPoints.IntegrationTests/

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Remove powerplant
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/CreateConsumptionMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Production/CreateProductionMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/IMasterDataBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Exchange/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Special/SpecialMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
Due: unit

Remove capacity
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/CreateConsumptionMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Production/CreateProductionMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Exchange/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Special/SpecialMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Special/CreationTests.cs
Due: unit

Remove metering configuration
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/CreateConsumptionMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Exchange/CreateExchangeMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Production/CreateProductionMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/IMasterDataBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Exchange/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Special/SpecialMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
Due: unit

Expand test with new topic
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
Due: none

Remove address
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/CreateConsumptionMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Exchange/ExchangeMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Special/SpecialMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Exchange/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Production/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Special/CreationTests.cs
Due: unit

update smoke test with full flow
  source/MeteringPoints.EntryPoints.IntegrationTests/Extensions/WhenProviderExtensions.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointHttpTriggerTests.cs
  source/MeteringPoints.EntryPoints.IntegrationTests/MeteringPoints.EntryPoints.IntegrationTests.csproj
  source/MeteringPoints.EntryPoints.IntegrationTests/Mocks/MessageHubMock.cs
Due: none

update codeowners
  .github/CODEOWNERS
Due: none

Move settlement method to MeteringPoints table
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202112071500 Move settlement method.sql
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointDtoQueryHelper.cs
Due: unit, integration

Move scheduled meter reading date to metering points table
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202112071531 Move scheduled meter reading date.sql
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
Due: integration

Move production obligation to master data
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202112071541 Move production obligation.sql
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/IMasterDataBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterData.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilderBase.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointDtoQueryHelper.cs
Due: unit, integration

Move net settlement group
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202112071556 Move net settlement group.sql
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointDtoQueryHelper.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/Consumption/CreationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
Due: unit, integration

Move disconnection type to metering points table
  source/Energinet.DataHub.MeteringPoints.Application/Create/Production/CreateProductionMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202112071604 Move disconnection type.sql
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointDtoQueryHelper.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
Due: unit, integration

Move connection type to metering points
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202112071612 Move connection type.sql
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointDtoQueryHelper.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointMock.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
Due: unit, integration

update codeowners (#519)
  .github/CODEOWNERS
Due: none

fix bug in test helper method
  source/MeteringPoints.EntryPoints.IntegrationTests/Functions/MeteringPointFunctionAppTests.cs
Due: none

Removed outcommented code
  source/MeteringPoints.EntryPoints.IntegrationTests/Fixtures/MeteringPointFunctionAppFixture.cs
Due: none

Pull up method
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
Due: unit

Move energy supplier details to metering points
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202112081000 Move energy supplier details.sql
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/Queries/MeteringPointDtoQueryHelper.cs
Due: integration

Only accounting points can have a energy supplier assigned
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MarketMeteringPoints/Execeptions/CannotAssignEnergySupplierExeception.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPointType.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/MarketMeteringPointTests.cs
Due: unit

Pull up connect method
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
Due: unit

update message content with smes
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Acknowledgements/AcknowledgementXmlSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Acknowledgements/MarketActivityRecord.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Acknowledgements/MarketActivityRecordWithReasons.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Acknowledgements/RejectMessage.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/ActorMessageFactory.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/ConfirmMessageSerializer.cs
  source/Energinet.DataHub.MeteringPoints.Messaging/Bundling/RejectMessageSerializer.cs
Due: none

Add rule for city
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/ConsumptionMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ConsumptionMeteringPointValidationTests.cs
Due: unit

Add rule for city
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Production/ProductionMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ProductionMeteringPointValidationTests.cs
Due: unit

Add error converter
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/StreetNameIsRequiredConverter.cs
Due: none

Add error converter
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/Create/Consumption/PowerPlantIsRequiredForNetSettlementGroupErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/Energinet.DataHub.MeteringPoints.Infrastructure.csproj
Due: none

Set energy supplier details on metering point
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
Due: unit

Add rule for metering reading occurrence
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Consumption/ConsumptionMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ConsumptionMeteringPointValidationTests.cs
Due: unit

Add rule for meter reading occurence
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/Production/ProductionMeteringPointValidator.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ProductionMeteringPointValidationTests.cs
Due: unit

Add new factory method
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/CreateConsumptionMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterDataBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
Due: unit

Update consumption connect test
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/ConnectTests.cs
Due: unit

Comments update
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Consumption/ConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/ConnectMeteringPoints/ConnectTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MeteringPoints/MarketMeteringPoints/ConnectTests.cs
Due: unit

Change foreign key constraint from market metering point to metering point
  source/Energinet.DataHub.MeteringPoints.Application/Connect/SetEnergySupplierDetailsHandler.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Scripts/Model/202112091530 Change EnergySuppliers foreign key constraint.sql
Due: unit, integration

Add and use factory method of metering point
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/ChangeMasterDataHandler.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/MasterDataValueTransformer.cs
  source/Energinet.DataHub.MeteringPoints.Application/ChangeMasterData/Consumption/MasterDataValueUpdater.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/CreateConsumptionMeteringPointHandler.cs
  source/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp/Energinet.DataHub.MeteringPoints.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/IMasterDataBuilder.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MasterDataHandling/MasterData.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/MeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Domain/MeteringPoints/Production/ProductionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/DataAccess/MeteringPoints/MeteringPointEntityConfiguration.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ConsumptionMeteringPointValidationTests.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Domain/MasterDataHandling/ProductionMeteringPointValidationTests.cs
Due: unit, integration

Remove used dependencies
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/CreateConsumptionMeteringPointHandler.cs
Due: unit

Remove unused imports
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/CreateConsumptionMeteringPointHandler.cs
Due: unit

Move metering point type validation to command level
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/CreateConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/MarketDocuments/ValidationRuleSet.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/Scenarios.cs
  source/Energinet.DataHub.MeteringPoints.Tests/Validation/CreateMeteringPointRuleSetTests.cs
Due: unit

Move rule for valid metering point type to command level
  source/Energinet.DataHub.MeteringPoints.Application/Common/BusinessProcessCommandFactory.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.IntegrationTests/CreateMeteringPoints/CreateTests.cs
Due: unit

Remove gsrn number
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/Validation/RuleSet.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringPointTypeValidRule.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/MeteringPointTypeRequiredValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Application/Validation/ValidationErrors/MeteringPointTypeValidationError.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringPointTypeErrorConverter.cs
  source/Energinet.DataHub.MeteringPoints.Infrastructure/EDI/Errors/Converters/MeteringPointTypeRequiredErrorConverter.cs
Due: unit

Remove obsolete rule
  source/Energinet.DataHub.MeteringPoints.Application/Validation/Rules/MeteringPointTypeValidRule.cs
Due: unit

Read metering point type from command
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/CreateConsumptionMeteringPoint.cs
  source/Energinet.DataHub.MeteringPoints.Application/Create/Consumption/CreateConsumptionMeteringPointHandler.cs
Due: unit
